* {
    box-sizing: border-box;
}

@font-face {
    font-family: Amazon Ember;
    src: url('../fonts/Amazon-Ember-Regular.ttf');
}

body {
    font-family: "Amazon Ember" !important;
    overflow-y: auto !important;
}

.webfooter {
    border-top: 1px solid #efefef;
    height: 30px;
    display: flex;
    align-items: center;
    left: 0px;
    position: fixed;
    background: #fff;
    z-index: 5;
    right: 0px;
    bottom: 0px;
}

.webfooter p {
    font-size: 14px;
    color: #1e384d;
    margin: 0px;
    text-align: center;
}

.wrapper {
    padding: 0px 15px;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1296px;
}

.loginHeader {
    height: 75px;
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.3);
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
}
.loginBg {
   /* min-height: calc(115vh - 125px);
    padding-bottom: 30px;
    margin-top: 75px; 
    background-image: url(../images/loginBg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;*/
    display: none;
}
.loginBgCor {
    min-height: calc(100vh - 105px);
    padding-bottom: 30px;
    /* margin-top: 75px; */
    background-image: url(../images/loginBg.jpg);
    background-size: cover;
}
.loginBgHel {
    min-height: calc(115vh - 125px);
    padding-bottom: 30px;
    /* margin-top: 75px; */
    background-image: url(../images/MyHealthLoginBg.jpg);
    background-size: cover;
}
.loginBgHiv {
    min-height: calc(120vh - 105px);
    padding-bottom: 30px;
    /* margin-top: 75px; */
    background-image: url(../images/HiveloginBg.jpg);
    background-size: cover;
}

.hivesignupcontainer {
    /*display: flex;*/
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    gap: 8px;
    position: absolute;
    width: 990px;
    height: 665px;
    left: 455px;
    top: 100px;
    /* Whitey */

    background: #FFFFFF;
    /* Grayie */

    border: 1px solid #E8EAF6;
    box-shadow: 16px 16px 32px -32px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.loginContainer {
    margin: 15px 15px;
    width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    position: relative;
}

.containerhiv {
    position: absolute;
    width: 165px;
    height: 86px;
    /* left: 741px; */
    top: 80px;
}

.container1 {
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    position: relative;
    width: 514px;
    height: 440px;
    margin: 22px 15px;
    /* left: 602px; */
    /* top: 306px; */
    background: #FFFFFF;
    border: 1px solid #E8EAF6;
    box-shadow: 16px 16px 32px -32px rgb(0 0 0 / 5%);
    border-radius: 24px;
}

.buttonhiv {
    color: #fff;
    background: #100146;
    border-radius: 24px;
    width: 440px;
    height: 50px;
    margin-top: 35px;
}

.loginBgCor {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBgHel {
    display: flex;
    align-items: center;
    justify-content: right;
}

.loginBgHiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer h1 {
    font-size: 36px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    /*background-image: url(../images/logoIcon.png);*/
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}
.loginContainer h3 {
    font-size: 36px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.loginContainer p {
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 16px;
}

.loginContainer input[type="text"], .loginContainer input[type="password"] {
    margin-bottom: 20px;
    font-size: 15px;
    height: 34px!important;
    max-width:100%!important;
}
.loginContainer input[type="checkbox"]{
    margin: 0px 5px 0px 0px;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.loginContainer p a {    
    color: #337ab7;
    text-decoration: none;
}
.loginContainer p a:hover {
    text-decoration: underline;
    cursor:pointer;
}
.loginContainer a {    
    color: #337ab7;
    text-decoration: none;
}
.loginContainer a:hover {
    text-decoration: underline;
    cursor:pointer;
}

.loginContainer label {
    font-size: 15px;
    font-weight: normal;
}

.loginBtn {
    color: #fff;
    background: #3f82a6;
   border: none;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.loginBtn:hover {
    background: #347294;
}
.loginContainer h2{
    text-align: center;
    font-size: 14px;
    margin: 15px 0px;
}
.loginOptions{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    border: 2px solid #3f82a6;
    border-radius: 5px;
    text-decoration: none !important;
    outline: none !important;
}   
.loginOptions img{
    width: 20px;
    margin-right: 5px;
}


.version{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 11px;
}