* {
    box-sizing: border-box;
}

:root {
    --primary: 002269;
    --secondary: #555;
    --headerBg: #002269;
    --headerText: #fff;
    --footerBg: #f6f6f6;
    --headder: #555;
    --warning: #ea4335;
    --baseFontSize: 14px;
    --title: #032b5c;
    --subTitle: #032b5c;
    --TableHeaderBg: #35a9e4;
    --TableHeaderText: #fff;
    --TableAlternateRowBg: #7a8ddb1a;
    --TableAlternateRowText: #333;
    --TableRowHoverBg: #efefef;
    --TableRowHoverText: #333;
    --linkText: #337ab7;
    --positiveBtnBg: #35a9e4;
    --positiveBtnBorder: transparent;
    --positiveBtnText: #fff;
    --positiveHoverBtnBg: transparent;
    --positiveHoverBtnBorder: #35a9e4;
    --positiveHoverBtnText: #35a9e4;
    --negativeBtnBg: #35a9e4;
    --negativeBtnBorder: transparent;
    --negativeBtnText: #fff;
    --negativeHoverBtnBg: #fff;
    --negativeHoverBtnBorder: #35a9e4;
    --negativeHoverBtnText: #35a9e4;
}

@font-face {
    font-family: Amazon Ember;
    src: url("../fonts/Amazon-Ember-Regular.ttf");
}

body {
    font-family: "Amazon Ember" !important;
    font-size: var(--baseFontSize);
}

.mainbody, .DataContainer {
    max-width: 1390px;
    margin: 0 auto;
}

a {
    color: var(--linkText);
}

.modal-title {
    color: #fff;
}

.modal-header {
    background: var(--primary);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-radius: 0px;
    border: 0px;
    padding: 10px 15px;
}

label {
    font-weight: 500;
}

.mandatory-field {
    color: var(--warning);
}

/*.input-group-addon {
    display: block;
}*/

.dateIcon {
    background-image: url(../Images/date.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    max-width: 125px;
}

.themeHeader {
    display: flex;
    padding: 0px 15px 0px 0px;
    align-items: center;
    background: var(--headerBg);
    color: var(--headerText);
    height: 90px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 5;
}

.themeLogo {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}

    .themeLogo img {
        max-height: 50px;
    }

.themeMenu {
    display: flex;
    flex-basis: 100%;
}

.themeRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

    .themeRight > span {
        color: inherit;
    }

.themeProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menuList button {
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    margin-right: 10px;
    position: relative;
}

    .menuList button:hover::after {
        width: 100%;
    }

    .menuList button::after {
        content: "";
        left: 0px;
        right: 0px;
        bottom: -9px;
        height: 5px;
        background: #fff;
        position: absolute;
        width: 0px;
        margin: 0 auto;
        transition: 0.2s ease-in-out;
    }

button.activeButton::after {
    width: 100%;
}

.boldtxt {
    font-weight: bold !important;
}

.profile_menu .dropdown-toggle {
    background: none !important;
    outline: none !important;
    border: none;
}

.profile_menu .dropdown-toggle {
    background: none !important;
    outline: none !important;
    border: none;
}

    .profile_menu .dropdown-toggle:hover {
        background: none;
        border: none;
    }

.open > .dropdown-menu {
    opacity: 1 !important;
}

.logoutDrop {
    left: -116px !important;
    width: 175px;
    color: #000;
}

.customDropdownlast-child {
    border: none !important;
    cursor: pointer;
}

.customDropdown::before {
    content: "";
    z-index: 2;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -18px;
    left: calc(50% - 10px);
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.logoutDrop::before {
    left: 135px !important;
}

li.customDropdownlast-child:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: var(--primary) !important;
}

.footerBg {
    background-color: var(--footerBg);
    border-top: 1px solid #ccc;
    padding: 3px 10px;
    clear: both;
    overflow: auto;
    font-size: 11px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 5;
}

.patientHeaderProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-basis: 100%;
    margin-bottom: 10px;
}

    .patientHeaderProfile > i {
        margin-left: 10px;
    }

    .patientHeaderProfile p {
        margin: 0px;
        color: inherit;
        cursor: pointer;
    }

        .patientHeaderProfile p i {
            margin-left: 10px;
        }

.themeContent {
    margin-top: 90px;
    min-height: calc(100vh - 90px);
    background: #fafafa;
}

.patientHeaderProfile p {
    margin-right: 0px !important;
}

.patientHeaderProfileDetails {
    position: absolute;
    top: 16px;
    width: 220px;
    z-index: 999;
}

    .patientHeaderProfileDetails > div {
        margin-top: 13px;
        background: #fff;
        color: #555;
        border: 1px solid #ccc;
        padding: 15px;
        box-shadow: 2px 2px 2px rgb(204 204 204 / 0.2);
    }

    .patientHeaderProfileDetails img {
        width: 80px;
        height: 80px;
        max-height: 80px;
        border-radius: 50%;
        display: block;
        margin: 0px auto 10px auto;
    }

    .patientHeaderProfileDetails p {
        color: #333;
        text-align: left;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #efefef;
        position: relative;
    }

        .patientHeaderProfileDetails p i {
            font-size: 25px;
            position: absolute;
            right: 10px;
            top: 8px;
        }

    .patientHeaderProfileDetails span:first-child {
        display: block;
        font-weight: 600;
    }

.patientShortInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 460px;
    flex-wrap: wrap;
}

    .patientShortInfo p {
        color: inherit;
        margin: 0px 25px 0px 0px;
    }

    .patientShortInfo a {
        color: inherit;
        font-size: 25px;
        margin-right: 25px;
    }

.notificationOnline {
    position: relative;
    min-width: 127px;
}

    .notificationOnline span {
        width: 25px;
        height: 25px;
        background: #ff418c;
        position: absolute;
        left: 17px;
        top: -10px;
        color: #fff;
        border: 3px solid #232f3e;
        border-radius: 50%;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notificationOnline i {
        font-size: 25px;
        color: #fff;
        margin-right: 25px;
    }

        .notificationOnline i:first-child {
            padding: 0px 10px;
            border-left: 1px solid #efefef;
            border-right: 1px solid #efefef;
        }

.patientNotifications {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px 0px;
    padding-right:34%;
}


.bellGroup > div {
    position: relative;
    margin-right: 15px;
}

    .bellGroup > div > i {
        font-size: 25px;
    }

    .bellGroup > div > span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        position: absolute;
        top: -7px;
        right: -8px;
    }

.bellYellow i {
    color: #ffbb00;
}

.bellGroup {
    margin-right: auto;
    display: flex;
}

.bellYellow span {
    background: #d03004;
    color: #fff;
}

.bellBrown i {
    color: #d03004;
}

.bellBrown span {
    background: #933333;
    color: #fff;
}

.bellGreen i {
    color: #8fbc7b;
}

.bellGreen span {
    background: #476838;
    color: #fff;
}

.panel {
    border-radius: 0px !important;
}

.panel-info {
    border-color: #ccc !important;
}

.patientProfileInfo .panel-heading {
    background: #e6e7e8 !important;
    border: 0px !important;
    /* color: #000 !important; */
}

.patientProfileInfo .panel-title {
    font-weight: normal;
    color: #000 !important;
}

.theme-btn-1 {
    color: var(--positiveBtnText);
    background: var(--positiveBtnBg);
    border: 2px solid var(--positiveBtnBorder);
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block !important;
    text-decoration: none;
    outline: none;
}

    .theme-btn-1:hover {
        color: var(--positiveHoverBtnText) !important;
        background: var(--positiveHoverBtnBg);
        border: 2px solid var(--positiveHoverBtnBorder);
        text-decoration: none;
        outline: none;
    }

.theme-btn-2 {
    color: var(--negativeBtnText);
    background: var(--negativeBtnBg);
    border: 2px solid var(--negativeBtnBorder);
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
}

    .theme-btn-2:hover {
        color: var(--negativeHoverBtnText);
        background: var(--negativeHoverBtnBg);
        border: 2px solid var(--negativeHoverBtnBorder);
        text-decoration: none;
        outline: none;
    }

    .theme-btn-2:active,
    .theme-btn-2:focus,
    .theme-btn-2:visited {
        color: initial;
        text-decoration: none;
        outline: none;
    }

.theme-btn-1:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.nav-tabs {
    border: 0px !important;
}

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        border: 0px !important;
        color: #000 !important;
        font-weight: 600;
        background: #fff !important;
    }

    .nav-tabs > li > a {
        background: #e6e7e8 !important;
        margin-right: 0px !important;
        line-height: normal !important;
        border: 0px solid transparent !important;
        border-radius: 0 !important;
        color: #8d8c8d !important;
    }

.patientProfileInfo .nav li {
    width: 50% !important;
    text-align: center;
}

.nav-tabs > li:first-child > a {
    border-bottom-right-radius: 5px !important;
}

.nav-tabs > li:last-child > a {
    border-bottom-left-radius: 5px !important;
}

.changeViews {
    display: flex;
    justify-content: flex-end;
    

}

    .changeViews a {
        font-size: 25px;
        margin-left: 10px;
    }

    .changeViews .fa-chart-bar {
        color: #ea4335;
    }

    .changeViews .fa-table {
        color: #34a853;
    }

    .changeViews .fa-clock {
        color: #4285f4;
    }

    .changeViews .fa-language {
        color: #be4bdb;
    }

.myAppoinments {
    text-align: left;
}

    .myAppoinments a {
        color: #4285f4;
        display: block;
    }

    .myAppoinments p {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #efefef;
    }

    .myAppoinments span:first-child {
        font-weight: 600;
        display: block;
    }

.patientListCard {
    padding: 15px;
    border: 1px solid #efefef;
    background: #fff;
    border-top: 4px solid #333;
    margin-bottom: 15px;
    overflow: auto;
}

    .patientListCard img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
    }

    .patientListCard h1 {
        font-weight: 600;
        font-size: 16px;
        margin: 10px 0px;
        padding: 10px 0px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        color: #333;
    }

.cardViewDetails {
    width: 50%;
    margin-bottom: 5px;
    float: left;
}

    .cardViewDetails span {
        display: block;
        text-align: left;
    }

    .cardViewDetails label {
        font-weight: 600;
        display: block;
        text-align: left;
    }

.pagination > li {
    margin-right: 5px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    cursor: pointer;
    background-color: #555;
    border-color: #555;
    border-radius: 0px !important;
}

.inputGroups {
    margin-bottom: 5px;
    text-align: left;
}

    .inputGroups label {
        font-weight: 600;
        display: block;
    }

    .inputGroups .form-control {
    }

.modal-content {
    border-radius: 0px;
    border: 0px;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
    font-size: 22px;
    position: absolute;
    top: 12px;
    right: 20px;
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 15px;
    line-height: 15px;
    width: 30px;
    height: 30px;
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    text-shadow: none;
    outline: none !important;
    float: none;
}

    .modal-header .close:hover {
        border: 2px solid #fff;
    }

.footerBg p {
    margin-bottom: 0px;
}

.tooltip {
    min-width: 280px;
}

.tooltip-inner {
    background-color: #fff !important;
    color: #000 !important;
    max-width: 300px !important;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #fff !important;
}

.container {
    width: 100%;
    position: relative;
}

.title1 {
    color: var(--title);
    margin: 0px;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.title2 {
    color: var(--subTitle);
    margin: 0px;
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.modernSearch {
    display: flex;
    align-items: center;
}

    .modernSearch input[type="text"] {
        border: 1px solid #efefef;
        padding: 3px 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        flex-basis: 100%;
    }

    .modernSearch i {
        padding: 7px;
        background: #555;
        color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group.bootstrap-select {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

.btn.selectpicker.form-control {
    width: 100%;
    border: 1px solid #ccc;
}

.multiselect-native-select .btn-group {
    width: 100% !important;
}

.multiselect {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left !important;
}

.patientTabSections {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chartTabs {
    list-style-type: none;
    display: flex;
    margin: 0 0px 15px 0px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: auto;
    padding: 0;
}

    .chartTabs li a {
        font-size: 14px;
        text-decoration: none;
        padding: 0px 25px;
        cursor: pointer;
        display: block;
        margin-right: 25px;
        border-radius: 4px;
    }

        .chartTabs li a:hover {
            background: #333;
            color: #fff;
        }

.chartActiveTab {
    background: #333;
    color: #fff !important;
}

.themeTabs {
    display: flex;
    border: 1px solid #ccc;
    background: #fff;
    height: 43px;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}

    .themeTabs a {
        padding: 0px 15px;
        /* font-weight: 600; */
        border-top: 2px solid transparent;
        text-decoration: none;
        color: #949394;
        /* background: #efefef; */
        /* border: 1px solid #ccc; */
        display: block;
        cursor: pointer;
        border-right: 1px solid #ccc;
        position: relative;
    }

    .themeTabs li:last-child a {
        border-right: 0px;
    }

    .themeTabs a i {
        font-size: 14px;
        margin-right: 5px;
    }

.themeTabActive {
    color: #002269 !important;
}

.themeTabs a.themeTabActive::after {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
}

.themeTabs a.themeTabActive::before {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.themeTabs a:hover {
    color: #35a9e4;
}

.themeTabs li:last-child a {
    border-right: 0px !important;
}

.btn-link [ng-show="currentTab=='1'"] i {
    color: green;
}

.btn-link [ng-show="currentTab=='2'"] i {
    color: orange;
}

.btn-link i {
    font-size: 20px;
}

.multiselect.dropdown-toggle .caret {
    float: right;
    margin-top: 10px;
}

.off .toggle-handle {
    right: -12px !important;
    left: 12px !important;
}

.toggle-handle {
    left: -12px !important;
    padding: 0px;
    height: 20px !important;
    width: 20px !important;
    border-radius: 10px;
}

.toggle-on.btn {
    padding-right: 29px !important;
    padding-top: 2px !important;
    background: linear-gradient(-90deg, #5faf86, #0d6140) !important;
}

    .toggle-on.btn:hover {
        background: linear-gradient(-90deg, #5faf86, #0d6140) !important;
    }

.toggle-off.btn {
    padding-left: 28px !important;
    padding-top: 2px !important;
    background: linear-gradient(to right, #af4129, #f30404) !important;
    color: #fff !important;
}

    .toggle-off.btn:hover {
        background: linear-gradient(to right, #af4129, #f30404) !important;
    }

.toggle.btn {
    height: 26px !important;
    min-height: auto !important;
    min-width: 0px !important;
    width: 57px !important;
    border-radius: 20px !important;
}

.themeTable td,
.themeTable th {
    padding: 8px !important;
    text-align: left;
    border: 1px solid #ccc !important; /*thick;*/
}

.themeTable th {
    color: var(--TableHeaderText) !important;
    background: var(--TableHeaderBg);
    vertical-align: middle !important;
    text-align: center !important;
}

.themeTable tr:nth-of-type(odd) {
    background: #fff;
}

.themeTable tr:nth-of-type(even) {
    background-color: var(--TableAlternateRowBg);
    color: var(--TableAlternateRowText);
}

.themeTable tr:hover {
    background-color: var(--TableRowHoverBg);
    color: var(--TableRowHoverText);
}

.themeTable th {
    font-weight: 600;
}

.notificationsWarnings {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 16px;
}

.PatientNotification1 {
    text-align: left;
    left: 465px !important;
    position: absolute;
    top: 10px;
    /* right: 25px; */
    font-size: 16px;
}
.PatientNotification2 { 
    text-align: left;
    left: 530px !important;
    position: absolute;
    top: 10px; 
    font-size: 14px;
}

.notificationsWarnings i {
}

.notificationsWarnings span {
    position: absolute;
    top: -13px;
    right: -15px;
    width: 25px;
    height: 25px;
    background: #4e70f7;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.highBell {
    color: red !important;
    font-size: x-large;
}

.mediumBell {
    color: #ffd300 !important;
    font-size: x-large;
}

.lowBell {
    color: green !important;
    font-size: x-large;
}

.mediumPosition {
    right: 70px;
}

.lowPosition {
    right: 100px;
}

.secondaryMenu {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    border-bottom: 1px solid #efefef;
}

    .secondaryMenu li {
    }

        .secondaryMenu li a {
            border-bottom: 2px solid transparent;
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color: #333;
            font-size: 14px;
        }

.secondaryMenuActive {
    border-bottom-color: #f26722 !important;
    color: #f26722 !important;
}

.secondaryMenu li a:hover {
    color: #35a9e4 !important;
}

.page-title {
    color: var(--title) !important;
    font-weight: 600;
    text-align: left;
    padding: 10px 0px;
    font-size: 20px;
    margin: 0px;
}

.page-subTitle {
    color: var(--subTitle) !important;
    font-weight: 600;
    text-align: left;
    padding: 10px 0px;
    font-size: 18px;
    margin: 0px;
}

.institutionLogo {
    max-height: 100px;
}

.themeTable a {
    text-decoration: none;
    color: inherit;
}

.themeTable i {
    font-size: 16px;
    color: inherit;
    padding: 0px 2px;
}

    .themeTable i.fa-check-circle-o {
        color: green;
    }

    .themeTable i.fa-times-circle-o {
        color: orangered;
    }

.imgAdd img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.inputNxt input,
.inputNxt label {
    display: inline-block;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .lds-ripple div {
        position: absolute;
        border: 4px solid #002269;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.themeTable nav {
    text-align: center;
}

.pagination > li > a,
.pagination > li > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 40px;
}

.select-page {
    margin-right: 5px;
}

#colorSetting .modal-lg {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

#colorSetting .modal-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

    #colorSetting .modal-body > .row > div {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        height: calc(100vh - 110.6px);
        overflow: auto;
    }

.colorGroup {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    flex-wrap: wrap;
    align-items: center;
}

    .colorGroup h1 {
        font-size: 16px;
        margin: 0px 15px 10px 0px;
        min-width: 210px;
        flex-basis: 100%;
    }

    .colorGroup input[type="color"] {
        width: 100px;
        margin-right: 20px;
    }

.frameController {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

    .frameController iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }


.chatAttachment {
    margin: 0px 10px 0px 0px !important;
}

.chatBodyLeft {
    float: left;
}

.chatBodyRight {
    float: right;
}

.chatBodyLeftDiv {
    background-color: #78e08f;
}

.chatBodyRightDiv {
    background-color: #82ccdd;
}

.chatBox {
    min-height: 430px;
    position: fixed !important;
    bottom: 22px !important;
    z-index: 9999;
    right: 10px !important;
    left: unset !important;
    top: unset !important;
    width: 340px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 50px;
    transition: all 0.2s ease-in-out;
}

.chatBoxBig {
    width: 680px;
}

.chatHeader {
    position: relative;
    background: #002269;
    color: #fff;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 15px;
    font-size: 16px;
    justify-content: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .chatHeader h1 {
        margin-right: auto;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

.chatBoxClose {
    /*bottom: -430px !important;

    bottom: -moz-calc(-90%)! important;
    bottom: -webkit-calc(-90%)! important;
    bottom: calc(-90%)! important;*/
}

.chatHeader > span > i {
}

.chatHeader > span {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: -20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #002269;
    z-index: 5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    justify-content: center;
}

.chatHeader i {
}

.chatHeader a {
    color: #fff;
}

.callIcon {
    margin-right: 10px;
}

.videoIcon {
}

.chatBody {
    background: #fff;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 10px;
    overflow: auto;
    height: 350px;
    position: relative;
}

.chatBodyHalf {
    width: 50%;
    float: left;
}

.chatBody p {
    display: block;
    margin: 0 auto 10px auto;
    clear: both;
    padding: 2px 10px;
    background: rgba(75, 141, 216, 0.2);
    border-radius: 26px;
    font-size: 12px;
    color: #000;
    text-align: center;
    max-width: 120px;
}

.chatBody ul {
    margin: 0px;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}

    .chatBody ul li span {
        position: absolute;
        bottom: 0px;
        right: 25px;
        font-size: 11px;
        color: #333;
    }

    .chatBody ul li div {
        padding: 5px 10px 13px 5px;
        border: 1px solid #efefef;
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
        min-width: 200px;
    }

    .chatBody ul li::after {
        content: '';
        clear: both;
    }
/*.chatBody ul li:nth-child(odd){
   float: left;
}
.chatBody ul li:nth-child(even){
  float: right; 
}*/

.chatFooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    right: 0px;
    padding: 10px;
    background: #002269;
    align-items: center;
    justify-content: flex-start;
}

    .chatFooter a {
        font-size: 16px;
        margin: 0px 0px 0px 10px;
        color: #fff;
        text-decoration: none;
    }

        .chatFooter a i {
        }

    .chatFooter input[type="text"] {
        border: 1px solid #efefef;
        width: 100%;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        max-width: 100%;
    }

.chatProfile {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
}

.chatHeader h1 span {
    font-size: 10px;
    display: block;
    text-align: left;
    margin-top: 2px;
}

.callBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100% !important;
    float: none !important;
}

.call {
    margin-right: 10px;
    background: green;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
}

.endCall {
    background: red;
}

.callBox h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    flex-basis: 100%;
    text-align: center;
}

    .callBox h2 span {
        display: block;
        font-size: 16px;
    }

.contactList {
    position: relative;
    overflow: hidden;
    padding: 0px;
}

    .contactList ul {
        margin-top: 35px;
        height: 300px;
        overflow-y: auto;
    }

        .contactList ul li {
            display: flex;
            align-items: center;
            padding: 10px 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid #efefef;
        }

            .contactList ul li span {
                position: static;
                font-size: 16px;
                font-weight: 500;
                max-width: 100%;
                word-break: break-all;
            }

            .contactList ul li img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

.chatCount {
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #002269;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatNoCount {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.contactList section {
    min-width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 40px);
}

.contactList article {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contactList article span {
        font-size: 12px !important;
        margin-left: auto;
    }

.aqua {
    color: #7fffd4 !important;
}

.chatBody ul li i {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 12px;
    color: #555;
}

.msgRead {
}

.msgSend {
}

.msgDelivered {
    color: #fff !important;
}

.contactSearch {
    width: 100%;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
    color: #555;
    max-width: 100%;
}

.searchHolder {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 10px;
    border-bottom: 1px solid #efefef;
    background: #ffff;
}

.userOnlineInfo.on::after {
    background: green;
}

.userOnlineInfo.off::after {
    background: red;
}

.hasAttachement {
}

    .hasAttachement i {
        position: static !important;
        font-size: 16px !important;
        padding-left: 5px;
    }

.notificationList {
}

    .notificationList > li {
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }

        .notificationList > li > h1 {
            font-size: 16px;
        }

        .notificationList > li > p {
            margin: 0px;
            padding: 0px;
            background: transparent;
            max-width: 100%;
            text-align: left;
            font-size: 13px;
        }

            .notificationList > li > p i {
                position: static;
                padding-left: 10px;
                color: red;
            }

.selectContact {
    border: none !important;
    min-width: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
}

.chatBody ul li p > i {
    position: static !important;
}

.userOnlineInfo {
    padding: 0 !important;
    border: 0px !important;
    margin: 0 !important;
    min-width: 0px !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20px;
    background-color: lightgrey;
    color: #FFF;
    border-radius: 30px;
    /* text-align: center; */
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .float:hover {
        text-decoration: none;
    }

.userOnlineInfo::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    right: 2px;
}

.userOnlineInfo.off::after {
    background: red;
}

.userOnlineInfo.on::after {
    background: green;
}

.patientCard {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

    .patientCard > div {
        display: flex;
        align-items: center;
    }

.docProfile img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
}

.docInfo {
    display: flex;
    flex-wrap: wrap;
}

.docInfo {
    display: flex;
    align-items: center;
}

    .docInfo span {
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.centerScroll {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.charTabsNone {
    display: none;
}
.width100 {
    width: 100px;
}
.patientDetimg {
    width: 150px;
    height: 150px;
}
.textalign {
    text-align: center !important;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}