<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <threshold value="ALL"/>
      <bufferSize value="1" /><!--Change it to 100 while deploying-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="data source=home;initial catalog=MYCORTEX;integrated security=False; User Id=sa; Password=sa123;" />
      <commandText value="INSERT INTO MYCORTEX.APPLICATIONLOG ([LOGDATE],[LEVEL],[LOGGER],[MESSAGE],[EXCEPTION],[METHOD]) 
                          VALUES (@LogDate, @Level, @Logger, @Message, @Exception, @Method)" />
      <parameter>
        <parameterName value="@LogDate"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Method" />
        <dbType value="String"/>
        <size value="-1"></size>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%method" />
        </layout>
      </parameter>
    </appender>    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
    </root>    
    <logger name="Application">
      <level value="INFO" />
      <appender-ref ref="ADONetAppender" />
    </logger>
  </log4net>
</configuration>
