<head>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
            if ($('#' + $('.secondaryMenuActive').data('menu')).length === 0) {
                $('.activeButton').removeClass('activeButton');
                //$('#Configurations').addClass('activeButton');
                if (document.getElementById("Configurations")) {
                    document.getElementById("Configurations").className += 'activeButton';
                }
            }
        });
    </script>
</head>
<ul class="secondaryMenu">
    <li><a class="secondaryMenuActive" href="Home/Index/AdminEmailConfigurationList/1">Email setup</a></li>
    <li><a href="Home/Index/MasterAlertConfigurationList" data-menu="Configurations">Alerts</a></li>
    <li><a href="Home/Index/EmailTemplate/1" data-menu="Configurations">Email Template</a></li>
    <li><a href="Home/Index/Notification/2" data-menu="Configurations">Notification Template</a></li>
    <li><a href="Home/Index/SMSTemplate/3" data-menu="Configurations">Sms Template</a></li>
</ul>

<div class="mainbody container-fluid">
    <h1 class="page-title">Email setup</h1>
    <div class="row" ng-init="EmailConfiguration_ViewEdit()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" id="Basic1">
                <div class="panel-body">

                    <form class="form-horizontal" role="form">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                            <!--<tr>
                                <td style="width: 2%">
                                    <label>Institution Name</label>
                                </td>
                              <td style="width: 20%">
                                     {{Insitution_Name}}
                                </td>
                            </tr>-->
                            <tr>
                                <td style="width: 2%">
                                    <label>Sender Email ID<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td style="width: 20%">
                                    <input type="text" class="form-control" id="Text3" ng-model="Sender_Email_Id" ng-maxlength="150" maxlength="150">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>User Name<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="Text2" ng-model="UserName"  ng-maxlength="50" maxlength="50"></td>
                            <tr>
                                <td>
                                    <label>Password<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <input type="password" class="form-control" id="Text10" ng-model="Password"  ng-maxlength="30" maxlength="30">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Server Name(SMTP)<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="Text1" ng-model="ServerName"  ng-maxlength="100" maxlength="100">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Port No<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="Text4" ng-model="PortNo"  onkeypress="varifyNumberPositive(this.PortNo)"  ng-maxlength="10" maxlength="10">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Display Name<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="Text5" ng-model="DisplayName"  ng-maxlength="50" maxlength="50">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>SSL Enable<sup><font class='mandatory-field'>*</font></sup></label>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="SSL_Enable" id="SSL_Enable">
                                        <option value="0">Select</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                         </select>
                                </td>
                               
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label>Remarks</label>
                                </td>
                                <td>
                                    <textarea rows="5" class="form-control" id="Textarea2" ng-model="Remarks"  ng-maxlength="250" maxlength="250"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="theme-btn-1 mr-10" id="save" title="Click to Save"ng-click="EmailConfiguration_AddEdit()">Save</button>
                <button type="button" class="theme-btn-1 mr-10" id="reset"  title="Click to Reset"ng-click="ClearFields()">Reset</button>
            </div>

        </div>
    </div>
</div>