<ul class="secondaryMenu">
    <li><a href="Home/Index#/ParameterSettings">Standard Parameter</a></li>
    <li><a href="Home/Index#/ChatSetting/2">Chat Settings</a></li>
    <li> <a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift" class="secondaryMenuActive">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>
</ul>
<h1 class="page-title">Doctor Shift</h1>
<div class="row" ng-init="DoctorShiftListGo()">
    <div class="col-md-12">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <div class="panel panel-default panel-info" id="DMid">
            <form class="form-horizontal" role="form">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                    <tr>
                        <td width="5%">
                            <label>Search</label>
                        </td>
                        <td width="5%">
                            <div class="modernSearch">
                                <input type="text" ng-model="searchquery" ng-change="filterDoctorShiftList()" placeholder="" style="width: 200px" />
                                <i class="fa fa-search"></i>
                            </div>
                        </td>
                        <td style="text-align:left" width="65%">
                            Active &nbsp;&nbsp;
                            <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="DoctorShiftListGo();" title="Active / All">
                        </td>
                        <td>
                            <a href="javascript:" ng-click="DoctorShiftClear();AddSlot();" class="btn btn-autosize pull-right mb-15" title="Click to Add New Drug DB">Add New</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" st-search="query" class="table themeTable">
            <thead>
                <tr style="text-align: center">
                    <th st-ratio="5">#</th>
                    <th st-ratio="10" st-sort="Generic_Name">Doctor</th>
                    <th st-ratio="8" st-sort="WeekDayName">Week Day Name</th>
                    <th st-ratio="8" st-sort="ShiftName">Shift Name</th>
                   <!-- <th st-ratio="8" st-sort="StrengthName">Sun</th>
                    <th st-ratio="8" st-sort="Dosage_FromName">Mon</th>
                    <th st-ratio="8" st-sort="StrengthName">Tue</th>
                    <th st-ratio="8" st-sort="Dosage_FromName">Wed</th>
                    <th st-ratio="8" st-sort="StrengthName">Thu</th>
                    <th st-ratio="8" st-sort="Dosage_FromName">Fri</th>
                    <th st-ratio="8" st-sort="Dosage_FromName">Sat</th>-->
                    <th st-ratio="8" st-sort="FromDate">From Date</th>
                    <th st-ratio="8" st-sort="ToDate">To Date</th>
                    <th st-ratio="8">Action</th>
                </tr>
            </thead>
                       <tbody>
                <tr ng-if="flag==0 && rowCollectionFilter.length==0">
                    <td colspan="15" style="text-align: center">
                        No Data Available
                    </td>
                </tr>
                <tr ng-repeat="row in emptydata">                 
                <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
               
                <td style="text-align: left">
                    <div class="textwrap">{{row.Doctor_Name}}</div>
                </td>
                    <td style="text-align:left">{{row.WeekDayName}}</td>
                    <td style="text-align:left">{{row.ShiftName}}</td>
              <!--  <td style="text-align: left">{{SundayShift2}}
                </td>
               <td style="text-align: left">{{MondayShift2}}
                </td>
                      <td style="text-align: left">{{TuesdayShift2}}
                </td>
                      <td style="text-align: left">{{WednessdayShift2}}
                </td>
                      <td style="text-align: left">{{ThursdayShift2}}
                </td>
                      <td style="text-align: left">{{FridayShift2}}
                </td>
                      <td style="text-align: left">{{SaturdayShift2}}
                </td>-->

              <td style="text-align: left">
                  {{row.FromDate | date:'dd-MMM-yyyy '}} 
              </td>
                       <td style="text-align: left">
                  {{row.ToDate | date:'dd-MMM-yyyy '}}
              </td>
                <td style="text-align: center">
                    <a href="javascript:" ng-click="ViewDoctorShift(row.Id,row.Doctor_Id)" title="View">
                        <img src="../../Images/ViewIcon.png" />
                    </a>
                    <a href="javascript:" title="Edit" ng-click="EditDoctorShift(row.Id, row.IsActive,row.Doctor_Id)">
                        <img src="../../Images/EditIcon.png" />
                    </a>
                    <a href="javascript:;" ng-click="DeleteDoctorShift(row.Id)" title="Active">
                        <img src="../../Images/activeIcon1.png" ng-if="row.IsActive==1" />
                        <a href="javascript:" ng-click="ReInsertDoctorShift(row.Id,row.Doctor_Id)" title="Inactive">
                            <img src="../../Images/inactive.png" ng-if="row.IsActive==0" />
                        </a></td>
            </tr>
            </tbody>
            <tfoot ng-show="rowCollectionFilter.length >10">
                <tr>
                    <td colspan="15" class="text-center">
                        <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--Add&Edit Modal-->
<div id="DoctorShiftModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"title="Close" ng-click="CancelPopup()" style="color:#8B0000;">&times;</button>
                <h4 class="modal-title">Doctor Shift</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="font-size:small">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">                     
                    
                       <!-- <tr ng-show="Id>0">
                             <td width="4%">
                                <label>Doctor<sup><font class='mandatory-field'>*</font></sup></label>
                             </td>                             
                            <td style="width:30%">
                                 <select class="" data-style="form-control" ng-model="Doctor_Id" id="selectpicker" data-live-search="true" data-selectpicker data-collection-name="DoctorList">
                                    <option ng-repeat="sel in DoctorList" ng-selected="Doctor_Id==sel.Id" value="{{sel.Id}}">{{sel.FullName}}</option>
                                </select>
                               </td>
                            </tr>-->
                        <tr> 
                              <td width="30%">
                                <label>Doctor<sup><font class='mandatory-field'>*</font></sup></label>
                             </td>                          
                              <td style="width:45%" ng-show="Id==0">
                                    <select ng-model="Doctor_Id" multiple="multiple"
                                        ng-options="item1.Id as item1.FullName for item1 in DoctorList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                             <td style="width:45%" ng-show="Id>0">
                                    <select class="" data-style="form-control" ng-model="Doctor_Id1" id="selectpicker" data-live-search="true" data-selectpicker data-collection-name="DoctorList">
                                    <option ng-repeat="sel in DoctorList" ng-selected="Doctor_Id1==sel.Id" value="{{sel.Id}}">{{sel.FullName}}</option>
                                </select>
                                </td>
                        </tr>                                                   
                      
                        <tr>
                            <td> <label>{{day1}}</label></td>
                             <td style="width:45%">                                
                                    <select ng-model="SundayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>                                    
                         
                        <tr>
                            <td style="width:6%">
                                <label>{{day2}}</label>
                            </td>
                            <td style="width:45%">
                                    <select ng-model="MondayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>                            
                        </tr>
                     
                        <tr>
                            <td style="width:6%">
                                <label>{{day3}}</label>
                            </td>
                             <td style="width:45%">
                                    <select ng-model="TuesdayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>
                     
                        <tr>
                            <td style="width:6%">
                                <label>{{day4}}</label>
                            </td>
                             <td style="width:45%">
                                    <select ng-model="WednessdayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>
                      
                        <tr>
                            <td style="width:6%">
                                <label>{{day5}}</label>
                            </td>
                           <td style="width:45%">
                                    <select ng-model="ThursdayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>
                       
                        <tr>
                            <td style="width:6%">
                                <label>{{day6}}</label>
                            </td>
                            <td style="width:45%">
                                    <select ng-model="FridayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>
                     
                        <tr>
                            <td style="width:6%">
                                <label>{{day7}}</label>
                            </td>
                             <td style="width:45%">
                                    <select ng-model="SaturdayShift" multiple="multiple"
                                        ng-options="item1.Id as item1.ShiftName for item1 in DoctorShiftList"
                                        multiselect-dropdown style="width: 230px;">
                                    </select>
                                </td>
                        </tr>                     
                        <tr>
    <td style="width:6%">
        <label>From date<sup><font class='mandatory-field'>*</font></sup></label>
    </td>

    <td style="width:30%">
        <div class="input-group date" id="FromDate">
            <input type="text" class="form-control" ng-model="FromDate" ng-init="FromDate=''">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-th"></i>
            </span>
        </div>
    </td>
</tr>
<tr>
    <td style="width:6%">
        <label>To date<sup><font class='mandatory-field'>*</font></sup></label>
    </td>

    <td style="width:30%">
       <div class="input-group date" id="ToDate">
            <input type="text" class="form-control" ng-model="ToDate" ng-init="ToDate=''">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-th"></i>
            </span>
        </div>
    </td>
</tr>
</table>
       </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn  btn-save" ng-click="DoctorShift_AddEdit()" title="Click to Save">Save</button>
                <button type="button" class="btn  btn-save"  ng-click="CancelSlot()" title="Click to Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--View Modal--->
<div id="ViewDoctorShiftModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="CancelPopup()"
                    title="Close">&times;</button>
                <h1 class="page-title">Doctor Shift</h1>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default" id="Div2">
                        <div class="panel-body">

                            <form class="form-horizontal" role="form">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">                       
                         <tr>
                          <td width="5%">
                                <label>Doctor</label>
                             </td>                          
                              <td style="width:35%">
                                    {{Doctor_Name}}
                                </td>
                              </tr>
                                    
                            <tr>
                              <td>
                                <label>{{day1}}</label>
                              </td>
                            
                               <td >
                                   {{SundayShiftview}}
                               </td>

                                </tr>
                  
                            <tr>
                              <td >
                                <label>{{day2}}</label>
                              </td>
                            
                               <td >
                                   {{MondayShiftview}}
                               </td>

                                </tr>

                          <tr>
                              <td >
                                <label>{{day3}}</label>
                              </td>
                            
                               <td >
                                   {{TuesdayShiftview}}
                               </td>

                                </tr>
             <tr>
                              <td >
                                <label>{{day4}}</label>
                              </td>
                            
                               <td >
                                   {{WednessdayShiftview}}
                               </td>

                                </tr>
                                                     <tr>
                              <td >
                                <label>{{day5}}</label>
                              </td>
                            
                               <td >
                                   {{ThursdayShiftview}}
                               </td>

                                </tr>
                                                     <tr>
                              <td >
                                <label>{{day6}}</label>
                              </td>
                            
                               <td >
                                   {{FridayShiftview}}
                               </td>

                                </tr>
                            <tr>
                              <td>
                                <label>{{day7}}</label>
                              </td>
                            
                               <td>
                                   {{SaturdayShiftview}}
                               </td>
                            </tr>

                        <tr>
                            <td>
                                <label>From Date
                                </label>
                            </td>

                            <td>
                                  {{FromDate | date:'dd-MMM-yyyy '}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>To Date</label>
                            </td>

                            <td>
                               {{ToDate | date:'dd-MMM-yyyy '}}
                            </td>
                        </tr>
                    </table>
                         
                            </form>
                        </div>
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="btn btn-save" title="Click to Cancel"
                                ng-click="CancelDoctorShiftpopup()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script>
      $('#FromDate').timepicker();
      $('#ToDate').timepicker();
      $("#FromDate").bootstrapDP({
          format: "dd-M-yyyy",
          forceParse: false,
          //endDate: '+0d',
          startDate: new Date(),
          autoclose: true,
          todayHighlight: true,
          toggleActive: true,
          todayBtn: true
      });
      $("#ToDate").bootstrapDP({
          format: "dd-M-yyyy",
          forceParse: false,
          //endDate: '+0d',
          startDate: new Date(),
          autoclose: true,
          todayHighlight: true,
          toggleActive: true,
          todayBtn: true
      });
    </script>