<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        if ($('#' + $('.secondaryMenuActive').data('menu')).length === 0) {
            $('.activeButton').removeClass('activeButton');
            //$('#Templates/EmailSetup').addClass('activeButton');
            document.getElementById("Templates/EmailSetup").className += 'activeButton';
        }
    });
</script>
<ul class="secondaryMenu" ng-show="UserTypeId == 3">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat</a>
    </li>
    <li><a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/MasterEmailConfigurationList" data-menu="Settings">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <!--<li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>-->
    <li><a href="Home/Index#/WebConfiguration">Configuration</a></li>
    <li><a href="Home/Index#/LanguageSettings">Language</a></li>
    <li><a href="Home/Index#/GateWaySettings">GateWay</a></li>
</ul>
<ul class="secondaryMenu" ng-show="UserTypeId == 1">
    <li><a class="secondaryMenuActive" href="Home/Index#/AdminEmailConfigurationList/1">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList" data-menu="Templates/EmailSetup">Alerts</a></li>
    <li><a href="Home/Index#/EmailTemplate/1" data-menu="Templates/EmailSetup">Email Template</a></li>
    <li><a href="Home/Index#/Notification/2" data-menu="Templates/EmailSetup">Notification Template</a></li>
    <li><a href="Home/Index#/SMSTemplate/3" data-menu="Templates/EmailSetup">Sms Template</a></li>
</ul>

<h1 class="page-title">Email setup</h1>
<div ng-init="EmailConfiguration_ViewEdit()">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
        <div></div>
        <div></div>
    </div>
    <form class="form-horizontal" role="form" ng-class="{'submitted': submitted}" ng-submit="EmailConfiguration_AddEdit();">
        <div class="panel panel-default" id="Basic1">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputGroups">
                            <label>
                                Sender Email ID<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text3" ng-model="Sender_Email_Id" ng-required="true"
                                   ng-maxlength="150" maxlength="150">
                        </div>
                        <div class="inputGroups">
                            <label>
                                Password<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="password" class="form-control" id="Text10" ng-model="Password" ng-required="true"
                                   ng-maxlength="30" maxlength="30">
                        </div>
                        <div class="inputGroups">
                            <label>
                                Port No<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text4" ng-model="PortNo"
                                   onkeypress="varifyNumberPositive(this.PortNo)" ng-maxlength="10" maxlength="10" ng-required="true">
                        </div>
                        <div class="inputGroups">
                            <label>
                                Display Name<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text5" ng-model="DisplayName" ng-maxlength="50" ng-required="true"
                                   maxlength="50">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputGroups">
                            <label>
                                User Name<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text2" ng-model="UserName" ng-maxlength="50" ng-required="true"
                                   maxlength="50">
                        </div>
                        <div class="inputGroups">
                            <label>
                                Server Name(SMTP)<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text1" ng-model="ServerName" ng-maxlength="100" ng-required="true"
                                   maxlength="100">
                        </div>
                        <div class="inputGroups">
                            <label>
                                SSL Enable<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <div id="divSSLEnable" class="ng-invalid ddlValidationBorder" ng-required="true">
                                <select class="form-control" data-style="form-control" ng-model="SSL_Enable" id="SSL_Enable" data-live-search="true" data-selectpicker data-collection-name="SSL_Enable" ng-change="SSLEnableChange();">
                                    <option value="0">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="inputGroups">
                            <label>Remarks</label>
                            <textarea rows="5" class="form-control" id="Textarea2" ng-model="Remarks" ng-maxlength="250"
                                      maxlength="250"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="theme-btn-1 mr-10" id="test_connection" title="Test Connection"
                                ng-click="check_email_configuration()">
                            Test Connection
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="theme-btn-1 mr-10" id="save" title="Click to Save"
                    ng-click="submitted= true;">
                Save
            </button>
            <button type="button" class="theme-btn-2" id="reset" title="Click to Reset"
                    ng-click="ClearFields()">
                Reset
            </button>
        </div>
    </form>

</div>