<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
    });
</script>
<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat</a>
    </li>
    <li><a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <!--<li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>-->
    <li><a href="Home/Index#/WebConfiguration">Configuration</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/LanguageSettings" data-menu="Settings">Language</a></li>
    <li><a href="Home/Index#/GateWaySettings" data-menu="Settings">GateWay</a></li>
</ul>

<div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
    <div></div>
    <div></div>
</div>

<div ng-init="LanguageSettingsList()">
    <h1 class="page-title">Language Settings</h1>
    <div class="panel panel-default">
        <form class="panel-body" role="form">
            <div class="overlay" show-on-load>
                <div id="loading-img"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="inputGroups">
                        <label>Search</label>
                        <div class="modernSearch">
                            <input type="text" ng-model="searchqueryLanguageSettings" ng-change="FilterLanguageSettingsList()" placeholder="" />
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="inputGroups">
                        <label>Select Language</label>
                        <div class="modernSearch">
                            <select class="form-control" ng-model="selectedLanguage" ng-change="FilterLanguageSettingsList()">
                                <option ng-repeat="item1 in InstitutionLanguageList" value="{{item1.Id}}">
                                    {{item1.LanguageName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="theme-btn-1 mr-10 mt-20" ng-if="IsEdit==false" id="btnsave" ng-disabled="false" ng-click="LanguageDefaultSave()"
                            title="Click to Save as default language">
                        Save as Default
                    </button>
                    <button type="button" class="theme-btn-1 mr-10 mt-20" ng-if="IsEdit==false" ng-click="LanguageSettingsEdit()"
                            title="Click to Edit">
                        Edit
                    </button>
                    <button type="button" class="theme-btn-1 mr-10 mt-20" id="save" title="Click to Save" ng-if="IsEdit==true" ng-disabled="false"
                            ng-click="LanguageSettings_AddEdit()">
                        Save
                    </button>
                    <button type="button" class="theme-btn-2 mr-10 mt-20" ng-if="IsEdit==true" ng-click="LanguageSettingsCancel()"
                            title="Click to Cancel">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
    <table st-table="rowCollectionLanguageSettings" style="width: 100%" st-safe-src="rowCollectionLanguageSettings" cellpadding="2" cellspacing="2" border="0" class="table themeTable">
        <colgroup>
            <col span="1" style="width:16%" />
            <col span="1" style="width:37%" />
            <col span="1" style="width:37%" />
        </colgroup>
        <thead>
            <tr style="text-align: center">
                <th st-ratio="20" rowspan="1" st-sort="">Language Key</th>
                <th st-ratio="40" rowspan="1" st-sort="">Language Text</th>
                <th st-ratio="40" rowspan="1" st-sort="">Default</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-if="rowCollectionLanguageSettings.length==0">
                <td colspan="15" style="text-align: center">
                    No Data Available
                </td>
            </tr>
            <tr ng-repeat="row in rowCollectionLanguageSettings">
                <td style="text-align: left">
                    {{row.LANGUAGE_KEY}}
                </td>
                <td style="text-align: left">
                    <input type="text" class="form-control" style="max-width:100% !important"
                           ng-model="LanguageText[row.ID]" placeholder="" ng-if="IsEdit==true">
                    <span ng-if="IsEdit==false">{{row.LANGUAGE_TEXT}}</span>
                </td>
                <td style="text-align: left">
                    {{row.LANGUAGE_DEFAULT}}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
</div>
