<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
    });
</script>
<ul class="secondaryMenu">
    <li>
        <a class="secondaryMenuActive" href="Home/Index#/ICD10Master" data-menu="Master">ICD 10</a>
    </li>
    <li>
        <a href="Home/Index#/DrugDBMaster">Drug DB</a>
    </li>
    <li>
        <a href="Home/Index#/AllergyMaster">Allergies</a>
    </li>
    <li>
        <a href="Home/Index#/Payor">Payor</a>
    </li>
    <li>
        <a href="Home/Index#/Plan">Plan</a>
    </li>
</ul>

<h1 class="page-title">ICD 10</h1>
<div class="container" style="max-width: 1530px;">
    <div class="row">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <div class="" ng-init="ICD10list()">
            <div class="panel panel-default" id="ICD10Id">
                <form class="form-horizontal" role="form">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <label>Search</label>
                                    <div class="modernSearch">
                                        <input type="text" ng-model="searchquery" ng-change="fliterICD10List()"
                                               placeholder="" style="width: 200px" />
                                        <i class="fa fa-search"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <label>Active</label>
                                </div>
                                <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="ICD10list();" title="Active / All">
                            </div>
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <a href="javascript:" ng-click="ClearPopup();AddICD10PopUP();" class="theme-btn-1 pull-right mt-15 btn-autosize pull-right ml-10" title="Click to Add New ICD 10">Add New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- <a href="javascript:" ng-click="AddICD10PopUP()" class="btn btn-autosize pull-right mb-15" title="Click to Add New ICD 10">Add New</a>-->
        <div class="">
            <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" st-search="query" class="table themeTable">
                <thead>
                    <tr style="text-align: center">
                        <th st-ratio="5">#</th>
                        <th st-ratio="29" st-sort="ICD_Code">ICD Code</th>
                        <th st-ratio="29" st-sort="Description">Description</th>
                        <th st-ratio="29" st-sort="CategoryName">Category</th>
                        <th st-ratio="8" >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="rowCollectionFilter.length==0">
                        <td colspan="5" class="textalign">
                            No Data Available
                        </td>
                    </tr>
                    <tr ng-repeat="row in emptydata">
                        <td class="textalign">{{((current_page-1)*page_size)+$index+1}}</td>
                        <td style="text-align: left; max-width: 150px; word-wrap: break-word;">{{row.ICD_Code}}</td>
                        <td style="text-align: left; max-width: 150px; word-wrap: break-word;"> <div class="textwrap">{{row.Description}}</div></td>
                        <td style="text-align: left">{{row.CategoryName}}</td>
                        <td st-ratio="10">

                            <a href="javascript:" ng-click="ViewICD1OPopUP(row.Id)" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="javascript:" ng-click="row.IsActive == 0 ||  EditICD10PopUP(row.Id)" title="Edit">
                                <i class="fa fa-pencil ng-scope" aria-hidden="true" ng-if="row.IsActive==1" ></i>
                                <a href="javascript:" ng-click="ErrorFunction()" title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true" ng-if="row.IsActive==0"></i>

                                </a>
                            </a>
                                <a href="javascript:;" id="btndelete" ng-disabled="false" ng-click="DeleteICD10(row.Id)" title="Active">
                                    <i class="fa fa-check-circle-o" aria-hidden="true" ng-if="row.IsActive==1"></i>

                                    <a href="javascript:"ng-click="ActiveICD10(row.Id)" title="InActive">
                                        <i class="fa fa-times-circle-o" aria-hidden="true" ng-if="row.IsActive==0"></i>
                                    </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="total_page>1">
                    <tr>
                        <td colspan="6" class="text-center" style="text-align:center">
                            <!--<div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>-->
                            <ul class="pagination">
                                <li>
                                    <a ng-click="setPage(1)">First</a>
                                </li>
                                <li>
                                    <a ng-click="setPage(current_page - 1)">&lt;</a>
                                </li>
                                <li>
                                    <a><input style="width: 50px" class="text-center" type="number" min="1" max="{{total_page}}" step="1" ng-model="inputPageNo" ng-value="current_page" ng-change="setPage(0);"> of {{total_page}}</a>
                                </li>
                                <li>
                                    <a ng-click="setPage(current_page + 1)">&gt;</a>
                                </li>
                                <li><a ng-click="setPage(total_page)">Last</a></li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--ADD&EDIT MODAL-->
<div id="ICD10Modal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" ng-class="{'submitted': submitted}" ng-submit="ICD10AddEdit()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="Close" ng-click="CancelPopup()" style="color:#fff;">&times;</button>
                    <h4 class="modal-title">ICD 10</h4>
                </div>
                <div class="modal-body">
                        <div class="inputGroups">
                            <label>ICD Code<sup><font class='mandatory-field'>*</font></sup></label>
                            <input type="text" class="form-control" id="Text6" name="ICD_Code" ng-model="ICD_Code" ng-init="ICD_Code=''" placeholder="" ng-maxlength="100" maxlength="100" onkeypress="" required />
                        </div>
                        <div class="inputGroups">
                            <label>Description<sup><font class='mandatory-field'>*</font></sup></label>
                            <textarea class="form-control" id="Textarea1" rows="2" name="Description" ng-model="Description" placeholder="" ng-maxlength="250" maxlength="250" ng-required="true"> </textarea>
                        </div>
                        <div class="inputGroups">
                            <label>Category</label>
                            <select class="" data-style="form-control" ng-model="Category_ID" id="selectpicker" data-live-search="true" data-selectpicker data-collection-name="CategoryIDList">
                                <option ng-repeat="sel in CategoryIDList" value="{{sel.Id}}">{{sel.Name}}</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="submit" class="theme-btn-1 mr-10 btn-save" ng-disabled="false" id="btnsave" ng-click="submitted=true;" title="Click to Save">Save</button>
                    <button type="button" class="theme-btn-2  btn-save" ng-click="CancelPopUP()" title="Click to Cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--VIEW MODAL-->
<div id="ICD10ViewModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false" ng-int="ViewICD10()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Close" ng-click="CancelPopup()">&times;</button>
                <h4 class="modal-title">ICD 10</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="font-size:small">
                    <div class="inputGroups">
                        <label>ICD Code</label>
                        <span>{{ICD_Code}}</span>
                    </div>
                    <div class="inputGroups">
                        <label>Description</label>
                        <span><div class="textwrap">{{Description}}</div></span>
                    </div>
                    <div class="inputGroups">
                        <label>Category</label>
                        <span>{{ViewCategoryName}}</span>
                    </div>

                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="theme-btn-2  btn-save" ng-click="CancelViewPopup()" title="Click to Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>









