<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat Settings</a>
    </li>
    <li> <a class="secondaryMenuActive" href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <!--<li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>-->
    <li><a href="Home/Index#/WebConfiguration">Configuration</a></li>
    <li><a href="Home/Index#/LanguageSettings">Language Settings</a></li>
</ul>
<div class="overlay" show-on-load>
    <div id="loading-img"></div>
</div>
<h1 class="page-title">Password Policy</h1>
<div>
    <div class="panel panel-info" id="App">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
            <div></div>
            <div></div>
        </div>
        <div class="panel-body" ng-init="PasswordPolicyView()">

            <form class="form-horizontal" role="form">

                <div class="overlay">
                    <div id="Div1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputGroups">
                            <label>
                                Minimum Length<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text2" ng-model="Minimum_Length"
                                ng-init="Minimum_Length=''" placeholder="" onkeypress="varifyNumberPositive(event)"
                                ng-maxlength="2" maxlength="2" />
                        </div>
                        <div class="inputGroups">
                            <label>
                                Maximum Length <sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text3" ng-model="Maximum_Length"
                                ng-init="Maximum_Length=''" placeholder="" onkeypress="varifyNumberPositive(event)"
                                ng-maxlength="2" maxlength="2" />
                        </div>
                        <div class="inputGroups">
                            <label>Character's not allowed List</label>
                            <input type="text" class="form-control" id="Text6" ng-model="Without_Char"
                                ng-init="Without_Char=''" placeholder="" onkeypress="OnlySpecCharallow(event)"
                                ng-maxlength="50" maxlength="50" />
                        </div>
                        <div class="inputGroups">
                            <label>
                                Password Expiry Period (Days)<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text4" ng-model="Expiry_Period"
                                ng-init="Expiry_Period=''" ng-disabled="AllowExpiryDays" placeholder=""
                                onkeypress="varifyNumberPositive(event)" ng-maxlength="3" maxlength="3" />
                        </div>

                        <div class="inputGroups">
                            <label>Restrict Last Password (Times)</label>
                            <input type="text" class="form-control" id="Text5" ng-model="Restrict_LastPassword"
                                ng-init="Restrict_LastPassword=''" placeholder=""
                                onkeypress="varifyNumberPositive(event)" ng-maxlength="3" maxlength="3" />
                        </div>
                        <div class="inputGroups">
                            <label>Maximum Failed Login Attempts</label>
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="Text8" ng-model="MaxLoginTime"
                                        ng-init="MaxLoginTime=''" placeholder=""
                                        onkeypress="varifyNumberPositive(event)" ng-maxlength="2" maxlength="2" />
                                </div>
                                <div class="col-sm-1">
                                    <span>within</span>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="Text9" ng-model="MaxLoginHours"
                                        ng-init="MaxLoginHours=''" placeholder=""
                                        onkeypress="varifyNumberPositive(event)" ng-maxlength="4" maxlength="4" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="Text1" ng-model="MaxLoginMins"
                                        ng-init="MaxLoginMins=''" placeholder=""
                                        onkeypress="varifyNumberPositive(event)" ng-maxlength="4" maxlength="4" />
                                </div>
                                <div class="col-sm-1">
                                    <span>Hours</span>
                                </div>

                            </div>
                        </div>



                    </div>
                    <div class="col-sm-6">
                        <div class="inputGroups">
                            <label>Upper Case Required</label>
                            <input type="checkbox" value="agree" ng-model="UpperCase_Required">
                        </div>
                        <div class="inputGroups">
                            <label>Lower Case Required</label>
                            <input type="checkbox" value="agree" ng-model="LowerCase_Required">
                        </div>
                        <div class="inputGroups">
                            <label>Numeric Required</label>
                            <input type="checkbox" value="agree" ng-model="Numeric_Required">
                        </div>
                        <div class="inputGroups">
                            <label>Special Character Required</label>
                            <input type="checkbox" value="agree" ng-model="SpecialChar_Required">
                        </div>
                        <div class="inputGroups">
                            <label>Password Never Expire</label>
                            <input type="checkbox" value="agree" ng-model="AllowExpiryDays"
                                ng-click="ClearPasswordExpiryperiod()">
                        </div>
                        <div class="inputGroups">
                            <label>User Name Allowed</label>
                            <input type="checkbox" value="agree" ng-model="Allow_UserName">
                        </div>
                        <div class="inputGroups">
                            <label>Remember Password in Login</label>
                            <input type="checkbox" value="agree" ng-model="Remember_Password">
                        </div>
                       
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div style="text-align: center;">
        <button type="button" class="theme-btn-1 mr-10" title="Click to Save"
            ng-click="PasswordPolicyInsertUpdate()">Save</button>
        <button type="button" class="theme-btn-2 mr-10" title="Click to Cancel"
            ng-click="PasswordPolicyView()">Cancel</button>
        <button type="button" class="theme-btn-2 mr-10" title="Click to Reset" ng-click="ClearFields()">Reset</button>
    </div>
    <br />
</div>