<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat Settings</a>
    </li>
    <li> <a class="secondaryMenuActive" href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Slot Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>
    <li><a href="Home/Index#/WebConfiguration">Configuration</a></li>
    <li><a href="Home/Index#/LanguageSettings">Language Settings</a></li>
</ul>
<div class="overlay" show-on-load>
    <div id="loading-img"></div>
</div>
<h1 class="page-title">Password Policy</h1>
<div>
    <div class="panel panel-info" id="App">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <div class="panel-body" ng-init="PasswordPolicyView()">

            <form class="form-horizontal" role="form">

                <div class="overlay">
                    <div id="Div1"></div>
                </div>

                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                    <tr>
                        <td style="width: 20%">
                            <label>
                                Minimum Length<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                        </td>
                        <td style="width: 20%">
                            <input type="text" class="form-control" id="Text2" ng-model="Minimum_Length"
                                   ng-init="Minimum_Length=''" placeholder="" onkeypress="varifyNumberPositive(event)"
                                   ng-maxlength="2" maxlength="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                Maximum Length <sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Text3" ng-model="Maximum_Length"
                                   ng-init="Maximum_Length=''" placeholder="" onkeypress="varifyNumberPositive(event)"
                                   ng-maxlength="2" maxlength="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Upper Case Required</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="UpperCase_Required">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Lower Case Required</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="LowerCase_Required">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Numeric Required</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="Numeric_Required">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Special Character Required</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="SpecialChar_Required">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Character's not allowed List</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Text6" ng-model="Without_Char"
                                   ng-init="Without_Char=''" placeholder="" onkeypress="OnlySpecCharallow(event)"
                                   ng-maxlength="50" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password Never Expire</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="AllowExpiryDays" ng-click="ClearPasswordExpiryperiod()">
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label>
                                Password Expiry Period<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Text4" ng-model="Expiry_Period"
                                   ng-init="Expiry_Period=''" ng-disabled="AllowExpiryDays" placeholder=""
                                   onkeypress="varifyNumberPositive(event)" ng-maxlength="3" maxlength="3" />
                        </td>
                        <td>
                            <label>Days</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>User Name Allowed</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="Allow_UserName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Restrict Last Password</label>
                        </td>

                        <td>
                            <input type="text" class="form-control" id="Text5" ng-model="Restrict_LastPassword"
                                   ng-init="Restrict_LastPassword=''" placeholder="" onkeypress="varifyNumberPositive(event)"
                                   ng-maxlength="3" maxlength="3" />
                        </td>
                        <td><label>Times</label></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Maximum Failed Login Attempts</label>
                        </td>

                        <td class="nopadding">
                            <table border="0" width="100%" class="formControlGroup">
                                <tr>
                                    <td width="45%">
                                        <input type="text" class="form-control" id="Text8" ng-model="MaxLoginTime"
                                               ng-init="MaxLoginTime=''" placeholder=""
                                               onkeypress="varifyNumberPositive(event)" ng-maxlength="2" maxlength="2" />
                                    </td>
                                    <td width="10%">
                                        <label>within</label>
                                    </td>
                                    <td width="45">
                                        <input type="text" class="form-control" id="Text9" ng-model="MaxLoginHours"
                                               ng-init="MaxLoginHours=''" placeholder=""
                                               onkeypress="varifyNumberPositive(event)" ng-maxlength="4" maxlength="4" />
                                    </td>
                                    <td width="45">
                                        <input type="text" class="form-control" id="Text1" ng-model="MaxLoginMins"
                                               ng-init="MaxLoginMins=''" placeholder=""
                                               onkeypress="varifyNumberPositive(event)" ng-maxlength="4" maxlength="4" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td><label>Hours</label></td>
                    </tr>

                    <tr>
                        <td>
                            <label>Remember Password in Login</label>
                        </td>
                        <td>
                            <input type="checkbox" value="agree" ng-model="Remember_Password">
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>

    <div style="text-align: center;">
        <button type="button" class="btn  btn-save" title="Click to Save" ng-click="PasswordPolicyInsertUpdate()">Save</button>
        <button type="button" class="btn  btn-save" title="Click to Cancel" ng-click="PasswordPolicyView()">Cancel</button>
        <button type="button" class="btn  btn-save" title="Click to Reset" ng-click="ClearFields()">Reset</button>
    </div>
    <br />
</div>