<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
    });
</script>
<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat</a>
    </li>
    <li><a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <!--<li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>-->
    <li><a class="secondaryMenuActive" href="Home/Index#/WebConfiguration" data-menu="Settings">Configuration</a></li>
    <li><a href="Home/Index#/LanguageSettings">Language</a></li>
    <li><a href="Home/Index#/GateWaySettings">GateWay</a></li>
</ul>

<div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
    <div></div>
    <div></div>
</div>

<div ng-init="WebConfigurationList()">
    <h1 class="page-title">Web Configuration</h1>
    <div class="panel panel-default">
        <form class="panel-body" role="form">
            <div class="overlay" show-on-load>
                <div id="loading-img"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="inputGroups">
                        <label>Search</label>
                        <div class="modernSearch">
                            <input type="text" ng-model="searchqueryWebConfiguration" ng-change="FilterWebConfigurationList()" placeholder="" />
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="theme-btn-1 mr-10 mt-20" ng-if="IsEdit==false" ng-click="WebConfigEdit()"
                            title="Click to Edit">
                        Edit
                    </button>
                    <button type="button" class="theme-btn-1 mr-10 mt-20" id="save" ng-disabled="false" title="Click to Save" ng-if="IsEdit==true"
                            ng-click="Configuration_AddEdit()">
                        Save
                    </button>
                    <button type="button" class="theme-btn-2 mr-10 mt-20" ng-if="IsEdit==true" ng-click="WebConfigCancel()"
                            title="Click to Cancel">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
    <table st-table="rowCollectionWebConfiguration" style="width: 100%" st-safe-src="rowCollectionWebConfiguration" cellpadding="2" cellspacing="2" border="0" class="table themeTable">
        <colgroup>
            <col span="1" style="width:25%" />
            <col span="1" style="width:25%" />
            <col span="1" style="width:50%" />
        </colgroup>
        <thead>
            <tr style="text-align: center">
                <th rowspan="1" st-sort="">CONFIGCODE</th>
                <th rowspan="1" st-sort="">CONFIGINFO</th>
                <th rowspan="1" st-sort="">CONFIGVALUE</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-if="rowCollectionWebConfiguration.length==0">
                <td colspan="15" style="text-align: center">
                    No Data Available
                </td>
            </tr>
            <tr ng-repeat="row in rowCollectionWebConfiguration">
                <td style="text-align: left">
                    {{row.CONFIGCODE}}
                </td>

                <td style="text-align: left">
                    {{row.CONFIGINFO}}
                </td>

                <td style="text-align: left">

                    <select class="form-control" style="max-width:100% !important"
                            ng-model="Config_value[row.ID]" ng-if="row.CONFIGCODE=='FULLNAME_FORMULA' && IsEdit==true">
                        <option value="[L],[F]">[L],[F]</option>
                        <option value="[F],[L],[M]">[F],[L],[M]</option>
                        <option value="[L],[F],[M]">[L],[F],[M]</option>
                    </select>

                    <select class="form-control" id="chkChronic" style="max-width:100% !important" multiple="multiple" multiselect-dropdown
                            ng-change="onChangeChronic();"
                            ng-model="Config_value[row.ID]" ng-if="row.CONFIGCODE=='CHRONIC CODE' && IsEdit==true">
                        <option id="chkCL" ng-model="chronicCL" value="CL">CL</option>
                        <option id="chkCG" ng-model="chronicCG" value="CG">CG</option>
                        <option id="chkCC" ng-model="chronicCC" value="CC">CC</option>
                        <option id="chkSC" ng-model="chronicSC" value="SC">SC</option>
                    </select>
                    <div ng-if="row.CONFIGCODE=='BT Device Data Posting' && IsEdit==true">
                        <input style="margin-left: 5px !important" type="radio" value="Auto" ng-model="Config_value[row.ID]"> Auto
                        <input style="margin-left: 5px !important" type="radio" value="Manual" ng-model="Config_value[row.ID]"> Manual
                    </div> 
                    <!--<select class="form-control" style="max-width:100% !important" ng-model="SelectedChronic" multiple="multiple" ng-change="onChangeChronic();"
            ng-options="item1.CHRONICID as item1.CHRONICNAME for item1 in ChronicCodeList"
            multiselect-dropdown ng-if="row.CONFIGCODE=='CHRONIC_CODE' && IsEdit==true">
    </select>-->

                    <input type="text" class="form-control" style="max-width:100% !important"
                           ng-model="Config_value[row.ID]" placeholder="" ng-if="row.CONFIGCODE!='CHRONIC CODE' && row.CONFIGCODE!='FULLNAME_FORMULA' && row.CONFIGCODE!='BT Device Data Posting'  && IsEdit==true">
                    <span ng-if="IsEdit==false">{{Config_value[row.ID]}}</span>

                                       
                </td>
            </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
</div>