<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
    <script>
        $('#btnLogo').click(function () {
            $("#UserLogo").trigger('click');
        });

        $(document).ready(function () {
            var image = $('#UserLogo').val();
            $image_crop = $('#image_demo').croppie({
                enableExif: true,
                url: image,
                viewport: {
                    width: 200,
                    height: 200,
                    type: 'rectangle' //rectangle
                },
                boundary: {
                    width: 300,
                    height: 300
                },
                points: {
                    topLeftX: 0,
                    topLeftY: 0,
                    bottomRightX: 0,
                    bottomRightY: 0
                }
            });

            $('#UserLogo').on('change', function () {
                var reader = new FileReader();
                reader.onload = function (event) {
                    $image_crop.croppie('bind', {
                        url: event.target.result
                    }).then(function () {
                    });
                }
                reader.readAsDataURL(this.files[0]);
                $('#insertimageModal').modal('show');
            });

            $('.crop_image').click(function (event) {
                $image_crop.croppie('result', {
                    type: 'base64',
                    format: 'jpeg',
                    //type: 'canvas',
                    size: 'viewport'
                    //size: {width: 150, height: 200}
                }).then(function (response) {
                    $('#item-img-output').attr('src', response);
                    $('#insertimageModal').modal('hide');
                });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
            if ($('#' + $('.secondaryMenuActive').data('menu')).length === 0) {
                $('.activeButton').removeClass('activeButton');
                $('#Admin').addClass('activeButton');
            }
        });
    </script>
    <script>
        var input = document.querySelector("#txtMobile");
        var inputPhoneNo = window.intlTelInput(input, {
            formatOnDisplay: true,
            separateDialCode: true,
            geoIpLookup: function (callback) {
                $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "";
                    callback(countryCode);
                });
            },
            //preferredCountries: ["in"],
            utilsScript: "scripts/utils.js",
        });

        //inputPhoneNo.setNumber("+91 98765 43210");


    </script>
</head>
<style>
    .toggle {
        border-radius: 20px;
    }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }
</style>
<script>
    $(function () {
        $('#toggle-one').bootstrapToggle();
    })
</script>
<ul class="secondaryMenu">
    <li><a href="Home/Index#/InstitutionHospitalAdmin_view">Institution</a></li>
    <li>
        <a href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view">Subscription</a>
    </li>
    <li>
        <a href="Home/Index#/HospitalAdmin_UserList/2">
            Clinical
            Users
        </a>
    </li>
    <li><a href="Home/Index#/PatientList/3">All Patients</a></li>
    <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
    <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
    <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/Admin_Eligibility_Logs_List" data-menu="Home">Eligibility Logs</a></li>
    <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
</ul>

<h1 class="page-title">Eligibility Logs</h1>
<div ng-init="Eligibility_Logs_List();All_Patient_List();">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
    <div class="panel panel-default" id="Div1">
        <form class="form-horizontal" role="form">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="inputGroups">
                            <label>Patient Name</label>
                            <div class="modernSearch" style="margin-top:3.75%">
                                <select class="form-control" data-style="form-control" data-live-search="true" data-selectpicker data-collection-name="PatientList" id="CCCG" ng-model="SelectedPatient"
                                        ng-options="item3.Id as item3.FullName for item3 in PatientList">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div class="inputGroups">
                            <label class="sub-title">
                                Start Date<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input id="SearchDate" class="form-control" type="date" ng-model="SearchDate" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputGroups">
                            <label class="sub-title">
                                End Date<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input id="SearchEndDate" class="form-control" type="date" ng-model="SearchEndDate" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputGroups">
                            <label class="sub-title">Eligibility Status Filter </label>
                            <select class="form-control" ng-model="Paymentsearch" id="ddlsearchfield" ng-required="true">
                                <option value="">Select</option>
                                <option value="1">PENDING</option>
                                <option value="2">ERROR</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1" style="margin-top: 0.5%; width:6%">
                        <div class="inputGroups">
                            <label>&nbsp;</label>
                            <a href="javascript:" title="Filter" class="theme-btn-1" ng-click="Eligibility_Logs_Filters();">Filter</a>
                        </div>
                    </div>
                    <div class="col-sm-1" style="margin-top: 0.5%; width: 6%">
                        <div class="inputGroups">
                            <label>&nbsp;</label>
                            <a href="javascript:" title="Filter" class="theme-btn-1" ng-click="Eligibility_Logs_List();">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter"
       class="table themeTable">
    <thead>
        <tr style="text-align: center">
            <th st-ratio="3">#</th>
            <th st-ratio="5" st-sort="LONGITUDE">Appointment ID</th>
            <th st-ratio="5" st-sort="FULLNAME">Eligibility ID</th>
            <th st-ratio="6" st-sort="REGIONNAME">Patient Name</th>
            <th st-ratio="7" st-sort="LOGINTIME">Clinician Name</th>
            <th st-ratio="8" st-sort="LOGOUTTIME">Clinician Speciality</th>
            <th st-ratio="11" st-sort="LOGIN_COUNTRY">ID Payer</th>
            <th st-ratio="11" st-sort="LOGIN_CITY">Denial Reason</th>
            <th st-ratio="3" st-sort="LATITUDE">Eligibility Status</th>
            <th st-ratio="5" st-sort="STATUS">Payer Name</th>
            <th st-ratio="13" st-sort="FAILURE_REASON">Rquested By</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="flag==0 && rowCollectionFilter.length==0">
            <td colspan="11" style="text-align: center">
                {{SearchMsg}}
            </td>
        </tr>
        <tr ng-repeat="row in emptydata">
            <td class="textalign">{{((current_page-1)*page_size)+$index+1}}</td>
            <td>
                {{row.Appointment_ID}}
            </td>
            <td>
                {{row.Eligibility_ID}}
            </td>
            <td>
                {{row.Patient_Name}}
            </td>
            <td>
                {{row.Clinician_Name}}
            </td>
            <td>
                {{row.Clinician_Speciality}}
            </td>
            <td>
                {{row.ID_Payer}}
            </td>
            <td>
                {{row.Denial_Reason}}
            </td>
            <td>
                {{row.Eligibility_Status}}
            </td>
            <td>
                {{row.Payer_Name}}
            </td>
            <td>
                {{row.Patient_Name}}
            </td>
        </tr>
    </tbody>
    <tfoot ng-show="UserDetailsList.length >10">
        <tr>
            <td colspan="11" class="text-center">
                <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination=""
                     st-template="Masters/Views/pagination.custom.html"></div>
            </td>
        </tr>
    </tfoot>
</table>
<br />
<br />
<br />
<script>
    $(document).ready(function () {
        $("#Text2").bind('paste', function () {
            setTimeout(function () {
                var text = $('#Text2').val();
                var dataFull = text.replace(/[^\w\s]/gi, '');
                var dataFull = dataFull.replace(/[0-9]/g, '');
                $('#Text2').val(dataFull);
            });

        });

        $("#Text1").bind('paste', function () {
            setTimeout(function () {
                var text = $('#Text1').val();
                var dataFull = text.replace(/[^\w\s]/gi, '');
                var dataFull = dataFull.replace(/[0-9]/g, '');
                $('#Text1').val(dataFull);
            });
        });

        $("#Text4").bind('paste', function () {
            setTimeout(function () {
                var text = $('#Text4').val();
                var dataFull = text.replace(/[^\w\s]/gi, '');
                var dataFull = dataFull.replace(/[0-9]/g, '');
                $('#Text4').val(dataFull);
            });
        });
    });
</script>