<!-- Institution Subscription Details view Page -->
<meta http-equiv="refresh">

<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }

        .asd {
            background: rgba(0, 0, 0, 0);
            border: none;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<div class="mainbody">
    <ul class="secondaryMenu">
        <li>
            <a href="Home/Index#/InstitutionHospitalAdmin_view">
                Institution
            </a>
        </li>
        <li>
            <a class="secondaryMenuActive" href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view" data-menu="Home">Subscription</a>
        </li>
        <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical Users</a></li>
        <li><a href="Home/Index#/PatientList/3">All Patients</a></li>
        <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
        <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
        <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
        <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
    </ul>
    <!--<div ng-if="ModeType==2 && window.top==window">
       <meta http-equiv="refresh">
    </div>-->
    <div ng-init="InstitutionSubscriptionDetails_View();">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <h1 class="page-title">Subscription</h1>
        <div class="panel panel-default active" id="Basic1">
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="patientform" id="patientform">
                    <table cellpadding="0" align="Center" cellspacing="0" border="0" width="100%" class="formControlGroup">
                        <tr>
                            <td width="13%">
                                <Lable>Institution Name</Lable>
                            </td>
                            <td width="25%">
                                {{ViewInstitution_Name}}
                            </td>
                            <td rowspan="9" valign="top">
                                <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-4" ng-repeat="row in InstitutiontypeList">
                                                    <input type="checkbox" disabled="disabled" ng-model="InstitutionAddList[$index]" onchange="ModulelistChange();" />{{row.ModuleName}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-4" ng-repeat="row in LanguageList">
                                                    <input type="checkbox" disabled="disabled" ng-model="InstitutionAddLanguageList[$index]" />{{row.LanguageName}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="centerallign">
                                                    <label>Insurance</label>
                                                </div>
                                                <div class="col-md-4" ng-repeat="(key,value) in InstitutionInsuranceName">
                                                    <input type="checkbox" disabled="disabled" ng-model="InstitutionAddInsuranceList[$index]" />{{value.PaymentName}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="centerallign">
                                                    <label>Payment</label>
                                                </div>
                                                <div class="col-md-4" ng-repeat="(key,value) in InstitutionPaymentMethod">
                                                    <input type="checkbox" disabled="disabled" ng-model="InstitutionAddPaymentList[$index]" />{{value.PaymentName}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" width="90%" class="formControlGroup">
                                    <tr>
                                        <td width="7%">
                                            <label>TimeZone Name</label>
                                        </td>
                                        <td width="20%">
                                            <select class="form-control" id="selectpicker" disabled>
                                                <option value="0" data-tokens="TimeZone_Name">Select</option>
                                                <option ng-repeat="set in TimeZoneListID" ng-required="true" ng-selected="TimeZoneId == set.TimeZoneId"
                                                        value="{{set.TimeZoneId}}">
                                                    {{TimeZoneIDName}}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="7%">
                                            <label>No. of Health Care Professionals</label>
                                        </td>
                                        <td width="20%">
                                            {{Health_Care_Professionals}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Patients</label>
                                        </td>
                                        <td>
                                            {{Patients}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive</label>
                                        </td>
                                        <td>
                                            {{No_Of_Hive}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive Chart</label>
                                        </td>
                                        <td>
                                            {{No_Of_HiveChart}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive Users</label>
                                        </td>
                                        <td>
                                            {{No_Of_Hive_Users}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive Chart Users</label>
                                        </td>
                                        <td>
                                            {{No_Of_HiveChart_Users}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive Devices</label>
                                        </td>
                                        <td>
                                            {{No_Of_HiveDevices}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>No. of Hive Chart Devices</label>
                                        </td>
                                        <td>
                                            {{No_Of_HiveChartDevices}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Contract Period</label>
                                        </td>
                                        <td>
                                            {{Contract_Period_From |date:"dd-MMM-yyyy"}} - {{Contract_Period_To |date:"dd-MMM-yyyy"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Type</label>
                                        </td>
                                        <td class="nopadding">
                                            <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
                                                <tr>
                                                    <td>
                                                        {{Subscription_Type==1 ? "Standard" : "Premium"}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="7%">
                                            <label>Appointment Module</label>
                                        </td>
                                        <td width="20%">
                                            <select class="form-control" id="AppointmentModuleID" disabled>
                                                <option value="0" data-tokens="AppointmentModule_Name">Select</option>
                                                <option ng-repeat="set in AppointmentModuleListID" ng-required="true" ng-selected="AppointmentModuleId == set.Id" value="{{set.Id}}">{{set.Name}} </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of Patient</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Patient}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of HCP</label>
                                        </td>
                                        <td><span>{{Created_No_Of_HealthCareProf}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Patient</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Patient}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   HCP</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_HealthCareProf}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of Hive</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hive}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of HiveChart</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hivechart}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of Hive Devices</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hive_Devices}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of HiveChart Devices</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hivechart_Devices}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Hive</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hive}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   HiveChart</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hivechart}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of Hive Users</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hive_Users}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Created No.of Hive Chart Users</label>
                                        </td>
                                        <td><span>{{Created_No_Of_Hivechart_Users}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Hive Users</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hive_Users}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Hive Chart Users</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hivechart_Users}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Hive Devices</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hive_Devices}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Available   Hive Chart Devices</label>
                                        </td>
                                        <td><span>{{Remaining_No_Of_Hivechart_Devices}}</span></td>
                                    </tr>
                                </table>
                        <tr>
                            <td>
                                <label>Email</label>
                            </td>
                            <td><span>{{Email}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Address1</label>
                            </td>
                            <td><span>{{Address1}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Address2</label>
                            </td>
                            <td><span>{{Address2}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Address3</label>
                            </td>
                            <td><span>{{Address3}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Postal/ZipCode</label>
                            </td>
                            <td><span>{{ZipCode}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Country</label>
                            </td>
                            <td><span>{{Country}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>State</label>
                            </td>
                            <td><span>{{State}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>City</label>
                            </td>
                            <td><span>{{City}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>RowId</label>
                            </td>
                            <td><span id="subscriptionrowid">{{DuplicatesId}}</span></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>


    </div>
</div>