<!-- Institution Details view Page -->
<meta http-equiv="refresh">

<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }

        .asd {
            background: rgba(0, 0, 0, 0);
            border: none;
        }

        .pagehead {
            margin-left: 20px;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })

    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<div class="mainbody">
    <ul class="secondaryMenu">
        <li>
            <a class="secondaryMenuActive" href="Home/Index#/InstitutionHospitalAdmin_view" data-menu="Home">
                Institution
            </a>
        </li>
        <li>
            <a href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view">Subscription</a>
        </li>
        <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical Users</a></li>
        <li><a href="Home/Index#/PatientList/3">All Patients</a></li>
        <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
        <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
        <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
        <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
    </ul>
    <div ng-init="InstitutionDetails_View();">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <h1 class="page-title">Institution</h1>
        <div id="Basic1">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default panel-info" id="tableid">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">Name </span>
                                            <span style="font-weight:bold;margin-left: 40px;">: </span>
                                            <span>{{Institution_Name}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;"> Short Name : </span>
                                            <span>{{INSTITUTION_SHORTNAME}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">Email </span>
                                            <span style="font-weight:bold;margin-left: 40px;">: </span>
                                            <span>{{Email}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inputGroups">
                                            <div style="margin-left: 151px;margin-top: -12px;">
                                                <span style="font-weight:bold;"> Logo Upload</span><br />
                                                <img ng-src="{{uploadme}}" style="margin-left: -10px; height: 100px; width: 100px; background-color: transparent;" class="institutionLogo"
                                                     ng-show="(uploadme != '')" />
                                                <img src="../../Images/noImage.jpg" style="margin-left: -10px; height: 100px; width: 100px;" class="institutionLogo"
                                                     ng-show="(uploadme == '' || uploadme == null)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default panel-info" id="Div1">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">Address</span>
                                            <span style="font-weight:bold;margin-left: 51px;">:</span>
                                            <div style="width: 178%;margin-top: -19px;">  <span style="margin-left: 112px;">  {{Address1}}</span></div>
                                            <div style="width: 178%;"> <span style="margin-left: 112px;"> {{Address2}}</span></div>
                                            <div style="width: 178%;"> <span style="margin-left: 112px;">  {{Address3}}</span></div>

                                        </div>
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">Postal / Zip code</span>
                                            <span style="font-weight:bold;">:</span>
                                            <span>   {{ZipCode}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">Country</span>
                                            <span style="font-weight:bold;margin-left:57px;">:</span>
                                            <span>  {{ViewCountryName}}</span>

                                        </div>
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">State</span>
                                            <span style="font-weight:bold;margin-left: 75px;">:</span>
                                            <span>{{ViewStateName}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <span style="font-weight:bold;">City</span>
                                            <span style="font-weight:bold;margin-left: 84px;">:</span>
                                            <span>  {{ViewCityName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </form>
            <div class="text-center mb-20">
                <button type="button" class="theme-btn-1 mr-10" title="Click to Edit"
                        ng-click="EditInstitutionHospitalAdmin()">
                    Edit
                </button>
                <!--<a id="runConfig" style="cursor:pointer; text-decoration: underline;" title="Click to re-run configuration" ng-click="InstitueConfiguration()">
                    Re-run configuration
                </a>&nbsp;-->
                <a id="runCometchat" style="cursor:pointer; text-decoration: underline;" title="Click to CometChat User Configuration" ng-click="DeleteCometChatUsers()">
                    CometChat User Configuration
                </a>
            </div>

        </div>
    </div>

</div>