<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
       // $('#Contract_Period_From').attr('min', maxDate);
        $('#Contract_Period_To').attr('min', maxDate);
       // $scope.Contract_Period_From = maxDate;
        $scope.Contract_Period_To = maxDate;
       // $scope.startDateMin = maxDate;
        $scope.EndDateMin = maxDate;
        //document.getElementById("Contract_Period_From").value = maxDate;
        //document.getElementById("Contract_Period_To").value = maxDate;
    });
</script>
<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        $('#Subscription').addClass('activeButton');
    });
</script>
<h1 class="page-title">Subscription</h1>
<div ng-init="InstitutionSubscriptionDetailsListTemplate()">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
        <div></div>
        <div></div>
    </div>
    <div class="panel panel-default" id="tableid">
        <form class="panel-body" role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="inputGroups">
                        <label>Search</label>
                        <div class="modernSearch">
                            <input type="text" ng-model="searchquery"
                                   placeholder="" style="width: 200px" />
                            <i class="fa fa-search" ng-click="filterInstitutionSubscriptionList()"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="inputGroups">
                        <label for="Active">Active</label>
                        <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="InstitutionSubscriptionDetailsFilter();"
                               title="Active / All">
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:" ng-click="AddIntstitutionSubPopup();" class="theme-btn-1 pull-right mt-15"
                       title="Click to Add New Subscription">Add New</a>
                </div>
            </div>
        </form>
    </div>
</div>
<table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" st-search="query" class="table themeTable">
    <thead>
        <tr>
            <th st-ratio="5" st-sort="Id">#</th>
            <th st-ratio="5" st-sort="RowID">RowID</th>
            <th st-ratio="15" st-sort="Institution_Name">Institution Name</th>
            <th st-ratio="15" st-sort="InstitutionPrintName">Short Name</th>
            <th st-ratio="15" st-sort="InstitutionPrintName">Contract Period</th>
            <th st-ratio="5" st-sort="No_Of_Patients">No.of Patient</th>
            <th st-ratio="5" st-sort="Health_Care_Professionals">No.of HCP</th>
            <th st-ratio="5" st-sort="Created_No_Of_Patient">Created No.of Patient</th>
            <th st-ratio="5" st-sort="Created_No_Of_HealthCareProf">Created No.of HCP</th>
            <th st-ratio="5" st-sort="Remaining_No_Of_Patient">Available Patient</th>
            <th st-ratio="5" st-sort="Remaining_No_Of_HealthCareProf">Available HCP</th>
            <th st-ratio="8">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="rowCollectionFilter.length==0">
            <td colspan="5" class="text-center">
                No Data Available
            </td>
        </tr>
        <tr ng-repeat="row in emptydata">
            <td class="textalign">{{((current_page-1)*page_size)+$index+1}}</td>
            <td class="textalign">{{row.Id}}</td>
            <td style="text-align: left; max-width: 150px; word-wrap: break-word; ">
                <div class="textwrap">{{row.Institution.Institution_Name}}</div>
            </td>

            <td style="text-align: left; max-width: 150px; word-wrap: break-word; ">
                <div class="textwrap">{{row.Institution.INSTITUTION_SHORTNAME}}</div>
            </td>

            <td style="text-align: left">
                {{row.Contract_PeriodFrom|date:"dd-MMM-yyyy"}} - {{row.Contract_PeriodTo|date:"dd-MMM-yyyy"}}
            </td>
            <td class="textalign">{{row.No_Of_Patients}}</td>
            <td class="textalign">{{row.Health_Care_Professionals}}</td>
            <td class="textalign">{{row.Created_No_Of_Patient}}</td>
            <td class="textalign">{{row.Created_No_Of_HealthCareProf}}</td>
            <td class="textalign">{{row.Remaining_No_Of_Patient}}</td>
            <td class="textalign">{{row.Remaining_No_Of_HealthCareProf}}</td>
            <td st-ratio="8" style="text-align: center">
                <a href="javascript:" ng-click="ViewIntstitutionSubPopup(row.Id)" title="View"><img src="../../Images/ViewIcon.png" /></a>
                <a href="javascript:" title="Edit" ng-click="EditIntstitutionSubPopup(row.Id, row.Institution.IsActive)">
                    <img src="../../Images/EditIcon.png" />
                </a>
                <a href="javascript:" ng-click="InstitutionSubscription_Delete()" title="Active Institution">
                    <img src="../../Images/activeIcon1.png" ng-if="row.Institution.IsActive==1" />
                </a>
                <a href="javascript:" ng-click="InstitutionSubscription_Delete()" title="Inactive Institution"><img src="../../Images/inactive.png" ng-if="row.Institution.IsActive==0" /></a>
            </td>
        </tr>
    </tbody>
    <tfoot ng-show="rowCollectionFilter.length >page_size">
        <tr>
            <td colspan="15" class="text-center">
                <div st-items-by-page="page_size" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>
            </td>
        </tr>
    </tfoot>
</table>
<!--Create & Edit Modal-->
<div id="InstitutionSubscriptionCreateModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 75%">
        <div class="modal-content">
            <form class="form-horizontal" role="form" name="FormBasic" id="FormBasic" ng-class="{'submitted': submitted}" ng-submit="Institution_SubscriptionAddAndEdit();">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="CancelPopup()" title="Close">&times;</button>
                    <h1 class="modal-title">Subscription</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default" id="Basic1">
                            <div class="panel-body">


                                <table cellpadding="0" align="Center" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                    <tr>

                                        <td width="13%">
                                            <Lable>Institution Name<sup><font class='mandatory-field'>*</font></sup></Lable>
                                        </td>
                                        <td width="25%">
                                            <!-- <div id="divInssInstitute" class="ng-invalid ddlValidationBorder" ng-required="true">-->
                                            <div style="max-width: 240px; word-wrap: break-word;">
                                                <select class="form-control" data-style="form-control" id="insselectpicker" data-live-search="true"
                                                        data-selectpicker data-collection-name="InstitutiondetailsList" ng-model="Institution_Id"
                                                        ng-change="InstituteGetDetails();">
                                                    <!--<option value="0">Select</option>-->
                                                    <option ng-repeat="sel in InstitutiondetailsList" value="{{sel.Id}}">{{sel.Name}}</option>
                                                </select>
                                            </div>
                                            <!--</div>-->
                                        </td>

                                        <td rowspan="9" valign="top">
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-4" ng-repeat="(key,value) in InstitutiontypeList">
                                                                <input type="checkbox" id="Module{{value.Id}}" ng-model="InstitutionAddList[$index]" ng-click="ModulelistChange('Module'+value.Id,value);"/>{{value.ModuleName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-4" ng-repeat="(key,value) in LanguageList">
                                                                <div ng-if="value.LanguageName == 'English'">
                                                                    <input type="checkbox" disabled ng-model="InstitutionAddLanguageList[$index]=true" ng-init="checked=true" /> {{value.LanguageName}}
                                                                </div>
                                                                <div ng-if="value.LanguageName !== 'English'">
                                                                    <input type="checkbox" ng-model="InstitutionAddLanguageList[$index]" />{{value.LanguageName}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="centerallign">
                                                                <label>Insurance</label>
                                                            </div>
                                                            <div class="col-md-4" ng-repeat="(key,value) in InstitutionInsuranceName">
                                                                <input type="checkbox" ng-model="InstitutionAddInsuranceList[$index]" />{{value.PaymentName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="centerallign">
                                                                <label>Payment</label>
                                                            </div>
                                                            <div class="col-md-4" ng-repeat="(key,value) in InstitutionPaymentMethod">
                                                                <input type="checkbox" ng-model="InstitutionAddPaymentList[$index]" />{{value.PaymentName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                                <tr>
                                                    <td width="13%">
                                                        <Lable>TimeZone ID<sup><font class='mandatory-field'>*</font></sup></Lable>
                                                    </td>
                                                    <td width="25%">
                                                        <!--<div id="divInssTimeZone" class="ng-invalid ddlValidationBorder" ng-required="true">-->
                                                        <select class="form-control" data-style="form-control" data-live-search="true"
                                                                data-selectpicker data-collection-name="TimeZoneListID" id="TimeZoneID"
                                                                ng-model="TimeZone_Id">
                                                            <option value="0">Select Time Zone</option>
                                                            <option ng-repeat="set in TimeZoneListID"
                                                                    ng-selected="TimeZoneId == set.TimeZoneId" value="{{set.TimeZoneId}}">
                                                                {{set.TimeZoneDisplayName}}
                                                            </option>
                                                        </select>
                                                        <!--</div>-->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="15%">
                                                        <label>No. of Health Care Professionals<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td width="20%">
                                                        <input type="text" class="form-control" id="text9" ng-model="Health_Care_Professionals" maxlength="9"
                                                               ng-maxlength="9" style="width:190px" onkeypress="varifyNumberPositive(event)" ng-required="true">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of Patients<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="text1" ng-model="Patients" style="width:190px" maxlength="9"
                                                               ng-maxlength="9" onkeypress="varifyNumberPositive(event)" ng-required="true">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of Hive Users<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="text12" ng-model="HiveUsers" style="width:190px" maxlength="9"
                                                               ng-maxlength="9" onkeypress="varifyNumberPositive(event)" ng-required="true">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of Hive Chart Users<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="text13" ng-model="HiveChartUsers" style="width:190px" maxlength="9"
                                                               ng-maxlength="9" onkeypress="varifyNumberPositive(event)" ng-required="true">
                                                    </td>
                                                    </tr>
                                                <tr>
                                                    <td>
                                                        <label>Contract Period<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td>
                                                        <table>f
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        <!--<input type="text" class="form-control" ng-model="Contract_Period_From" ng-init="Contract_Period_From=''" style="width:152px" ng-required="true"> <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                                                                        <input type="date" id="Contract_Period_From" min="{{startDateMin}}" placeholder="" max="2099-12-31" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                                                               ng-model="Contract_Period_From" style="width:165px" ng-change="ChangeDate(Contract_Period_From);"
                                                                               ng-required="true">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <!--<input type="text" class="form-control" id="Text5" ng-model="Contract_Period_To" ng-init="Contract_Period_To=''" style="width:152px" ng-required="true"> <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                                                                        <input type="date" id="Contract_Period_To" min="{{Contract_Period_To}}" title="The Minimum Contract Period is 30 Days" placeholder="" max="2099-12-31" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                                                               ng-model="Contract_Period_To" style="width:165px"
                                                                               ng-required="true">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Type<sup><font class='mandatory-field'>*</font></sup></label>
                                                    </td>
                                                    <td class="nopadding">
                                                        <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
                                                            <tr>
                                                                <td>
                                                                    <!--<div id="divInssType" class="ng-valid ddlValidationBorder" ng-required="true">-->
                                                                    <input type="radio" value="1" ng-model="Subscription_Type" ng-checked="checked='true'"> Standard
                                                                    <input type="radio" value="2" ng-model="Subscription_Type"> Premium
                                                                    <!--</div>-->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!--<tr>
    <td>
        <label>Chronic Edit<sup><font class='mandatory-field'>*</font></sup></label>
    </td>
    <td class="nopadding">
        <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
            <tr>
                <td>-->
                                                <!--<div id="divInssChronicEdit" class="ng-invalid ddlValidationBorder" ng-required="true">-->
                                                <!--<input type="checkbox" class="input-checkbox" name="Chroniccc"  ng-model="Chroniccc">CC
    <input type="checkbox" class="input-checkbox" name="Chroniccg"  ng-model="Chroniccg">CG
    <input type="checkbox" class="input-checkbox" name="Chroniccl"  ng-model="Chroniccl">CL
    <input type="checkbox" class="input-checkbox" name="Chronicsc"  ng-model="Chronicsc">SC-->
                                                <!--</div>-->
                                                <!--</td>
                </tr>
            </table>
        </td>
    </tr>-->
                                                <tr>
                                                    <td width="13%">
                                                        <Lable>Appointment Module<sup><font class='mandatory-field'>*</font></sup></Lable>
                                                    </td>
                                                    <td width="25%">
                                                        <!--<div id="divInssApModule" class="ng-invalid ddlValidationBorder" ng-required="true">-->
                                                        <select class="form-control" data-style="form-control" data-live-search="true"
                                                                data-selectpicker data-collection-name="AppointmentModuleListID" id="AppointmentModuleID"
                                                                ng-model="AppointmentModule_Id">
                                                            <option value="0">Select</option>
                                                            <option ng-repeat="set in AppointmentModuleListID"
                                                                    ng-selected="AppointmentModuleId == set.Id" value="{{set.Id}}">
                                                                {{set.Name}}
                                                            </option>
                                                        </select>
                                                        <!--</div>-->
                                                    </td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Created No.of Patient</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Patient}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Created No.of HCP</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_HealthCareProf}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Available   Patient</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Patient}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Available   HCP</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_HealthCareProf}}</span></td>
                                                </tr>

                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Created No.of Hive</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Hive}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Created No.of HiveChart</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Hivechart}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Available   Hive</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Hive}}</span></td>
                                                </tr>
                                                <tr ng-show="Hcp_Pat == true">
                                                    <td>
                                                        <label>Available   HiveChart</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Hivechart}}</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Email</label>
                                        </td>
                                        <td><span>{{Email}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address1</label>
                                        </td>
                                        <td><span>{{Address1}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address2</label>
                                        </td>
                                        <td><span>{{Address2}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address3</label>
                                        </td>
                                        <td><span>{{Address3}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Postal/ZipCode</label>
                                        </td>
                                        <td><span>{{ZipCode}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Country</label>
                                        </td>
                                        <td><span>{{Country}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>State</label>
                                        </td>
                                        <td><span>{{State}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>City</label>
                                        </td>
                                        <td><span>{{City}}</span></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="modal-footer" style="text-align:center;">
                                <!--<button type="button" class="theme-btn-1 mr-10" id="btnsave" ng-disabled="false" title="Click to Save"
                                        ng-click="Institution_SubscriptionAddEdit()" ng-hide="EditInstSub == 0">
                                    Save
                                </button>
                                <button type="button" class="theme-btn-1 mr-10" id="btnsave1" ng-disabled="false" title="Save and Add Admin"
                                        ng-click="AndSubscription_AndAdmin()" ng-hide="EditInstSub == 1">
                                    Save and Add Admin
                                </button>-->
                                <button type="submit" class="theme-btn-1 mr-10" id="btnsave" ng-disabled="false" title="Click to Save"
                                        ng-click="submitted= true;" ng-show="EditInstSub == 1">
                                    Save
                                </button>
                                <button type="submit" class="theme-btn-1 mr-10" id="btnsave1" ng-disabled="false" title="Save and Add Admin"
                                        ng-click="submitted= true;" ng-show="EditInstSub == 0">
                                    Save and Add Admin
                                </button>
                                <button type="button" class="theme-btn-2" title="Click to Cancel" ng-click="CancelIntstitutionSubPopup()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- View Modal -->

<div id="ViewInstitutionSubscriptionModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="CancelPopup()" title="Close">&times;</button>

                <h1 class="modal-title">Subscription</h1>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default" id="Div1">
                        <div class="panel-body">

                            <form class="form-horizontal" role="form" name="patientform" id="patientform">
                                <table cellpadding="0" align="Center" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                    <tr>
                                        <td width="13%">
                                            <Lable>Institution Name</Lable>
                                        </td>
                                        <td width="25%">
                                            {{ViewInstitution_Name}}
                                        </td>
                                        <td rowspan="9" valign="top">
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-4" ng-repeat="row in InstitutiontypeList">
                                                                <input type="checkbox" disabled="disabled" ng-model="InstitutionAddList[$index]" onchange="ModulelistChange();"/>{{row.ModuleName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-4" ng-repeat="row in LanguageList">
                                                                <input type="checkbox" disabled="disabled" ng-model="InstitutionAddLanguageList[$index]" />{{row.LanguageName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="centerallign">
                                                                <label>Insurance</label>
                                                            </div>
                                                            <div class="col-md-4" ng-repeat="(key,value) in InstitutionInsuranceName">
                                                                <input type="checkbox" disabled="disabled" ng-model="InstitutionAddInsuranceList[$index]" />{{value.PaymentName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="1" width="60%" class="formControlGroup" style="width: 98%;">
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="centerallign">
                                                                <label>Payment</label>
                                                            </div>
                                                            <div class="col-md-4" ng-repeat="(key,value) in InstitutionPaymentMethod">
                                                                <input type="checkbox" disabled="disabled" ng-model="InstitutionAddPaymentList[$index]" />{{value.PaymentName}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="0" width="90%" class="formControlGroup">
                                                <tr>
                                                    <td width="7%">
                                                        <label>TimeZone Name</label>
                                                    </td>
                                                    <td width="20%">
                                                        <select class="form-control" id="selectpicker" disabled>
                                                            <option value="0" data-tokens="TimeZone_Name">Select</option>
                                                            <option ng-repeat="set in TimeZoneListID" ng-required="true" ng-selected="TimeZoneId == set.TimeZoneId"
                                                                    value="{{set.TimeZoneId}}">
                                                                {{set.TimeZoneDisplayName}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="7%">
                                                        <label>No. of Health Care Professionals</label>
                                                    </td>
                                                    <td width="20%">
                                                        {{Health_Care_Professionals}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of Patients</label>
                                                    </td>
                                                    <td>
                                                        {{Patients}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of Hive</label>
                                                    </td>
                                                    <td>
                                                        {{Hive}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>No. of HiveChart</label>
                                                    </td>
                                                    <td>
                                                        {{HiveChart}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Contract Period</label>
                                                    </td>
                                                    <td>
                                                        {{Contract_Period_From |date:"dd-MMM-yyyy"}} - {{Contract_Period_To |date:"dd-MMM-yyyy"}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Type</label>
                                                    </td>
                                                    <td class="nopadding">
                                                        <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
                                                            <tr>
                                                                <td>
                                                                    {{Subscription_Type==1 ? "Standard" : "Premium"}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- <tr>
        <td>
            <label>Chronic Edit<sup><font class='mandatory-field'>*</font></sup></label>
        </td>
        <td class="nopadding">
            <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
                <tr>
                    <td>
                        <input type="checkbox" class="input-checkbox" name="Chroniccc" ng-init="checked=true" value="1" ng-model="Chroniccc" disabled>CC
                        <input type="checkbox" class="input-checkbox" name="Chroniccg" ng-init="checked=true" value="1" ng-model="Chroniccg" disabled>CG
                        <input type="checkbox" class="input-checkbox" name="Chroniccl" ng-init="checked=true" value="1" ng-model="Chroniccl" disabled>CL
                        <input type="checkbox" class="input-checkbox" name="Chronicsc" ng-init="checked=true" value="1" ng-model="Chronicsc" disabled>SC
                    </td>
                </tr>
            </table>
        </td>
    </tr>-->
                                                <tr>
                                                    <td width="7%">
                                                        <label>Appointment Module</label>
                                                    </td>
                                                    <td width="20%">
                                                        <select class="form-control" id="AppointmentModuleID" disabled>
                                                            <option value="0" data-tokens="AppointmentModule_Name">Select</option>
                                                            <option ng-repeat="set in AppointmentModuleListID" ng-required="true" ng-selected="AppointmentModuleId == set.Id" value="{{set.Id}}">{{set.Name}} </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Created No.of Patient</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Patient}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Created No.of HCP</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_HealthCareProf}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Available   Patient</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Patient}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Available   HCP</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_HealthCareProf}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Created No.of Hive</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Hive}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Created No.of HiveChart</label>
                                                    </td>
                                                    <td><span>{{Created_No_Of_Hivechart}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Available   Hive</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Hive}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Available   HiveChart</label>
                                                    </td>
                                                    <td><span>{{Remaining_No_Of_Hivechart}}</span></td>
                                                </tr>
                                            </table>
                                    <tr>
                                        <td>
                                            <label>Email</label>
                                        </td>
                                        <td><span>{{Email}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address1</label>
                                        </td>
                                        <td><span>{{Address1}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address2</label>
                                        </td>
                                        <td><span>{{Address2}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Address3</label>
                                        </td>
                                        <td><span>{{Address3}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Postal/ZipCode</label>
                                        </td>
                                        <td><span>{{ZipCode}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Country</label>
                                        </td>
                                        <td><span>{{Country}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>State</label>
                                        </td>
                                        <td><span>{{State}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>City</label>
                                        </td>
                                        <td><span>{{City}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>RowId</label>
                                        </td>
                                        <td><span id="subscriptionrowid">{{DuplicatesId}}</span></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="theme-btn-1 mr-10" title="Click to Cancel" ng-click="CancelViewIntstitutionSubPopup()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$("#PeriodFrom").bootstrapDP({
    //    //format: "dd-M-yyyy",
    //    //forceParse: true,
    //    //autoclose: true,
    //    //todayHighlight: true,
    //    //toggleActive: true,
    //    //todayBtn: true
    //});
</script>
<script>
    //$("#PeriodTo").bootstrapDP({
    //    //format: "dd-M-yyyy",
    //    //forceParse: true,
    //    //autoclose: true,
    //    //todayHighlight: true,
    //    //toggleActive: true,
    //    //todayBtn: true
    //});
</script>