<!-- Institution Details Create Page -->
<head>
   <style type="text/css">
      input[type='file'] {
      opacity: 0;
      }
   </style>
   <script>
       $('#btnLogo').click(function () {
           $("#InstitutionLogo").trigger('click');
       })

   </script>
   <script>
       $(function () {
           $('.selectpicker').selectpicker();
       });

   </script>
</head>
<div class="mainbody container-fluid">
<h1 class="page-title">Institution Subscription</h1>
<div class="row" ng-init="InstitutionSubscriptionDetails_View();">
   <div class="col-md-12 col-lg-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="panel panel-default" id="Basic1">
            <div class="panel-body">
               <form class="form-horizontal" role="form" name="FormBasic" id="FormBasic">
                  <table cellpadding="0" align="Center" cellspacing="0" border="0" width="100%" class="formControlGroup">
                     <tr>
                       
                        <td width="13%">
                           <Lable>Name of the Institution <sup><font class='mandatory-field'>*</font></sup></Lable>
                        </td>
                        <td width="25%">
                           <!-- <input type="text" ng-model="query" class="form-control ml-10 search-input" ng-change="AcitveFilterChange()" placeholder="" style="width: 200px" />-->
                           <select class="form-control" ng-model="Institute_Id" id="selectpicker"  data-live-search="true" ng-change="InstitutionNameFilterList()" >
                              <option value="0" data-tokens="Institution_Name">Select</option>
                              <option ng-repeat="sel in InstitutiondetailsList" ng-required="true"  ng-selected="Institute_Id == sel.Id" 
                                 value="{{sel.Id}}">{{sel.Institution_Name}}</option>
                           </select>
                         
                        </td>
                       
                        <td rowspan="9" valign="top">
                           <table cellpadding="0" cellspacing="0" border="1" width="45%" class="formControlGroup">
                              <td >
                                 <div class ="row">
                                    <div class ="col-sm-6"   ng-repeat="(key,value) in InstitutiontypeList">
                                       <input type="checkbox" ng-model="InstitutionAddList[$index]" />{{value.ModuleName}}
                                    </div>
                                 </div>
                              </td>
                           </table>
                           <table cellpadding="0" cellspacing="0" border="0" width="70%" class="formControlGroup">
                              <tr>
                                 <td width="7%">
                                    <label>No.of Health Care Professionals<sup><font class='mandatory-field'>*</font></sup></label>
                                 </td>
                                 <td width="20%">
                                    <input type="text" class="form-control" id="text9" ng-model="Health_Care_Professionals" maxlength="9" ng-maxlength="9" style="width:190px" onkeypress="OnlySpecCharNum(event)" > 
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <label>No.of Patients<sup><font class='mandatory-field'>*</font></sup></label>
                                 </td>
                                 <td>
                                    <input type="text" class="form-control" id="text1" ng-model="Patients"  style="width:190px"   maxlength="9" ng-maxlength="9"  onkeypress="OnlySpecCharNum(event)"> 
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <label>Contract Period From<sup><font class='mandatory-field'>*</font></sup></label>
                                 </td>
                                 <td>
                                     <div class="col-xs-11 input-group date">
                                         <!--<input type="text" class="form-control" ng-model="Contract_Period_From" ng-init="Contract_Period_From=''" style="width:152px" ng-required="true">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                                         <input type="date" placeholder="" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                                ng-model="Contract_Period_From" ng-init="Contract_Period_From=''" style="width:165px" ng-required="true">
                                     </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <label>Contract Period To<sup><font class='mandatory-field'>*</font></sup></label>
                                 </td>
                                 <td>
                                    <div class="col-xs-12 input-group date">
                                       <!--<input type="text" class="form-control" id="Text5" ng-model="Contract_Period_To" ng-init="Contract_Period_To=''" style="width:152px"  ng-required="true"> <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>--> 
                                        <input type="date" placeholder="" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                               ng-model="Contract_Period_To" ng-init="Contract_Period_To=''" style="width:165px" ng-required="true">
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <label>Type<sup><font class='mandatory-field'>*</font></sup></label>
                                 </td>
                                 <td class="nopadding">
                                    <table cellpadding="0" cellspacing="0" border="0" class="formControlGroup" width="100%">
                                       <tr>
                                         
                                          <td>
                                             <input type="radio" value="1" ng-model="Subscription_Type" ng-checked="checked='true'"> Standard
                                             <input type="radio" value="2" ng-model="Subscription_Type"> Premium 
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <label>Email</label>
                        </td>
                        <td><span>{{Email}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>Address1</label>
                        </td>
                        <td><span>{{Address1}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>Address2</label>
                        </td>
                        <td><span>{{Address2}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>Address3</label>
                        </td>
                        <td><span>{{Address3}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>Postal/ZipCode</label>
                        </td>
                        <td><span>{{ZipCode}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>Country</label>
                        </td>
                        <td><span>{{Country}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>State</label>
                        </td>
                        <td><span>{{State}}</span></td>
                     </tr>
                     <tr>
                        <td>
                           <label>City</label>
                        </td>
                        <td><span>{{City}}</span></td>
                     </tr>
                  </table>
               </form>
            </div>
         </div>
         <div class="modal-footer" style="text-align:center;">
            <button type="button" class="btn  btn-save" id="save" title="Click to Save"id="Page" ng-click="Institution_SubscriptionAddEdit()">Save</button>
            <button type="button" class="btn  btn-save" title="Click to Cancel"ng-click="CancelInstitutionSubscription()">Cancel</button>
         </div>
      </div>
   </div>
</div>
<script>
    $("#PeriodFrom").bootstrapDP({
        format: "dd-M-yyyy",
        forceParse: true,
        autoclose: true,
        todayHighlight: true,
        toggleActive: true,
        todayBtn: true
    });
</script>
<script>
    $("#PeriodTo").bootstrapDP({
        format: "dd-M-yyyy",
        forceParse: true,
        autoclose: true,
        todayHighlight: true,
        toggleActive: true,
        todayBtn: true
    });
</script>