<!-- Institution Subscription Details view Page -->
<meta http-equiv="refresh">

<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }

        .asd {
            background: rgba(0, 0, 0, 0);
            border: none;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<div class="mainbody">
    <ul class="secondaryMenu">
        <li>
            <a href="Home/Index#/InstitutionHospitalAdmin_view">
                Institution
            </a>
        </li>
        <li>
            <a class="secondaryMenuActive" href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view" data-menu="Home">Subscription</a>
        </li>
        <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical user</a></li>
        <li><a href="Home/Index#/PatientList/3">All Patient</a></li>
        <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
        <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
        <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
    </ul>
    <!--<div ng-if="ModeType==2 && window.top==window">
       <meta http-equiv="refresh">
    </div>-->
    <div ng-init="InstitutionSubscriptionDetails_View();">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <h1 class="page-title">Subscription</h1>
        <div class="panel panel-default active" id="Basic1">
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="patientform" id="patientform">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Name of the Institution</label>
                                <span>{{ViewInstitution_Name}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Email</label>
                                <span>{{Email}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Address</label>
                                <div><span>{{Address1}}</span></div>
                                <div> <span>{{Address2}}</span></div>
                                <div> <span>{{Address3}}</span></div>



                            </div>
                            <div class="inputGroups">

                                <label>Postal/ZipCode</label>

                                <span>{{ZipCode}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>Country</label>
                                <span>{{Country}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>State</label>
                                <span>{{State}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>City</label>
                                <span>{{City}}</span>
                            </div>
                            <div class="inputGroups"></div>

                        </div>
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>No.of Health Care Professionals</label>
                                <span> {{Health_Care_Professionals}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>No.of Patients</label>
                                <span>{{Patients}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Contract Period </label>
                                <span> {{Contract_Period_From}} - {{Contract_Period_To}}</span>
                            </div>
                            <!--<div class="inputGroups">
                           <label>Type</label>
                           {{Subscription_Type==1 ? "Standard" : "Premium"}} 
                        </div>-->


                    </div>
                        <div class="col-sm-2">

                            <div ng-repeat="(key,value) in InstitutiontypeList">

                                <input type="checkbox" disabled="disabled"
                                       ng-model="InstitutionAddList[$index]" /><span class="ml-10">{{value.ModuleName}}</span>
                            </div>


                        </div>

                        <div class="col-sm-2">

                            <div ng-repeat="(key,value) in LanguageList">

                                <input type="checkbox" disabled="disabled"
                                      ng-model="InstitutionAddLanguageList[$index]"  /><span class="ml-10">{{value.LanguageName}}</span>
                            </div>


                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>