<!-- Institution Details view Page -->
<meta http-equiv="refresh">

<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }

        .asd {
            background: rgba(0, 0, 0, 0);
            border: none;
        }

        .pagehead {
            margin-left: 20px;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })

    </script>
</head>
<div class="mainbody">
    <ul class="secondaryMenu">
        <li>
            <a class="secondaryMenuActive" href="Home/Index#/InstitutionHospitalAdmin_view">
                Institution
            </a>
        </li>
        <li>
            <a href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view">Subscription</a>
        </li>
        <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical user</a></li>
        <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
    </ul>
    <div ng-init="InstitutionDetails_View();">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <h1 class="page-title">Institution</h1>
        <div id="Basic1">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default panel-info" id="tableid">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="inputGroups">
                                            <label>Name</label>
                                            <span>{{Institution_Name}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <label>Short Name</label>
                                            <span>{{INSTITUTION_SHORTNAME}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <label>Email</label>
                                            <span>{{Email}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="inputGroups">
                                            <label> Logo Upload</label>
                                            <img src="{{uploadme}}" class="institutionLogo"
                                                 ng-show="(uploadme != '')" />
                                            <img src="../../Images/noImage.jpg" class="institutionLogo"
                                                 ng-show="(uploadme == '')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default panel-info" id="Div1">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="inputGroups">
                                            <label>Address</label>
                                            <div>  <span>  {{Address1}}</span></div>
                                            <div>  <span> {{Address2}}</span></div>
                                            <div> <span>  {{Address3}}</span></div>



                                        </div>
                                        <div class="inputGroups">
                                            <label>Postal / Zip code</label>
                                            <span>   {{ZipCode}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="inputGroups">
                                            <label>Country</label>
                                            <span>  {{ViewCountryName}}</span>

                                        </div>
                                        <div class="inputGroups">
                                            <label>State</label>
                                            <span>{{ViewStateName}}</span>
                                        </div>
                                        <div class="inputGroups">
                                            <label>City</label>
                                            <span>  {{ViewCityName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </form>
            <div class="text-center mb-20">
                <button type="button" class="theme-btn-1 center-block" title="Click to Edit"
                        ng-click="EditInstitutionHospitalAdmin()">
                    Edit
                </button>
            </div>

        </div>
    </div>

</div>