<!-- Institution Subscription Details view Page -->
<meta http-equiv="refresh">

<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }

        .asd {
            background: rgba(0, 0, 0, 0);
            border: none;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<div class="mainbody">
    <ul class="secondaryMenu">
        <li>
            <a href="Home/Index#/InstitutionHospitalAdmin_view">
                Institution
            </a>
        </li>
        <li>
            <a class="secondaryMenuActive" href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view" data-menu="Home">Subscription</a>
        </li>
        <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical Users</a></li>
        <li><a href="Home/Index#/PatientList/3">All Patients</a></li>
        <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
        <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
        <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
        <!--<li><a href="Home/Index#/PatientList">Patient</a></li>-->
    </ul>
    <!--<div ng-if="ModeType==2 && window.top==window">
       <meta http-equiv="refresh">
    </div>-->
    <div ng-init="InstitutionSubscriptionDetails_View();">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <h1 class="page-title">Subscription</h1>
        <div class="panel panel-default active" id="Basic1">
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="patientform" id="patientform">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Name of the Institution</label>
                                <span>{{ViewInstitution_Name}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Email</label>
                                <span>{{Email}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Address</label>
                                <div><span>{{Address1}}</span></div>
                                <div> <span>{{Address2}}</span></div>
                                <div> <span>{{Address3}}</span></div>



                            </div>
                            <div class="inputGroups">

                                <label>Postal/ZipCode</label>

                                <span>{{ZipCode}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>Country</label>
                                <span>{{Country}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>State</label>
                                <span>{{State}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>City</label>
                                <span>{{City}}</span>
                            </div>
                            <!--<div class="inputGroups">

                                <label>Created No.of Patient</label>
                                <span>{{Created_No_Of_Patient}}</span>
                            </div>
                            <div class="inputGroups">

                                <label>Created No.of HCP</label>
                                <span>{{Created_No_Of_HealthCareProf}}</span>
                            </div>-->
                            <div class="inputGroups"></div>

                        </div>
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Health Care Professionals      /       Available</label></span>
                                <span style="margin-left: 19px; font-weight: normal;"> {{Created_No_Of_HealthCareProf}}</span> /
                                <span style="margin-left: 40px; font-weight: normal;">{{Health_Care_Professionals}}</span>
                                <span style="margin-left: 45px; font-weight: normal;">/ {{Remaining_No_Of_HealthCareProf}}</span>
                            </div>
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Patient      /       Available</label></span>
                                <span style="margin-left: 11px; font-weight: normal;"> {{Created_No_Of_Patient}}</span> /
                                <span style="margin-left: 31px; font-weight: normal;">{{Patients}}</span>
                                <span style="margin-left: 28px; font-weight: normal;">/ {{Remaining_No_Of_Patient}}</span>
                            </div>
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Hive     /       Available</label></span>
                                <span style="margin-left: 19px; font-weight: normal;"> {{Created_No_Of_Hive}}</span> /
                                <span style="margin-left: 40px; font-weight: normal;">{{No_Of_Hive}}</span>
                                <span style="margin-left: 45px; font-weight: normal;">/ {{Remaining_No_Of_Hive}}</span>
                            </div>
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Hive Chart      /       Available</label></span>
                                <span style="margin-left: 11px; font-weight: normal;"> {{Created_No_Of_Hivechart}}</span> /
                                <span style="margin-left: 31px; font-weight: normal;">{{No_Of_HiveChart}}</span>
                                <span style="margin-left: 28px; font-weight: normal;">/ {{Remaining_No_Of_Hivechart}}</span>
                            </div>
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Hive Users     /       Available</label></span>
                                <span style="margin-left: 19px; font-weight: normal;"> {{Created_No_Of_Hive_Users}}</span> /
                                <span style="margin-left: 40px; font-weight: normal;">{{No_Of_Hive_Users}}</span>
                                <span style="margin-left: 45px; font-weight: normal;">/ {{Remaining_No_Of_Hive_Users}}</span>
                            </div>
                            <div class="inputGroups">
                                <span><label>Used   /    No.of Hive Chart Users      /       Available</label></span>
                                <span style="margin-left: 11px; font-weight: normal;"> {{Created_No_Of_Hivechart_Users}}</span> /
                                <span style="margin-left: 31px; font-weight: normal;">{{No_Of_HiveChart_Users}}</span>
                                <span style="margin-left: 28px; font-weight: normal;">/ {{Remaining_No_Of_Hivechart_Users}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Contract Period </label>
                                <span> {{Contract_Period_From}} - {{Contract_Period_To}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>TimeZone Name</label>
                                <span> {{TimeZoneIDName}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Appointment Module Name</label>
                                <span> {{AppointmentModuleName.Name}}</span>
                            </div>
                            <!--<div class="inputGroups">
        <label>Chronic Edit</label>
        <span>
            <input type="checkbox" class="input-checkbox" name="Chroniccc" ng-init="checked=true" value="1" ng-model="Chroniccc" disabled="disabled">CC
            <input type="checkbox" class="input-checkbox" name="Chroniccg" ng-init="checked=true" value="1" ng-model="Chroniccg" disabled="disabled">CG
            <input type="checkbox" class="input-checkbox" name="Chroniccl" ng-init="checked=true" value="1" ng-model="Chroniccl" disabled="disabled">CL
            <input type="checkbox" class="input-checkbox" name="Chronicsc" ng-init="checked=true" value="1" ng-model="Chronicsc" disabled="disabled">SC
        </span>
    </div>-->
                            <!--<div class="inputGroups">
        <label>Remaind No.Of Patient</label>
        <span> {{Remaining_No_Of_Patient}}</span>
    </div>
    <div class="inputGroups">
        <label>Remaind No.Of HCP</label>
        <span> {{Remaining_No_Of_HealthCareProf}}</span>
    </div>-->
                            <!--<div class="inputGroups">
       <label>Type</label>
       {{Subscription_Type==1 ? "Standard" : "Premium"}}
    </div>-->


                        </div>
                        <div class="col-sm-2">
                            <div class="inputGroups">
                                <table cellpadding="0" cellspacing="0" border="1" width="100%" class="formControlGroup">
                                    <tr>
                                        <td>
                                            <div class="centerallign">
                                                <label>Module Name</label>
                                            </div>
                                            <div ng-repeat="(key,value) in InstitutiontypeList">
                                                <input type="checkbox" disabled="disabled"
                                                       ng-model="InstitutionAddList[$index]" /><span class="ml-10">{{value.ModuleName}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="inputGroups">
                                <table cellpadding="0" cellspacing="0" border="1" width="100%" class="formControlGroup">
                                    <tr>
                                        <td>
                                            <div class="centerallign">
                                                <label>Insurance</label>
                                            </div>
                                            <div ng-repeat="(key,value) in InstitutionInsuranceName">
                                                <input type="checkbox" disabled="disabled"
                                                       ng-model="InstitutionAddInsuranceList[$index]" /><span class="ml-10">{{value.PaymentName}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="inputGroups">
                                <table cellpadding="0" cellspacing="0" border="1" width="100%" class="formControlGroup">
                                    <tr>
                                        <td>
                                            <div class="centerallign">
                                                <label>Payment</label>
                                            </div>
                                            <div ng-repeat="(key,value) in InstitutionPaymentMethod">
                                                <input type="checkbox" disabled="disabled"
                                                       ng-model="InstitutionAddPaymentList[$index]" /><span class="ml-10">{{value.PaymentName}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="col-sm-2">
                            <div class="inputGroups">
                                <table cellpadding="0" cellspacing="0" border="1" width="100%" class="formControlGroup">
                                    <tr>
                                        <td>
                                            <div class="centerallign">
                                                <label>Language</label>
                                            </div>
                                            <div class="leftallign" ng-repeat="(key,value) in LanguageList">
                                                <input type="checkbox" disabled="disabled"
                                                       ng-model="InstitutionAddLanguageList[$index]" /><span class="ml-10">{{value.LanguageName}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>