<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        document.getElementById("Monitoring Protocol").className += 'activeButton';
    });
</script>
<style>
    .bg-week {
        width: 30px;
        height: 30px;
        border: 1px solid lightgrey;
        border-radius: 50%;
        text-align: center !important;
        padding-top: 5px;
        cursor: pointer;
    }
    .bg-sel-week {
        color: white;
        font-weight: bold;
        background-color: #0152ff;
    }
</style>
<div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
    <div></div>
    <div></div>
</div>

<div ng-init="MonitoringProtocolDetailsListGo()">
    <h1 class="page-title">Monitoring Protocol</h1>
    <div class="panel panel-default" id="tableid">

        <form class="form-horizontal" role="form">
            <div class="overlay" show-on-load>
                <div id="loading-img"></div>
            </div>
            <div class="panel-body" id="table1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="inputGroups">
                            <label>Search</label>
                            <div class="modernSearch">
                                <input type="text" ng-model="query"
                                       placeholder="" />
                                <i class="fa fa-search" ng-click="filterProtocolList()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroups">
                            <label>Active</label>
                            <input toggle-checkbox ng-model="IsActive" type="checkbox"
                                   ng-change="MonitoringProtocolDetailsListGo();" title="Active / All">
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroups">
                            <a href="javascript:" ng-click="AddCloneProtocolPopup();ProtocolClear()"
                               class="theme-btn-1 pull-right mt-20 ml-10">
                                Clone
                            </a>
                            <a href="javascript:"
                               ng-click="AddMonitoringProtocolPopup();ProtocolClear();CloneProtocolClear();"
                               class="theme-btn-1 pull-right mt-20 ml-10">Add New</a>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
    <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" class="table themeTable">
        <thead>
            <tr style="text-align: center">
                <th st-ratio="5" st-sort="Id">#</th>
                <th st-ratio="35" st-sort="ProtocolName">Protocol</th>
                <th st-ratio="10">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-if="rowCollectionFilter.length==0">
                <td colspan="7" style="text-align: center">
                    No Data Available
                </td>
            </tr>
            <tr class="info" ng-repeat="row in emptydata">
                <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
                <td style="text-align: left">{{row.ProtocolName}}</td>
                <td st-ratio="10" class="text-center">

                    <a href="javascript:" ng-click="ViewProtocol(row.Id)" title="View">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:" title="Edit" ng-click="EditProtocol(row.Id, row.Isactive)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:" ng-click="InActiveProtocol(row.Id)" title="Active">
                        <i class="fa fa-check-circle-o" aria-hidden="true" ng-if="row.Isactive==1"></i>

                        <a href="javascript:" ng-click="ReInsertProtocol(row.Id)" title="Inactive">
                            <i class="fa fa-times-circle-o" aria-hidden="true" ng-if="row.Isactive== 0"></i>

                        </a>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="rowCollection.length >30">
            <tr>
                <td colspan="5" class="text-center">
                    <div st-items-by-page="30" st-page-change="rembemberCurrentPage(newPage)" st-pagination=""
                         st-template="Masters/Views/pagination.custom.html">
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<!--MONITORING PROTOCOL ADD MODAL ---->
<div id="ProtocolCreateModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"
     ng-init="currentTab='1'">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <form class="form-horizontal" role="form" ng-class="{'submitted': submitted}" ng-submit="ProtocolParameter_AddEdit()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="Close">
                        &times;
                    </button>
                    <h4 class="modal-title">Monitoring Protocol</h4>
                </div>
                <div class="row pt-15 pl-15">
                    <div class="col-sm-4" ng-show="Cloneval == 1">

                        <div class="inputGroups">
                            <label>
                                Clone From Template<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <div id="divCloneProtocol" class="ng-invalid ddlValidationBorder" ng-required="true">
                                <select class="form-control" data-style="form-control" id="Select1" data-live-search="true" data-selectpicker data-collection-name="rowCollectionFilter"
                                        ng-model="Protocol_Names" ng-change="CloneProtocolFunction();CloneFromChange();">
                                    <option value="0">Select</option>
                                    <option ng-repeat="sel in rowCollectionFilter | filter:{Isactive: 1}: true"
                                            ng-selected="Protocol_Names==sel.Id" value="{{sel.Id}}">
                                        {{sel.ProtocolName}}
                                    </option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroups">
                            <label>
                                Protocol Name<sup>
                                    <font class='mandatory-field'>*</font>
                                </sup>
                            </label>
                            <input type="text" class="form-control" id="Text5" ng-model="ProtocolName"
                                   ng-init="ProtocolName=''" ng-maxlength="100" maxlength="100" placeholder=""
                                   onkeypress="" required>
                        </div>
                    </div>
                </div>
                <ul class="themeTabs">
                    <li>
                        <a ng-class="{'themeTabActive':currentTab=='1'}" ng-click="currentTab='1'">
                            <i class="far fa-file"></i>Diagnostic
                        </a>
                    </li>
                    <li>
                        <a ng-class="{'themeTabActive':currentTab=='2'}" ng-click="currentTab='2'">
                            <i class="far fa-file-alt"></i>Compliance
                        </a>
                    </li>
                </ul>

                <div class="modal-body">
                    <div id="Div4">
                        <!-- <form class="form-horizontal" role="form" style="font-size: small">-->
                        <!--<div class="row">
                            <div class="col-sm-4" ng-show="Cloneval == 1">

                                <div class="inputGroups">
                                    <label>
                                        Clone From Template<sup>
                                            <font class='mandatory-field'>*</font>
                                        </sup>
                                    </label>
                                    <div id="divCloneProtocol" class="ng-invalid ddlValidationBorder" ng-required="true">
                                        <select class="form-control" data-style="form-control" id="Select1" data-live-search="true" data-selectpicker data-collection-name="rowCollectionFilter"
                                                ng-model="Protocol_Names" ng-change="CloneProtocolFunction();CloneFromChange();" >
                                            <option value="0">Select</option>
                                            <option ng-repeat="sel in rowCollectionFilter | filter:{Isactive: 1}: true"
                                                    ng-selected="Protocol_Names==sel.Id" value="{{sel.Id}}">
                                                {{sel.ProtocolName}}
                                            </option>
                                        </select>
                                        </div>
                                    </div>


                                </div>
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <label>
                                        Protocol Name<sup>
                                            <font class='mandatory-field'>*</font>
                                        </sup>
                                    </label>
                                    <input type="text" class="form-control" id="Text5" ng-model="ProtocolName"
                                           ng-init="ProtocolName=''" ng-maxlength="100" maxlength="100" placeholder=""
                                           onkeypress="" required>
                                </div>
                            </div>
                        </div>-->
                        <!--  <div id="Div1" class="panel-collapse" ng-show="currentTab=='1'">-->
                        <div id="collapse1" class="panel-collapse" ng-show="currentTab=='1'">

                            <table template-pagination="custom/pager" style="width: 100%;" class="table themeTable">
                                <thead>

                                    <tr>
                                        <th colspan="2"></th>
                                        <th colspan="2">Normal Range</th>
                                        <th colspan="4"></th>
                                    </tr>
                                    <tr>

                                        <th style="width:300px;">
                                            Parameter <sup>
                                                <font class='mandatory-field'>*</font>
                                            </sup>
                                        </th>
                                        <th>
                                            Unit <sup>
                                                <font class='mandatory-field'>*</font>
                                            </sup>
                                        </th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Range</th>
                                        <th>Min</th>
                                        <th>Max</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-if="Diagostic_ParameterSettingslist.length==0">
                                        <td colspan="7" style="text-align: center">
                                            No Data Available
                                        </td>
                                    </tr>
                                    <!--{{ParameterSettingslist}}-->
                                    <tr ng-repeat="row in Diagostic_ParameterSettingslist">

                                        <td>
                                            <select ng-model="row.Parameter_Id" data-style="form-control" class="form-control" data-live-search="true" data-selectpicker data-collection-name="ParameterTypeList"
                                                    ng-options="item.Id as item.Name for item in ParameterTypeList" 
                                                    ng-change="ParameterSettings_ViewEdit(row);">
                                                <!--<option value="">Select</option>-->
                                                <option tabindex="0" hidden selected value style="width:500px;">Select</option>
                                            </select>
                                        </td>

                                        <td>

                                            {{(ViewParamList|filter:{Parameter_ID:row.Parameter_Id}:true)[0].Units_Name}}
                                            <!--<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                            ng-model="row.Units_Id"disabled>-->
                                        </td>

                                        <td style="width: 10%;">
                                            <input type="text"
                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                   ng-model="row.NormalRange_Low" maxlength="10" ng-maxlength="10"
                                                   onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td style="width: 10%;">
                                            <input type="text"
                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                   ng-model="row.NormalRange_High" maxlength="10" ng-maxlength="10"
                                                   onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="row.Diag_Range" ng-options="x.id as x.name for x in Ranges">
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                   ng-model="row.Diag_Range_Min" maxlength="10"
                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td>
                                            <input type="text"
                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                   ng-model="row.Diag_Range_Max" maxlength="10"
                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <!--<td>


                                            <table class="table themeTable" template-pagination="custom/pager"
                                                   style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Min</th>
                                                        <th>Max</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <th>High</th>

                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_HighMin_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_HighMax_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th>Medium</th>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_MediumMin_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_MediumMax_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Low</th>

                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_LowMin_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_LowMax_One" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th>Low</th>

                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_LowMin_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_LowMax_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Medium</th>

                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_MediumMin_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_MediumMax_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                    </tr>
                                                    <tr>
                                                        <th>High</th>

                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_HighMin_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                        </td>
                                                        <td>
                                                            <input type="text"
                                                                   class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                                                   ng-model="row.Diag_HighMax_Two" maxlength="10"
                                                                   ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                                    </tr>



                                                </tbody>
                                            </table>

                                        </td>-->
                                        <td style="text-align: center">
                                            <i class="fa fa-trash-o" aria-hidden="true"
                                               ng-click="MonitoringProtocol_DiagDelete($index,row)"
                                               ng-model="row.selectedQual" style="width: 20px;" id="Image7"></i>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <a href="javascript:" title="Click to Add" class="theme-btn-1"
                               ng-click="MonitoringParameterSettings_Insert()">
                                Add
                            </a>


                        </div>
                        <div ng-show="currentTab=='2'">
                            <table class="table themeTable" template-pagination="custom/pager">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>Parameter</th>
                                        <th>Duration</th>
                                        <!--<th>Count</th>
                                        <th>High</th>
                                        <th>Medium</th>
                                        <th>Low</th>-->
                                        <!--<th>Entry Option</th>
                                        <th>No of Occurence / Interval</th>
                                        <th>Action</th>-->
                                        <th>Entry</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-if="ParameterSettingslist[0].Comp_ParameterSettingslist.length==0">
                                        <td colspan="7" style="text-align: center">
                                            No Data Available
                                        </td>
                                    </tr>
                                    <tr ng-repeat="row in ParameterSettingslist[0].Comp_ParameterSettingslist">
                                        <!--<td>
                                            {{(ParameterTypeList | filter : {Id : row.Parameter_Id}: true)[0].Name}}
                                        </td>-->
                                        <td>
                                            <select ng-model="row.Parameter_Id" data-style="form-control" class="form-control" data-live-search="true" data-selectpicker data-collection-name="ParameterTypeList"
                                                    ng-options="item.Id as item.Name for item in ParameterTypeList"
                                                    ng-change="ParameterSettings_Compliance(row);">
                                                <option value="">Select</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="row.Com_DurationType" class="form-control" data-style="form-control" data-live-search="true" data-selectpicker data-collection-name="DurationTypeList"
                                                    ng-options="item.Id as item.Name for item in DurationTypeList" ng-change="ChangeDuration(row, $index)">
                                                <option value="">Select</option>
                                            </select>
                                        </td>
                                        <!--<td>
                                            <input type="text" class="form-control" ng-model="row.Comp_Duration"
                                                   maxlength="10" ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="row.Comp_High"
                                                   maxlength="10" ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="row.Comp_Medium"
                                                   maxlength="10" ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="row.Comp_Low"
                                                   maxlength="10" ng-maxlength="10" onkeypress="OnlySpecCharNum(event)">
                                        </td>-->
                                        <!--<td>
                                            <input type="radio" name="action{{$index}}" ng-model="row.occur_inter" ng-change="occuren_change(row)" ng-value="true" /> No of Occurence
                                            <input type="radio" name="action{{$index}}" ng-model="row.occur_inter" ng-change="occuren_change(row)" ng-value="false" /> Interval
                                        </td>
                                        <td>
                                            <input type="text" ng-model="row.occur_inter_val" ng-value="0" ng-change="Comp_Entry_Insert(row)" />
                                            <br />
                                            <br />
                                            Start DateTime: <input type="datetime-local" name="occ_st{{$index}}" ng-model="row.starttime" ng-change="settiming(row)" id="occ_st{{$index}}" />
                                            <br />

                                        </td>
                                        <td>
                                            <div ng-repeat="rw in row.duration_list" class="p-5">-->
                                                <!--<select ng-model="rw.time" ng-change="settiming(rw)" style="width:100%;" ng-options="x for x in array">
                                                </select>-->
                                                <!--<input type="datetime-local" ng-model="rw.time" name="rw{{$index}}" style="width:100%;" id="rw{{$index}}" />
                                            </div>
                                        </td>-->
                                        <td style="text-align: center">
                                            <i class="fa fa-trash-o" aria-hidden="true"
                                               ng-click="MonitoringProtocolComp_Delete($index,row.Id)"
                                               ng-model="row.selectedQual" id="Image5"></i>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="javascript:" title="Click to Add" class="theme-btn-1"
                               ng-click="MonitoringParameterSettings_Compliance_Insert()">
                                Add
                            </a>

                        </div>



                        <!-- </form>-->
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="submit" class="theme-btn-1 mr-10" id="btnsave" ng-disabled="false" title="Click to Save"
                            ng-click="submitted= true;">
                        Save
                    </button>
                    <button type="button" class="theme-btn-2" title="Click to Cancel" ng-click="CancelProtocol()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- View Modal---->
<div id="ProtocolviewModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Close">
                    &times;
                </button>
                <h4 class="modal-title">Monitoring Protocol</h4>

            </div>
            <ul class="themeTabs">
                <li>
                    <a ng-class="{'themeTabActive':currentTab=='1'}" ng-click="currentTab='1'">
                        <i class="far fa-file"></i>Diagnostic
                    </a>
                </li>
                <li>
                    <a ng-class="{'themeTabActive':currentTab=='2'}" ng-click="currentTab='2'">
                        <i class="far fa-file-alt"></i>Compliance
                    </a>
                </li>
            </ul>
            <div class="modal-body" id="Div1">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Protocol Name</label>
                                <span>{{ProtocolName}}</span>
                            </div>
                        </div>
                    </div>


                    <!--  <div id="Div1" class="panel-collapse" ng-show="currentTab=='1'">-->
                    <div id="Div2" ng-show="currentTab=='1'">

                        <table class="table themeTable" template-pagination="custom/pager" style="width: 100%">
                            <thead>
                                <tr>
                                    <th colspan="1" rowspan="3">Parameter</th>
                                    <th colspan="1" rowspan="3">Unit</th>
                                    <th colspan="2" rowspan="2">Normal Range</th>
                                    <th colspan="6">Diagnostic</th>
                                    <th colspan="6">Diagnostic</th>
                                </tr>
                                <tr>
                                    <th colspan="2" rowspan="1">High</th>
                                    <th colspan="2" rowspan="1">Medium</th>
                                    <th colspan="2" rowspan="1">Low</th>
                                    <th colspan="2" rowspan="1">Low</th>
                                    <th colspan="2" rowspan="1">Medium</th>
                                    <th colspan="2" rowspan="1">High</th>

                                </tr>
                                <tr>

                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="ParameterSettingslist[0].Diag_ParameterSettingslist.length==0">
                                    <td colspan="16" style="text-align: center">
                                        No Data Available
                                    </td>
                                </tr>
                                <tr ng-repeat="row in ParameterSettingslist[0].Diag_ParameterSettingslist">

                                    <td style="width: 10%"><span>{{row.ParameterName}}</span></td>
                                    <td style="width: 10%"><span>{{row.UnitsName}}</span></td>
                                    <!--                                             <th style="width: 15%">High</th>  -->
                                    <td style="width:5%">
                                        <span>{{row.NormalRange_Low}}</span>
                                    </td>
                                    <td style="width:5%">
                                        <span>{{row.NormalRange_High}}</span>
                                    </td>
                                    <td style="width:5%">
                                        <span>{{row.Diag_HighMin_One}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_HighMax_One}}</span>
                                    </td>

                                    <!--                                            <th>Medium</th>-->

                                    <td style="width: 5%">
                                        <span>{{row.Diag_MediumMin_One}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_MediumMax_One}}</span>
                                    </td>

                                    <!--                                             <th>Low</th>-->

                                    <td style="width: 5%">
                                        <span>{{row.Diag_LowMin_One}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_LowMax_One}}</span>
                                    </td>

                                    <!--                                             <th>Low</th>-->

                                    <!--<td style="width: 5%">
                                        <span>{{row.Diag_LowMin_Two}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_LowMax_Two}}</span>
                                    </td>-->
                                    <!--                                            <th>Medium</th>-->

                                    <!--<td style="width: 5%">
                                        <span>{{row.Diag_MediumMin_Two}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_MediumMax_Two}}</span>
                                    </td>-->
                                    <!--                                             <th>High</th>-->

                                    <!--<td style="width: 5%">
                                        <span>{{row.Diag_HighMin_Two}}</span>
                                    </td>
                                    <td style="width: 5%">
                                        <span>{{row.Diag_HighMax_Two}}</span>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>






                    </div>



                    <div ng-show="currentTab=='2'">
                        <!--<div class="panel-heading containeralign" style="text-align: left;"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Additional Info
                        </a></h4></div>-->
                        <div id="Div5">

                            <table class="table themeTable" template-pagination="custom/pager">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>Parameter</th>
                                        <th>Duration</th>
                                        <th>Type</th>
                                        <th>Count</th>
                                        <th>Start DateTime</th>
                                        <th>End DateTime</th>
                                        <!--<th>Low</th>-->
                                        <!--  <th>Action</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="ParameterSettingslist[0].Comp_ParameterSettingslist.length==0">
                                        <td colspan="7" style="text-align: center">
                                            No Data Available
                                        </td>
                                    </tr>
                                    <tr ng-repeat="row in ParameterSettingslist[0].Comp_ParameterSettingslist">
                                        <td>
                                            <span>{{row.ParameterName}}</span>

                                        </td>
                                        <td>
                                            <span>{{row.DurationName}}</span>

                                        </td>
                                        <td>
                                            <span>{{(row.occur_inter)? "No of Occurrence" : "Interval"}}</span>

                                        </td>
                                        <td>
                                            <span>{{row.occur_inter_val}}</span>
                                        </td>
                                        <td>
                                            <span>{{row.starttime}}</span>

                                        </td>
                                        <td>
                                            <span>{{row.endtime}}</span>

                                        </td>
                                        <!--  <td style="text-align: center">
                                            <input type="image" src="../../Images/deleteNewIcon.png" title='Click to delete'
                                                ng-click="MonitoringProtocolDelete($index,row.Parameter_Id)" ng-model="row.selectedQual"
                                                style="width: 20px;" id="Image4" />
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer" style="text-align: center;">

                <button type="button" class="theme-btn-2" title="Click to Cancel"
                        ng-click="CancelViewProtocol()">
                    Cancel
                </button>
            </div>
        </div>

    </div>
</div>


<div id="ProtocolDateModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content">
            <form class="form-horizontal" role="form" ng-class="{'submitted': submitted}" ng-submit="ProtocolCompParameter_AddEdit()">
                <div class="modal-header">
                    <button type="button" class="close" title="Close" ng-click="closeschedule()">
                        &times;
                    </button>
                    <h4 class="modal-title">Schedule</h4>
                </div>
                <div class="modal-body col-sm-12">
                    <div class="col-sm-12 pt-5 pb-5" ng-if="weeks == 1">
                        <div ng-repeat="rw in weekdays">
                            <div ng-click="weekdays[$index].status = (weekdays[$index].status == 0) ? 1 : 0" class="col-sm-1">
                                <div class="bg-week" ng-class="(rw.status == 1) ? 'bg-sel-week' : ''">{{rw.day}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5 pb-5">
                        <div class="col-sm-4">Type</div>
                        <div class="col-sm-5">
                            <input type="radio" name="action" ng-model="occu_no" ng-value="true" ng-change="occuren_change()" /> No of Occurence
                            <input type="radio" name="action" ng-model="occu_no" ng-value="false" ng-change="occuren_change()" /> Interval
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5 pb-5">
                        <div class="col-sm-4">Input</div>
                        <div class="col-sm-5">
                            <input type="text" ng-model="occu_val" ng-value="0" style="width:100%;" ng-change="Comp_Entry_Insert()" />
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5 pb-5">
                        <div class="col-sm-4">Start DateTime:</div>
                        <div class="col-sm-5">
                            <input type="datetime-local" ng-model="occu_st" ng-change="settiming()" name="occ_st" style="width:100%;" id="occ_st" />
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5 pb-5">
                        <div class="col-sm-4">End DateTime:</div>
                        <div class="col-sm-5">
                            <input type="datetime-local" ng-model="occu_et" ng-change="endtiming()" name="occ_et" style="width:100%;" id="occ_et" />
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5 pb-5">
                        <div ng-repeat="rw in duration_list">
                            <div class="col-sm-6 pb-10"><input type="datetime-local" ng-model="rw.time" name="rw{{$index}}" style="width:100%;" id="rw{{$index}}" /></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="submit" class="theme-btn-1 mr-10" id="btnsave_schedule" ng-disabled="false" title="Click to Save"
                            ng-click="submitted= true;">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //$("#DOB").bootstrapDP({
    //    //format: "dd-M-yyyy",
    //    //forceParse: false,
    //    //endDate: '+0d',
    //    //autoclose: true,
    //    //todayHighlight: true,
    //    //toggleActive: true,
    //    //todayBtn: true
    //});
</script>