<ul class="secondaryMenu">
    <li><a href="Home/Index#/ParameterSettings">Standard Parameter</a></li>
    <li><a href="Home/Index#/ChatSetting/2">Chat Settings</a></li>
    <li> <a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <li><a href="Home/Index#/AppointmentSlot" class="secondaryMenuActive">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Shift Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>
    <li><a href="Home/Index#/WebConfiguration">Configuration</a></li>
</ul>
<h1 class="page-title">Appointment Slot</h1>
<div class="row" ng-init="AppoinmentSlotListGo()">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
    <div class="col-md-12">
        <div class="panel panel-default panel-info" id="DMid">
            <form class="form-horizontal" role="form">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                    <tr>
                        <td width="5%">
                            <label>Search</label>
                        </td>
                        <td width="5%">
                            <div class="modernSearch">
                                <input type="text" ng-model="searchquery" ng-change="filterAppoinmentSlotList()" placeholder="" style="width: 200px" />
                                <i class="fa fa-search"></i>
                            </div>
                        </td>
                        <td style="text-align:left" width="65%">
                            Active &nbsp;&nbsp;
                            <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="AppoinmentSlotListGo();" title="Active / All">
                        </td>
                        <td>
                            <a href="javascript:" ng-click="AddSlot();AppoinmentSlotClear()" class="btn btn-autosize pull-right mb-15" title="Click to Add New Doctor Slot">Add New</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" st-search="query" class="table themeTable">
            <thead>
                <tr style="text-align: center">
                    <th st-ratio="5">#</th>
                    <th st-ratio="15" st-sort="Generic_Name">Doctor Name</th>
                    <th st-ratio="12" st-sort="StrengthName">Department Name</th>
                    <th st-ratio="12" st-sort="Dosage_FromName">New Appointment</th>
                    <th st-ratio="12" st-sort="Item_Code">Follow up Appointment</th>
                    <th st-ratio="10" st-sort="Drug_Code">Slot interval</th>
                    <th st-ratio="8">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="flag==0 && rowCollectionFilter.length==0">
                    <td colspan="9" style="text-align: center">
                        No Data Available
                    </td>
                </tr>
                <tr ng-repeat="row in emptydata">
                <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
               
                <td style="text-align: left">
                    <div class="textwrap">{{row.Doctor_Name}}</div>
                </td>
                <td style="text-align: left">{{row.Department_Name}}
                </td>
                <td style="text-align: left">
                    {{row.Appoinment_Minutes}} mins
                </td>
              <td style="text-align: left">
                  {{row.FollowUp_Appoinment}} mins
              </td>
                       <td style="text-align: left">
                  {{row.SlotInterval}} mins
              </td>
                <td style="text-align: center">
                    <a href="javascript:" ng-click="ViewAppoinmentSlot(row.Id,row.Doctor_Id)" title="View">
                        <img src="../../Images/ViewIcon.png" />
                    </a>
                    <a href="javascript:" title="Edit" ng-click="EditAppoinmentSlot(row.Id, row.IsActive,row.Doctor_Id)">
                        <img src="../../Images/EditIcon.png" />
                    </a>
                    <a href="javascript:;" ng-click="DeleteAppoinmentSlot(row.Id)" title="Active">
                        <img src="../../Images/activeIcon1.png" ng-if="row.IsActive==1" />
                        <a href="javascript:" ng-click="ReInsertAppoinmentSlot(row.Id,row.Doctor_Id)" title="Inactive">
                            <img src="../../Images/inactive.png" ng-if="row.IsActive==0" />
                        </a></td>
            </tr>
            </tbody>
            <tfoot ng-show="rowCollectionFilter.length >10">
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--Add&Edit Modal-->
<div id="AppointmentSlotModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"title="Close" ng-click="CancelPopup()" style="color:#8B0000;">&times;</button>
                <h4 class="modal-title">Appointment Slot</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="font-size:small">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                       
                         <tr>
                          <td width="30%">
                                <label>Doctor<sup><font class='mandatory-field'>*</font></sup></label>
                             </td>
                          
                              <td style="width:45%"  ng-show="Id==0">
                                    <select ng-model="SelectedDoctor" multiple="multiple"
                                        ng-options="item1.Id as item1.FullName for item1 in DoctorList"
                                        multiselect-dropdown style="width: 230px;" ng-change="SelectedDoctorval()">
                                    </select>
                                </td>
                              <td style="width:45%"  ng-show="Id>0"> 
                                   <select class="" data-style="form-control" ng-model="SelectedDoctor1" id="selectpicker" data-live-search="true" data-selectpicker data-collection-name="DoctorList" ng-change="SelectedDoctorval()">
                                    <option ng-repeat="sel in DoctorList" ng-selected="SelectedDoctor1==sel.Id" value="{{sel.Id}}">{{sel.FullName}}</option>
                                </select>
                                </td>
                        </tr>                        
                            <tr ng-show="SelectedDoctor.length == 1 && SelectedDoctor!=0">
                              <td>
                                <label>Department Name</label>
                              </td>
                            
                               <td>
                                 {{DepartmentName}}
                               </td>
                           </tr>
                      <tr>
                        <td>
                            <label>New Appointment<sup><font class='mandatory-field'>*</font></sup></label>
                        </td>
                         
                       <!-- <td class="nopadding">
                            <table border="0" width="100%" class="formControlGroup">
                                <tr>
                                    <td style="width:40%">
                                       <input type="text" class="form-control" id="Text3" name="Appoinment_Hours" ng-model="Appoinment_Hours" ng-init="Appoinment_Hours=''" ng-required="true" placeholder="" ng-maxlength="3" maxlength="3" onkeypress="varifyNumberPositive(event)" />
                                    </td>-->
                                   <!-- <td>
                                        <label>Hours</label>
                                    </td>-->
                                    <td >
                                        <input type="text" class="form-control" id="Text2" name="LastName" ng-model="Appoinment_Minutes" ng-init="Appoinment_Minutes=''" ng-required="true" placeholder="" ng-maxlength="3" maxlength="3" onkeypress="varifyNumberPositive(event)"/>
                                    </td>
                                 <!--  
                                </tr>
                            </table>
                        </td>-->
                        
                        <td><label>Minutes</label></td>
                    </tr>
                        <tr>
                            <td>
                                <label>Followup Appointment<sup><font class='mandatory-field'>*</font></sup></label>
                            </td>

                            <td>
                                <input type="text" class="form-control" id="Text4" name="LastName" ng-model="FollowUp_Appoinment" ng-init="FollowUp_Appoinment=''" ng-required="true" placeholder="" ng-maxlength="3" maxlength="3" onkeypress="varifyNumberPositive(event)" />
                            </td>
                             <td><label>Minutes</label></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Slot Interval<sup><font class='mandatory-field'>*</font></sup></label>
                            </td>

                            <td>
                                <input type="text" class="form-control" id="Text4" name="LastName" ng-model="SlotInterval" ng-init="SlotInterval=''" ng-required="true" placeholder="" ng-maxlength="3" maxlength="3" onkeypress="varifyNumberPositive(event)" />
                            </td>
                             <td><label>Minutes</label></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn  btn-save" ng-click="AppoinmentSlot_AddEdit()" title="Click to Save">Save</button>
                <button type="button" class="btn  btn-save"  ng-click="CancelSlot()" title="Click to Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="ViewAppoinmentSlot" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="CancelPopup()"
                    title="Close">&times;</button>
                <h1 class="page-title">Appointment Slot</h1>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default" id="Div2">
                        <div class="panel-body">

                            <form class="form-horizontal" role="form">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">                       
                         <tr>
                          <td width="10%">
                                <label>Doctor</label>
                             </td>                          
                              <td style="width:8%">
                                    {{Doctor_Name}}
                                </td>
                        </tr>
                            <tr>
                              <td >
                                <label>Department Name</label>
                              </td>
                            
                               <td >
                                   {{DepartmentName}}
                               </td>

                                </tr>

                                <tr>
                        <td>
                            <label>New Appointment</label>
                        </td>
                                    <td>
                                          {{Appoinment_Minutes}}
                                    </td>
                                    <td  style="width:30%">
                                        <label>Minutes</label>
                                    </td>
                                </tr>

                        <tr>
                            <td>
                                <label>Followup Appointment
                                </label>
                            </td>

                            <td>
                                  {{FollowUp_Appoinment}}
                            </td>
                            <td>
                                        <label>Minutes</label>
                                    </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Slot Interval</label>
                            </td>

                            <td>
                               {{SlotInterval}}
                            </td>
                            <td>
                                        <label>Minutes</label>
                                    </td>
                        </tr>
                    </table>
                         
                            </form>
                        </div>
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="btn btn-save" title="Click to Cancel"
                                ng-click="CancelViewAppoinmentpopup()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>