<script>
    $(document).ready(function () {
        $('.activeButton').removeClass('activeButton');
        document.getElementById("Diagnostic Alert").className += 'activeButton';
    });
</script>

<div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
<div ng-init="CareCoordinator_PatientListFunction(1);Coordinator_Filter();currentTab='1'">
    <h1 class="title1">Diagnostic Alert</h1>
    <div class="panel panel-default panel-info" id="Div1">
        <form class="panel-body" role="form">
            <div class="row" st-table="emptydata"
                 st-safe-src="rowCollectionFilter">
                <div class="col-sm-2">
                    <div class="inputGroups">
                        <label>
                            Search Field
                        </label>
                        <select class="form-control" ng-model="filter_CCComSearchFieldId" id="ddlsearchfield" ng-required="true">
                            <option value="0" selected="selected">Select</option>
                            <option value="1">Patient ID</option>
                            <option value="2">National ID</option>
                            <option value="3">First Name</option>
                            <option value="4">Last Name</option>
                            <option value="5">Insurance ID</option>
                            <option value="6">Email</option>
                            <option value="7">Mobile No</option>
                            <option value="8">MRN</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inputGroups">
                        <label>Search</label>
                        <div class="modernSearch">
                            <input type="text" ng-model="coordinator_searchquery"
                                   placeholder="" />
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="inputGroups">
                        <a href="javascript:" ng-click="CareCoordinator_Filter()" class="theme-btn-1 pull-right mt-20 btn-autosize pull-right ml-10">
                            Submit
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inputGroups">
                        <label>Alert Filter</label>
                        <select ng-model="Filter_Selected" multiple="multiple"
                                multiselect-dropdown
                                style="width: 230px;" ng-change="Coordinator_Filter()">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-sm-3">
                    <div class="inputGroups">
                        <label>Advance Filter</label>
                        <a data-toggle="collapse" data-parent="#accordion" class="btn btn-link"
                           href="#collapseMore" ng-click="currentTab=='1'?currentTab='2':currentTab='1'"
                           title="Click for Advance search">

                            <sub ng-show="currentTab=='1'">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </sub>
                            <sub ng-show="currentTab=='2'">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </sub>
                        </a>
                    </div>


                </div>-->





            </div>
        </form>
    </div>
    <div id="collapseMore" class="panel-collapse collapse panel panel-default panel-info">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="inputGroups">
                        <label>
                            Patient ID
                        </label>
                        <input type="text" class="form-control" ng-model="CC_PatientNo" maxlength="50"
                               ng-maxlength="100">
                    </div>
                    <div class="inputGroups">
                        <label>
                            Insurance ID
                        </label>
                        <input type="text" class="form-control" ng-model="CC_InsuranceId" maxlength="50"
                               ng-maxlength="100">
                    </div>
                    <div class="inputGroups">
                        <label>First Name</label>
                        <input type="text" class="form-control" ng-model="Filter_FirstName" maxlength="50"
                               ng-maxlength="100">
                    </div>
                    <!--<div class="inputGroups">
        <label>Gender</label>
        <select class="form-control" ng-model="CC_GenderId" id="Select16" ng-required="true">
            <option value="0">Select</option>
            <option ng-repeat="sel in GenderList" ng-selected="Filter_GenderId==sel.Id"
                    value="{{sel.Id}}">
                {{sel.Gender_Name}}
            </option>
        </select>
    </div>
    <div class="inputGroups">
        <label>Blood Group</label>
        <select class="form-control" ng-model="CC_BloodGroupId" id="Select19" ng-required="true">
            <option value="0">Select</option>
            <option ng-repeat="sel in BloodGroupList" ng-selected="CC_BloodGroupId==sel.Id"
                    value="{{sel.Id}}">
                {{sel.BloodGroup_Name}}
            </option>
        </select>
    </div>-->

                </div>
                <div class="col-sm-3">
                    <div class="inputGroups">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="Filter_LastName" maxlength="50"
                           ng-maxlength="100">
                </div>
                    <div class="inputGroups">
                        <label>National ID</label>
                        <input type="text" class="form-control" ng-model="filter_NationalityId" maxlength="50"
                               ng-maxlength="100">
                        <!--<select class="form-control" ng-model="CC_NationalityId" id="Select17" ng-required="true">
        <option value="0">Select</option>
        <option ng-repeat="sel in NationalityList" ng-selected="filter_NationalityId==sel.Id"
                value="{{sel.Id}}">
            {{sel.Name}}
        </option>
    </select>-->
                    </div>
                    <!--<div class="inputGroups">
                        <label>Ethnic Group</label>
                        <select class="form-control" ng-model="CC_EthinicGroupId" id="Select20" ng-required="true">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in EthnicGroupList" ng-selected="filter_EthinicGroupId==sel.Id"
                                    value="{{sel.Id}}">
                                {{sel.Name}}
                            </option>
                        </select>
                    </div>-->
                    <div class="inputGroups">
                        <label>Mobile No.</label>
                        <input type="text" class="form-control" id="Text11" ng-model="CC_MOBILE_NO"
                               ng-init="MobileAreaCode=''" maxlength="20" ng-maxlength="20" placeholder="">
                    </div>
                    <!--<div class="inputGroups">
                        <label>Group</label>
                        <select ng-model="CC_GroupId" multiple="multiple"
                                ng-options="item1.Id as item1.GROUP_NAME for item1 in GroupTypeList" multiselect-dropdown
                                style="width: 230px;">
                        </select>
                    </div>-->
                </div>
                <div class="col-sm-3">
                    <!--<div class="inputGroups">
        <label>Home Phone Number</label>
        <input type="text" class="form-control" id="Text13" ng-model="CC_HomePhoneNo" maxlength="50"
               ng-maxlength="50" placeholder="">
    </div>-->
                    <div class="inputGroups">
                        <label>
                            Email
                        </label>
                        <input type="text" class="form-control" ng-model="CC_Email" maxlength="100"
                               ng-maxlength="100" />
                    </div>
                    <div class="inputGroups">
                        <label>MRN</label>
                        <input type="text" class="form-control" ng-model="Filter_MRN" maxlength="50"
                               ng-maxlength="100">
                    </div>
                    <!--<div class="inputGroups">
        <label>Marital Status</label>
        <select class="form-control" ng-model="CC_MaritalStatus" id="Select18" ng-required="true">
            <option value="0">Select</option>
            <option ng-repeat="sel in MaritalStatusList" ng-selected="filter_MaritalStatus==sel.Id"
                    value="{{sel.Id}}">
                {{sel.Name}}
            </option>
        </select>
    </div>-->
                    <div class="inputGroups">
                        <a href="javascript:" ng-click="CareCoordinator_AdvanceFilter()"
                           class="theme-btn-1 mr-10 mt-20" title="Click to get the List based on Filters">Search</a>
                        <a href="javascript:" ng-click="Reset_CC_Filter()" class="theme-btn-2"
                           title="Click to Reset the Filters">Reset</a>
                    </div>
                </div>
                <!--<div class="col-sm-3">
                    <div class="inputGroups">
                        <label>Country</label>
                        <select class="form-control" data-style="form-control" data-live-search="true"
                                id="countryselectpicker" data-selectpicker data-collection-name="CountryNameList"
                                ng-model="CC_CountryId" ng-change="CC_Country_onChange();">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in CountryNameList" ng-required="true" value="{{sel.Id}}">
                                {{sel.CountryName}}
                            </option>
                        </select>
                    </div>
                    <div class="inputGroups">
                        <label>State</label>
                        <select class="form-control" data-style="form-control" id="stateselectpicker"
                                data-live-search="true" data-selectpicker data-collection-name="StateNameList"
                                ng-model="CC_StataId" ng-change="CC_State_onChange()">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in StateNameList" ng-required="true" value="{{sel.Id}}">
                                {{sel.StateName}}
                            </option>
                        </select>
                    </div>
                    <div class="inputGroups">
                        <label>City</label>
                        <select class="form-control" data-style="form-control" data-live-search="true" data-selectpicker
                                data-collection-name="CityNameList" ng-model="CC_CityId">
                            <option value="0">Select</option>
                            <option ng-repeat="sel in CityNameList | filter : {StateId : CC_StataId} "
                                    ng-required="true" value="{{sel.Id}}">
                                {{sel.LocationName}}
                            </option>
                        </select>
                    </div>
                    


                </div>-->
            </div>

        </div>
    </div>
    <div ng-if="flag==0 && rowCollectionFilter.length==0">
        <div class="text-center">
            No Data Available
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="cursor: pointer" ng-repeat="row in emptydata"
             ng-click="DiagosticAlert_PatientData(row.Id)">
            <div class="patientListCard">
                <div ng-if="(row.ViewGenderName| lowercase)=='male' && (row.PhotoBlob == null || row.PhotoBlob==0)"
                     valign="top" rowspan="6">
                    <img class="patientDetimg" src="../../Images/Patient_Male.png" />
                </div>
                <div ng-if="(row.ViewGenderName| lowercase)=='female' && (row.PhotoBlob == null || row.PhotoBlob==0)"
                     valign="top" rowspan="6">
                    <img class="patientDetimg" src="../../Images/female.png" />
                </div>
                <div ng-if="(row.ViewGenderName| lowercase)!='female' && (row.ViewGenderName| lowercase)!='male' && (row.PhotoBlob == null || row.PhotoBlob==0)"
                     valign="top" rowspan="6">
                    <img class="patientDetimg" src="../../Images/Others.png" />
                </div>
                <div ng-if="(!row.Photo==null || !row.PhotoBlob==0)" valign="top" rowspan="6">
                    <img class="patientDetimg" src="{{'data:image/png;base64,'+ row.PhotoBlob}}" />

                </div>
                <h1><span class="spanwrap">{{row.PatientName}}</span></h1>
                <div class="cardViewDetails">
                    <label>MRN</label>
                    <span>{{row.MRN_NO}}</span>
                </div>
                <div class="cardViewDetails">
                    <label>Smoker</label>
                    <span>{{row.Smoker_Option!=''?'Yes':'UnKnown'}}</span>
                </div>
                <div class="cardViewDetails">
                    <label>Diabetic</label>
                    <span>{{row.Diabetic_Option==''?'Unknown':row.Diabetic_Option}}</span>
                </div>
                <div class="cardViewDetails">
                    <label>Hypertension</label>
                    <span>{{row.HyperTension_Option==''?'Unknown':row.HyperTension_Option}}</span>
                </div>
                <div class="cardViewDetails">
                    <label>Cholesterol</label>
                    <span>{{row.Cholestrol_Option==''?'Unknown':row.Cholestrol_Option}}</span>
                </div>
                <div class="notificationsWarnings" ng-show="row.HighCount>0">
                    <i class="fas fa-bell highBell" ng-show="row.HighCount>0"></i>
                    <span ng-show="row.HighCount>0">{{row.HighCount==0?'':row.HighCount}}</span>
                </div>
                <div class="notificationsWarnings mediumPosition" ng-show="row.MediumCount>0">
                    <i class="fas fa-bell mediumBell" ng-show="row.MediumCount>0"></i>
                    <span ng-show="row.MediumCount>0">{{row.MediumCount==0?'':row.MediumCount}}</span>
                </div>
                <div class="notificationsWarnings lowPosition" ng-show="row.LowCount>0">
                    <i class="fas fa-bell lowBell" ng-show="row.LowCount>0"></i>
                    <span ng-show="row.LowCount>0">{{row.LowCount==0?'':row.LowCount}}</span>
                </div>
            </div>
          

        </div>

    </div>
    <div ng-show="PatientCount>Patient_PerPage">
        <ul class="pagination nav" ng-repeat="row in PageCountArray">
            <li class="active"><a ng-click="Next_CareCoordinator_PatientListFunction(row.PageNumber)">{{row.PageNumber}}</a></li>
        </ul>
    </div>
</div>