<head>
    <style type="text/css">
        input[type='file'] {
            opacity: 0;
        }
    </style>
    <script>
        $('#btnLogo').click(function () {
            $("#companyphoto").trigger('click');
        })
    </script>
    <style>
        .toggle {
            border-radius: 20px;
        }

            .toggle.ios .toggle-handle {
                border-radius: 20px;
            }

        .linkhead {
            margin-left: -16px;
        }
        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #ccc !important;
            border-radius: 4px;
            height: 34px;
            font-size: 14px;
            font-weight: 400;
            padding: 3px 3px;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: #fff;
            border: 1px solid #ccc !important;
            border-radius: 4px;
            height: auto;
            font-size: 14px;
            font-weight: 400;
            padding: 1px 3px 4px 5px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 4px;
            right: 7px;
            width: 20px;
        }
    </style>

    <script>
        $(function () {
            $('#toggle-one').bootstrapToggle();
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/InstitutionHospitalAdmin_view">
            Institution
        </a>
    </li>
    <li>
        <a href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view">Subscription</a>
    </li>
    <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical Users</a></li>
    <li><a href="Home/Index#/PatientList/3">All Patients</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/PatientApproval" data-menu="Home">Patient Approval</a></li>
    <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
    <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
    <li><a href="Home/Index#/Admin_Eligibility_Logs_List">Eligibility Logs</a></li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-12" ng-init="PatientApprovalList();currentTab='1'">
             <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
            <h1 class="page-title">Patient Approval</h1>
            <div class="panel panel-default" id="Div4">
                <form class="form-horizontal" role="form">
                    <div class="overlay" show-on-load>
                        <div id="loading-img"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <label>Search</label>
                                    <div class="modernSearch">
                                        <input type="text" ng-model="searchquery" 
                                               placeholder="" />
                                        <i class="fa fa-search" ng-click="filterPatientList()"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <label>Advance filter</label>
                                    <a data-toggle="collapse" data-parent="#accordion" class="btn btn-link ml-5" href="#collapseMore" ng-click="currentTab=='1'?currentTab='2':currentTab='1';PatientApprovalDropdownList()" title="Click for Advance search">
                                        <i class="fas fa-filter"></i>
                                        <sub ng-show="currentTab=='1' ">

                                        </sub>
                                        <sub ng-show="currentTab=='2'">

                                        </sub>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="inputGroups">
                                    <button type="button" class="theme-btn-1 btn-autosize pull-right ml-10 mt-15" id="btnsave" ng-disabled="false" ng-click="ApprovePatient()" title="Click to Approve the Patient">Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="collapseMore" class="panel-collapse collapse panel panel-default panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Patient ID</label>
                                <input type="text" class="form-control" ng-model="Filter_PatientNo" maxlength="50"
                                       ng-maxlength="100">
                            </div>
                            <div class="inputGroups">
                                <label>Nationality</label>
                                <select class="form-control" data-style="form-control" data-live-search="true" data-collection-name="NationalityList" ng-model="filter_NationalityId" id="filter_NationalityId"
                                        ng-required="true">
                                    <option value="0">Select</option>
                                    <!--<option ng-repeat="sel in NationalityList"
                                            ng-selected="filter_NationalityId==sel.Id" value="{{sel.Id}}">
                                        {{sel.Name}}
                                    </option>-->
                                </select>
                            </div>
                            <div class="inputGroups">
                                <label>Home Phone Number</label>
                                <input type="text" class="form-control" id="Text13" ng-model="filter_HomePhoneNo"
                                       maxlength="50" ng-maxlength="50" placeholder="">
                            </div>
                            <div class="inputGroups">
                                <label>Country</label>
                                <select class="form-control" data-style="form-control" data-live-search="true"
                                        id="filter_CountryId" data-collection-name="CountryNameList"
                                        ng-model="filter_CountryId" ng-change="Filter_Country_onChange();">
                                    <option value="0">Select</option>
                                    <!--<option ng-repeat="sel in CountryNameList" ng-required="true" value="{{sel.Id}}">{{sel.CountryName}}</option>-->
                                </select>
                            </div>

                            <div class="inputGroups">
                                <label>Blood Group</label>
                                <select class="form-control" data-style="form-control" data-live-search="true" data-collection-name="BloodGroupList" ng-model="filter_BloodGroupId" id="filter_BloodGroupId"
                                        ng-required="true">
                                    <option value="0">Select</option>
                                    <!--<option ng-repeat="sel in BloodGroupList" ng-selected="filter_BloodGroupId==sel.Id"
                                            value="{{sel.Id}}">
                                        {{sel.BloodGroup_Name}}
                                    </option>-->
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label> Insurance ID</label>
                                <input type="text" class="form-control" ng-model="filter_InsuranceId" maxlength="50"
                                       ng-maxlength="100">
                            </div>
                            <div class="inputGroups">
                                <label>Ethnic Group</label>
                                <select class="form-control" data-style="form-control" data-live-search="true" data-collection-name="EthnicGroupList" ng-model="filter_EthinicGroupId" id="filter_EthinicGroupId"
                                        ng-required="true">
                                    <option value="0">Select</option>
                                    <!--<option ng-repeat="sel in EthnicGroupList"
                                            ng-selected="filter_EthinicGroupId==sel.Id" value="{{sel.Id}}">
                                        {{sel.Name}}
                                    </option>-->
                                </select>
                            </div>
                            <div class="inputGroups">
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="filter_Email" maxlength="100"
                                       ng-maxlength="100" />
                            </div>
                            <div class="inputGroups">
                                <label>State</label>
                                <select class="form-control" data-style="form-control" id="filter_StataId"
                                        data-live-search="true" data-collection-name="StateNameList"
                                        ng-model="filter_StataId" ng-change="Filter_State_onChange()">
                                    <option value="0">Select</option>
                                    <!--<option ng-repeat="sel in StateNameList" ng-required="true" value="{{sel.Id}}">{{sel.StateName}}</option>-->
                                </select>
                            </div>
                            <div class="inputGroups">
                                <label>Group</label>
                                <!--<select ng-model="filter_GroupId" multiple="multiple"
                                        ng-options="item1.Id as item1.GROUP_NAME for item1 in GroupTypeList"
                                        multiselect-dropdown style="width: 230px;">
                                </select>-->
                                <select class="form-control" data-style="form-control" ng-model="filter_GroupId" multiple="multiple" id="filter_GroupId">
                                    <!--<option value="0">Select</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Gender</label>
                               <select class="form-control" data-style="form-control" data-live-search="true" data-collection-name="GenderList" ng-model="Filter_GenderId" id="Filter_GenderId"
                                            ng-required="true">
                                        <option value="0">Select</option>
                                        <!--<option ng-repeat="sel in GenderList" ng-selected="Filter_GenderId==sel.Id"
                                                value="{{sel.Id}}">
                                            {{sel.Gender_Name}}
                                        </option>-->
                                    </select>
                            </div>
                            <div class="inputGroups">
                                <label>Mobile No.</label>
                                <input type="text" class="form-control" id="Text11" ng-model="filter_MOBILE_NO"
                                           ng-init="MobileAreaCode=''" maxlength="20" ng-maxlength="20" placeholder="">
                            </div>
                            <div class="inputGroups">
                                <label>Marital Status</label>
                               <select class="form-control" data-style="form-control" data-live-search="true" data-collection-name="MaritalStatusList" ng-model="filter_MaritalStatus" id="filter_MaritalStatus"
                                            ng-required="true">
                                        <option value="0">Select</option>
                                        <!--<option ng-repeat="sel in MaritalStatusList"
                                                ng-selected="filter_MaritalStatus==sel.Id" value="{{sel.Id}}">
                                            {{sel.Name}}
                                        </option>-->
                                    </select>
                            </div>
                            <div class="inputGroups">
                                <label>City</label>
                                <select class="form-control" data-style="form-control" data-live-search="true"
                                            data-collection-name="CityNameList" id="filter_CityId" ng-model="filter_CityId">
                                        <option value="0">Select</option>
                                        <!--<option ng-repeat="sel in CityNameList | filter : {StateId : filter_StataId} "
                                                ng-required="true" value="{{sel.Id}}">
                                            {{sel.LocationName}}
                                        </option>-->
                                    </select>
                            </div>
                            <div class="inputGroups">
                                <a href="javascript:" ng-click="PatientApprovalList()"
                                   class="theme-btn-1 btn-autosize mr-10 mt-20">Search</a>

                                <a href="javascript:" ng-click="ResetPatientFilter()"
                                   class="theme-btn-2 btn-autosize mt-20">Reset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter"
                class="table themeTable">
                 <thead>
                    <tr style="text-align: center">
                       <th st-ratio="5">
                            <input type="checkbox" ng-model="SelectedAllPatient" ng-click="checkAll()"/>
                        </th>
                        <th st-ratio="30" st-sort="FullName">Name</th>
                        <th st-ratio="15" st-sort="MRN">MRN</th>
                        <th st-ratio="20" st-sort="MobileNo">Mobile No.</th>
                        <th st-ratio="15" st-sort="EmailId">Email</th>
                        <th st-ratio="15" st-sort="PendingSince">Pending Since</th>
                        <th st-ratio="15" st-sort="Status">Status</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="Approvalflag==0 && rowCollectionFilter.length==0">
                     <td colspan="7" style="text-align: center">
                          No Data Available
                     </td>
                        
                    </tr>
                     <tr  ng-repeat="row in emptydata">
                    
                   <td style="text-align: center">
                       <input type="checkbox" ng-disabled="row.Approval_Flag==2" ng-model="row.SelectedPatient" />
                   </td>
                    <td style="text-align: left">{{row.FullName}}</td>
                  <td style="text-align: left">{{row.MRN_NO}}</td>
                  <td style="text-align: left"><!--{{row.Mobile_No}}-->{{splitMobileNumber(row.Mobile_No,1)}}</td>
                         <td style="text-align: left">{{row.EmailId}}</td>     
                  <td style="text-align: left">{{row.Approval_Flag==2?null:row.PendingSince}}
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-comment-o" ng-show="row.Approval_Flag==0&&row.Remarks!=null" title="Remarks : {{row.Remarks}}"></i>

                  </td>
                          <td style="text-align: left" ng-if="row.Approval_Flag==2">Approved</td>
                  <td st-ratio="15"  ng-if="row.Approval_Flag==0">                      
                      <a href="javascript:"  title="Click to Approve the Patient" ng-click="Active_PatientApproval(row.Id)">Not Approved</a></td>                      
                </tbody>
                <tfoot ng-show="rowCollectionFilter.length >10">
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>   
</div>
</div>







