<head>
    <script>
        $('#btnLogo').click(function () {
            $("#UserLogo").trigger('click');
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            $('#' + $('.secondaryMenuActive').data('menu')).addClass('activeButton');
        });
    </script>
</head>
<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/InstitutionHospitalAdmin_view">
            Institution
        </a>
    </li>
    <li>
        <a href="Home/Index#/InstitutionSubscriptionHospitalAdmin_view">Subscription</a>
    </li>
    <li><a href="Home/Index#/HospitalAdmin_UserList/2">Clinical user</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/PatientList/3" data-menu="Home">All Patient</a></li>
    <li><a href="Home/Index#/PatientApproval">Patient Approval</a></li>
    <li><a href="Home/Index#/Admin_UserList/3">Hospital Admin</a></li>
    <li><a href="Home/Index#/Admin_Userslog_List">Users Log</a></li>
</ul>
<h1 class="page-title">Patient</h1>
<div class="panel panel-default" id="Div4"
     ng-init="Patient_List(3);currentTab='1'">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
    <form class="form-horizontal" role="form">
        <div class="overlay" show-on-load>
            <div id="loading-img"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="inputGroups">
                        <label>
                            Search Field
                        </label>
                        <select class="form-control" ng-model="filter_SearchFieldId" id="ddlsearchfield" ng-required="true">
                            <option value="0" selected="selected">Select</option>
                            <option value="1">Patient ID</option>
                            <option value="2">National ID</option>
                            <option value="3">First Name</option>
                            <option value="4">Last Name</option>
                            <option value="5">Insurance ID</option>
                            <option value="6">Email</option>
                            <option value="7">Mobile No</option>
                            <option value="8">MRN</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="inputGroups">
                        <label>
                            Search
                        </label>
                        <div class="modernSearch">
                            <input type="text" ng-model="Patientsearchquery" ng-change="PatientSearch();" placeholder="" />
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="inputGroups">
                        <label>Active</label>
                        <div>
                            <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="Patient_List(3);"
                                   title="Active / All">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="inputGroups">
                        <label>Advance filter</label>
                        <a data-toggle="collapse" data-parent="#accordion" class="btn btn-link ml-5" href="#collapseMore"
                           ng-click="currentTab=='1'?currentTab='2':currentTab='1';patientDropdownList()" title="Click for Advance search">
                            <i class="fas fa-filter"></i>
                            <sub ng-show="currentTab=='1' ">
                            </sub>
                            <sub ng-show="currentTab=='2'">
                            </sub>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inputGroups">
                        <label>Remind No.Of Patient / Total No.of Patients: </label>
                        <span style="margin-left: 120px; font-weight: bold;"> {{Remaining_No_Of_Patient}} / {{Patients}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="inputGroups">
                        <a href="javascript:" ng-click="AddPatientPopup()" class="theme-btn-1 pull-right mt-15 btn-autosize pull-right ml-10">
                            Add New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="collapseMore" class="panel-collapse collapse panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="inputGroups">
                    <label>Patient ID</label>
                    <input type="text" class="form-control" ng-model="Filter_PatientNo" maxlength="50"
                           ng-maxlength="100">
                </div>
                <div class="inputGroups">
                    <label>National ID</label>
                    <input type="text" class="form-control" ng-model="filter_NationalityId" maxlength="50"
                           ng-maxlength="100">
                    <!--<select class="form-control" data-style="form-control" data-live-search="true" data-selectpicker data-collection-name="NationalityList" ng-model="filter_NationalityId" id="Select17" ng-required="true">
        <option value="0">Select</option>
        <option ng-repeat="sel in NationalityList" ng-selected="filter_NationalityId==sel.Id"
                value="{{sel.Id}}">
            {{sel.Name}}
        </option>
    </select>-->
                </div>
                <!--<div class="inputGroups">
                    <label>Home Phone Number</label>
                    <input type="text" class="form-control" id="Text13" ng-model="filter_HomePhoneNo" maxlength="50"
                           ng-maxlength="50" placeholder="">
                </div>
                <div class="inputGroups">
                    <label>Country</label>
                    <select class="form-control" data-style="form-control" data-live-search="true"
                            id="countryselectpicker" data-selectpicker data-collection-name="CountryNameList"
                            ng-model="filter_CountryId" ng-change="Filter_Country_onChange();">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in CountryNameList" ng-required="true" value="{{sel.Id}}">
                            {{sel.CountryName}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>Blood Group</label>
                    <select class="form-control" ng-model="filter_BloodGroupId" id="Select19" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in BloodGroupList" ng-selected="filter_BloodGroupId==sel.Id"
                                value="{{sel.Id}}">
                            {{sel.BloodGroup_Name}}
                        </option>
                    </select>
                </div>-->
                <div class="inputGroups">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="Filter_FirstName" maxlength="50"
                           ng-maxlength="100">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="inputGroups">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="Filter_LastName" maxlength="50"
                           ng-maxlength="100">
                </div>
                <div class="inputGroups">
                    <label>Insurance ID</label>
                    <td width="20%">
                        <input type="text" class="form-control" ng-model="filter_InsuranceId" maxlength="50"
                               ng-maxlength="100">
                        </td>
                </div>
                <!--<div class="inputGroups">
                    <label>Ethnic Group</label>
                    <select class="form-control" ng-model="filter_EthinicGroupId" id="Select20" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in EthnicGroupList" ng-selected="filter_EthinicGroupId==sel.Id"
                                value="{{sel.Id}}">
                            {{sel.Name}}
                        </option>
                    </select>
                </div>-->
                <div class="inputGroups">
                    Email
                    <input type="text" class="form-control" ng-model="filter_Email" maxlength="100"
                           ng-maxlength="100" />
                </div>
                <!--<div class="inputGroups">
                    <label>State</label>
                    <select class="form-control" data-style="form-control" id="stateselectpicker"
                            data-live-search="true" data-selectpicker data-collection-name="StateNameList"
                            ng-model="filter_StataId" ng-change="Filter_State_onChange()">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in StateNameList" ng-required="true" value="{{sel.Id}}">
                            {{sel.StateName}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>Group</label>
                    <select ng-model="filter_GroupId" multiple="multiple"
                            ng-options="item1.Id as item1.GROUP_NAME for item1 in GroupTypeList" multiselect-dropdown
                            style="width: 230px;"></select>
                </div>-->
            </div>
            <div class="col-sm-4">
                <!--div class="inputGroups">
                    <label>Gender</label>
                    <select class="form-control" ng-model="Filter_GenderId" id="Select16" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in GenderList" ng-selected="Filter_GenderId==sel.Id" value="{{sel.Id}}">
                            {{sel.Gender_Name}}
                        </option>
                    </select>
                </div>-->
                <div class="inputGroups">
                    <label>Mobile No.</label>
                    <input type="text" class="form-control" id="Text11" ng-model="filter_MOBILE_NO"
                           ng-init="MobileAreaCode=''" maxlength="20" ng-maxlength="20" placeholder="">
                </div>
                <!--<div class="inputGroups">
                    <label>Marital Status</label>
                    <select class="form-control" ng-model="filter_MaritalStatus" id="Select18" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in MaritalStatusList" ng-selected="filter_MaritalStatus==sel.Id"
                                value="{{sel.Id}}">
                            {{sel.Name}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>City</label>
                    <select class="form-control" data-style="form-control" data-live-search="true" data-selectpicker
                            data-collection-name="CityNameList" ng-model="filter_CityId">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in CityNameList | filter : {StateId : filter_StataId} "
                                ng-required="true" value="{{sel.Id}}">
                            {{sel.LocationName}}
                        </option>
                    </select>
                </div>-->
                <div class="inputGroups">
                    <label>MRN</label>
                    <input type="text" class="form-control" ng-model="Filter_MRN" maxlength="50"
                           ng-maxlength="100">
                </div>
                <div class="inputGroups">
                    <a href="javascript:" ng-click="PatientAdvanceSearch()" class="theme-btn-1 btn-autosize mt-20 mr-10">Search</a>
                    <a href="javascript:" ng-click="ResetPatientFilter()" class="theme-btn-2 btn-autosize mt-20">Reset</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tableFixedLayout">
    <table st-table="Patientemptydata" style="width: 100%" st-safe-src="PatientListFilter" class="table themeTable">
        <thead>
            <tr>
                <th st-ratio="5" st-sort="Id">#</th>
                <th st-ratio="5" st-sort="RowID">RowID</th>
                <th st-ratio="5">
                    <input type="checkbox" ng-model="SelectedAllPatient" ng-click="checkAll()" />
                </th>
                <th st-ratio="20" st-sort="FullName">Name</th>
                <th st-ratio="10" st-sort="MNR_NO">MRN</th>
                <th st-ratio="10" st-sort="MOBILE_NO">Mobile No.</th>
                <th st-ratio="15" st-sort="EMAILID">Email</th>
                <!--<th st-ratio="7" st-sort="">Status</th>-->
                <th st-ratio="8" st-sort="GroupName">Group</th>
                <th st-ratio="14" st-sort="LoginTime">Last Login</th>
                <th st-ratio="8">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="Patientemptydata.length==0">
                <td colspan="10" style="text-align: center">
                    {{SearchMsg}}
                </td>
            </tr>
            <tr ng-repeat="row in Patientemptydata">
                <td class="textalign">{{((current_page-1)*page_size)+$index+1}}</td>
                <td class="textalign">{{row.Id}}</td>
                <td style="text-align: center">
                    <input type="checkbox" ng-model="row.SelectedPatient" />
                </td>
                <td style="text-align: left" title="{{row.FullName}}">
                    <div class="textwrap">
                        <img src="../../Images/male.png" width="30" height="30"
                             ng-if="(row.GENDER_NAME| lowercase)=='male'" />
                        <img src="../../Images/female.png" width="30" height="30"
                             ng-if="(row.GENDER_NAME| lowercase)=='female'" />
                        <img src="../../Images/Others.png" width="30" height="30"
                             ng-if="(row.GENDER_NAME| lowercase)!='female' && (row.GENDER_NAME| lowercase)!='male'" />
                        {{
 row.FullName.length > 25 ? row.FullName.substring(0,25)+"..." : row.FullName
                        }}
                    </div>
                </td>
                <td style="text-align: left">
                    <div class="textwrap">{{row.MNR_NO}}</div>
                </td>
                <td style="text-align: left">
                    <!--{{row.MOBILE_NO}}-->
                    {{splitMobileNumber(row.MOBILE_NO,1)}}
                </td>
                <td style="text-align: left; word-break: break-word;">
                    {{row.EMAILID}}
                </td>
                <td style="text-align: left; max-width: 150px; word-wrap: break-word;" title="{{row.GroupName}}">
                    <div class="textwrap">
                        {{
 row.GroupName.length > 50 ? row.GroupName.substring(0,50)+"..." : row.GroupName
                        }}
                    </div>
                </td>
                <td style="text-align: left">
                    {{row.LoginTime| date :'dd-MMM-yyyy hh:mm a'}}
                </td>
                <td style="text-align: center">
                    <a href="javascript:" ng-click="ViewPatientPopUp(row.Id)" title="View">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:;" ng-click="row.IsActive == 0 || EditPatientPopUp(row.Id)" title="Edit">
                        <i class="fa fa-pencil ng-scope" aria-hidden="true" ng-if="row.IsActive==1"></i>
                        <a href="javascript:" ng-click="ErrorFunction()" title="Edit">
                            <img src="../../Images/EditIcon.png" ng-if="row.IsActive==0" />
                        </a>
                    </a>
                    <a href="javascript:;" ng-click="UserDetails_InActive(row.Id)" title="Active">
                        <i class="fa fa-check-circle-o ng-scope" aria-hidden="true" ng-if="row.IsActive==1"></i>
                        <a href="javascript:" ng-click="UserDetails_Active(row.Id)" title="Inactive">
                            <img src="../../Images/inactive.png" ng-if="row.IsActive==0" />
                        </a>
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="total_pages>1">
            <tr>
                <td colspan="10" class="text-center" style="text-align:center">
                    <ul class="pagination">
                        <li>
                            <a ng-click="setPage(1)">First</a>
                        </li>
                        <li>
                            <a ng-click="setPage(current_page - 1)">&lt;</a>
                        </li>
                        <li>
                            <a><input style="width: 50px" class="text-center" type="number" min="1" max="{{total_pages}}" step="1" ng-model="inputPageNo" ng-value="current_page" ng-change="setPage(0);"> of {{total_pages}}</a>
                        </li>
                        <li>
                            <a ng-click="setPage(current_page + 1)">&gt;</a>
                        </li>
                        <li><a ng-click="setPage(total_pages)">Last</a></li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="inputGroups center-block" style="text-align: center;max-width:320px;">
    <label>Group</label>
    <select ng-model="AssignedGroup" multiple="multiple"
            ng-options="item1.Id as item1.GROUP_NAME for item1 in GroupTypeList" multiselect-dropdown style="width: 230px;"></select>
    <a href="javascript:" ng-click="AssignGroup()" class="theme-btn-1 mtb-15 mr-10 btn-autosize">Update Group</a>
    <a href="javascript:" ng-click="AddGroupPopup(GroupClearPopUp())" class="theme-btn-1 mtb-15 btn-autosize" style="margin-bottom:50px;">
        Create
        Group
    </a>
</div>


<div id="GroupCreateModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="CancelPopup()" title="Close"
                        >
                    &times;
                </button>
                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default" id="Basic1">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                                    <tr>
                                        <td>
                                            <label>
                                                Group Name<sup>
                                                    <font class='mandatory-field'>*</font>
                                                </sup>
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="CreateGroupName"
                                                   maxlength="100" ng-maxlength="100" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer" style="text-align: center;">
                            <button type="button" class="theme-btn-1 mr-10" title="Click to Save"
                                    ng-click="AddGroup_Insert()">
                                Save
                            </button>
                            <button type="button" class="theme-btn-2" ng-click="CancelGroupPopup()"
                                    title="Click to Cancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>