<div id="ChangepasswordpopupModal" class="modal fade-scale " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-if="PageParameter==2" data-dismiss="modal" title="Close">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-12" ng-init="PasswordPolicyView()">
                        <div class="panel panel-default panel-info" id="Div2">
                            <form class="form-horizontal" role="form">
                                <table style="width: 100%" class="formControlGroup">
                                    <tr>
                                        <td style="width: 20%">
                                            <lable>Password<sup><font class='mandatory-field'>*</font></sup></lable>
                                        </td>
                                        <td width="50%">
                                            <input type="password" class="form-control" ng-model="OldPassword" ng-maxlength="100" maxlength="100" name="email" placeholder="">
                                        </td>
                                        <td rowspan="3" width="30%" valign="top">
                                            <!--<lable>minimum characters: {{Minimum_Length}}, maximum characters: {{Maximum_Length}}<br /></lable>-->
                                            <label ng-if="UpperCase_Required!=null">must contain one upper case character<br /></label>
                                            <label ng-if="LowerCase_Required!=null">must contain one lower case character<br /></label>
                                            <label ng-if="Numeric_Required!=null">must contain one number <br /></label>
                                            <label ng-if="SpecialChar_Required!=null">must contain one special character<br /></label>
                                            <label ng-if="Without_Char!=null">must not contain these characters {{Without_Char}}</label>
                                            <input type="checkbox" disabled id="Blank" name="Blank">
                                            <label for="Blank"> Cannot be blank</label><br>
                                            <input type="checkbox" disabled id="UpperCase" name="UpperCase">
                                            <label for="UpperCase"> At least 1 Capital letter</label><br>
                                            <input type="checkbox" disabled id="Minchar" name="Minchar">
                                            <label for="Minchar">At least {{Minimum_Length}} Characters</label><br>
                                            <input type="checkbox" disabled id="Maxchar" name="Maxchar">
                                            <label for="Maxchar">Maximum {{Maximum_Length}} Characters</label><br>
                                            <input type="checkbox" disabled id="Numeric" name="Numeric">
                                            <label for="Numeric"> At least 1 Number</label><br>
                                            <input type="checkbox" disabled id="MatchOk" name="MatchOk">
                                            <label for="MatchOk"> Confirmation Matches Password</label><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>New password<sup><font class='mandatory-field'>*</font></sup></label>
                                        </td>
                                        <td>
                                            <input type="password" class="form-control" ng-model="NewPassword" ng-change="PasswordChecking()" ng-maxlength="100" maxlength="100" name="password" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Confirm password<sup><font class='mandatory-field'>*</font></sup></label>
                                        </td>
                                        <td>
                                            <input type="password" class="form-control" name="confirmpassword" ng-change="PasswordConfirm()" ng-maxlength="100" maxlength="100" ng-model="confirmpassword" placeholder="">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!--<div class="col-sm-4 panel panel-default panel-info">
                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <label for="vehicle1"> I have a bike</label><br>
                            <input type="checkbox" id="vehicle2" name="vehicle1" value="Bike">
                            <input type="checkbox" id="vehicle3" name="vehicle1" value="Bike">
                            <input type="checkbox" id="vehicle4" name="vehicle1" value="Bike">
                        </div>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <div class="col-sm-offset-2 col-sm-9">
                    <button id="Button2" type="button" class="btn btn-autosize" ng-click="ChangePassword()" title="Click to Update Password">Update Password</button>
                    <button type="button" class="btn  btn-save" ng-click="CancelPopup()" ng-if="PageParameter==2" title="Click to Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>