    <style>
        .viewPassword {
            position: relative;
        }

        .viewPassword i {
            position: absolute;
            right: 0px;
            top: 0px;
            color: #555;
            padding: 10px;
            cursor: pointer;
        }
        pre{
            display: none;
        }
</style>

    <div class="loginContainer">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
        <div ng-hide="Productlogin == 1">
            <h1>{{ProductName}} Sign In</h1>
        </div>
        <div ng-hide="Productlogin == 0">
            <h3>Sign In</h3>
            <h2>New to {{ProductName}}? Sign Up</h2>
        </div>
        <form>
            <label>Username</label>
            <input type="text" placeholder="Enter Your Username" required="required" ng-model="Username" name="username"
                   class="form-control" onkeypress="EmailFormate(event)" ng-keyup="$event.keyCode == 13 && UserLogin_AddEdit()">
            <label>Password</label>
            <div class="viewPassword">
                <i class="fa fa-eye" style="cursor:pointer"></i>
                <input type="password" placeholder="Enter Your Password" required="required" ng-model="Password"
                       ng-keyup="$event.keyCode == 13 && UserLogin_AddEdit()" name="psw" class="form-control">
            </div>
            <div class="alert alert-danger def" ng-if="errorlist!=null">
                <div ng-if="errorlist!=null">
                    {{errorlist}}
                </div>
            </div>
            <button type="button" class="loginBtn" ng-click="UserLogin_AddEdit()">Log in</button>
            <div class="row">
                <div class="col-xs-6">
                    <input ng-model="remember" name="remember" type="checkbox" ng-keyup="$event.keyCode == 13 && rememberMe()">
                    <label for="rem" class="pr-8">Remember Me</label>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" class="prl-8">Forgot Password?</a>
                </div>
            </div>
            <h2>Or login with</h2>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" title="Facebook" class="loginOptions" ng-click="getAccessToken();">
                        <img src="./images/fb.png" style="width:30px;height:30px;" />
                        <span>Facebook</span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#" title="Google" class="loginOptions" ng-click="GoogleLogin()">
                        <img src="./images/google.png" style="width:30px;height:30px;" />
                        <span>Google</span>
                    </a>
                </div>
            </div>
            <!--<div class="version">
            V1.3
        </div>-->
        </form>
    </div>

<div id="signupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Signup</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">First Name<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="FirstName" ng-model="FirstName"
                                       ng-required="true" onkeypress="ParticularSpec(event)" placeholder="" ng-maxlength="100"
                                       maxlength="100" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Middle Name</label>
                                <input type="text" class="form-control" name="MiddleName" ng-model="MiddleName"
                                       ng-required="true" onkeypress="ParticularSpec(event)" placeholder="" ng-maxlength="100"
                                       maxlength="100" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="LastName">Last Name<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="LastName" ng-model="LastName"
                                       ng-required="true" onkeypress="ParticularSpec(event)" placeholder="" ng-maxlength="100"
                                       maxlength="100" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">MRN No.<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="MNR_No" ng-model="MNR_No" ng-init="MNR_No=''"
                                       ng-required="true" onkeypress="" placeholder="" ng-maxlength="50" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">National ID</label>
                                <input type="text" class="form-control" name="NationalId" ng-model="NationalId"
                                       ng-init="NationalId=''" placeholder="" ng-maxlength="50" maxlength="50" onkeypress="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Insurance ID</label>
                                <input type="text" class="form-control" name="InsuranceId" ng-model="InsuranceId"
                                       ng-init="InsuranceId=''" placeholder="" ng-maxlength="50" maxlength="50" onkeypress="NoSpecChar(event)" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Sex<sup><font class='mandatory-field'>*</font></sup></label>
                                <select class="form-control" ng-model="GenderId" ng-required="true">
                                    <option value="0">Select</option>
                                    <option ng-repeat="sel in GenderList" ng-selected="GenderId==sel.Id" value="{{sel.Id}}">
                                        {{sel.Gender_Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Nationality<sup><font class='mandatory-field'>*</font></sup></label>
                                <select class="form-control" placeholder="Nationality" ng-model="NationalityId"
                                        ng-required="true">
                                    <option value="0">Select</option>
                                    <option ng-repeat="sel in NationalityList" ng-selected="NationalityId==sel.Id" value="{{sel.Id}}">
                                        {{sel.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">DOB<sup><font class='mandatory-field'>*</font></sup></label>
                                <div class="date">
                                    <!--<input type="text" placeholder="" class="form-control dateIcon" ng-model="DOB" ng-init="DOB=''"
                                                ng-required="true">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                                    <input type="date" placeholder="" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                           ng-model="DOB" ng-init="DOB=''" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Email<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="" ng-model="EmailId" ng-init="EmailId=''"
                                       ng-required="true" placeholder="" ng-maxlength="50" maxlength="50" style="text-transform: lowercase;" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label for="email">Mobile No.<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="" ng-model="MobileNo" ng-maxlength="20"
                                       maxlength="20" onkeypress="OnlySpecCharNum(event)" ng-required="true" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="theme-btn-1 mt-10"  title="Click to Submit Signup Details"
                            ng-click="SignupLogin_AddEdit()">
                        Submit
                    </button>
            </div>
            <!--<div class="modal-footer">
                <label for="email" class="mr-10">Login With</label>
                <button type="button" class="btn btn-primary"><i class="fab fa-facebook-square"></i></button>
                <button type="button" class="btn btn-warning"><i class="fab fa-google"></i></button>
            </div>-->
        </div>
    </div>
</div>
<div id="forgotPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header1">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title1">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="inputGroups">
                                <label for="email">Email<sup><font class='mandatory-field'>*</font></sup></label>
                                <input type="text" class="form-control" name="forgotPasswordEmail" ng-model="forgotPasswordEmail"
                                       ng-required="true" placeholder="" ng-maxlength="100"
                                       maxlength="100" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="theme-btn-1 mt-10" title="Click to Resend password"
                            ng-click="forgotPasswordValidate()">
                        Send Password
                    </button>
                </form>
            </div>
            <!--<div class="modal-footer">
                <label for="email" class="mr-10">Login With</label>
                <button type="button" class="btn btn-primary"><i class="fab fa-facebook-square"></i></button>
                <button type="button" class="btn btn-warning"><i class="fab fa-google"></i></button>
            </div>-->
        </div>
    </div>
    <input type="hidden" id="productname" value=""/>
</div>

<script>
     
        $(function () {
            
            $('body:not(".viewPassword")').click(function(){
               
                $('#viewPassword').addClass('fa-eye');
                $('#viewPassword').removeClass('fa-eye-slash');
                $('#psw').attr('type', 'password');
            })
            $('#viewPassword').on('mousedown', function () {
               
                $(this).addClass('fa-eye-slash');
                $(this).removeClass('fa-eye');
                $('#psw').attr('type', 'text');
            }).on('mouseup', function () {
                $(this).addClass('fa-eye');
                $(this).removeClass('fa-eye-slash');
                $('#psw').attr('type', 'password');
            });
        })

        $("#DOB").datepicker({
            format: "dd-M-yyyy",
            forceParse: true,
            endDate: '+0d',
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            todayBtn: true
        });
</script>
