<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/ParameterSettings">Standard Parameter</a>
    </li>
    <li>
        <a href="Home/Index#/ChatSetting/2">Chat Settings</a>
    </li>
    <li> <a href="Home/Index#/Password_Policy">Password Policy</a></li>
    <li><a href="Home/Index#/ResetPassword">Reset Password</a></li>
    <li><a href="Home/Index#/MasterEmailConfigurationList">Email setup</a></li>
    <li><a class="secondaryMenuActive" href="Home/Index#/MasterAlertConfigurationList">Alerts</a></li>
    <li><a href="Home/Index#/AppointmentSlot">Appointment Slot</a></li>
    <li><a href="Home/Index#/SlotTiming">Slot Timing</a></li>
    <li><a href="Home/Index#/DoctorShift">Doctor Shift</a></li>
    <li><a href="Home/Index#/DoctorHoliday">Doctor Holiday</a></li>
</ul>
<h1 class="page-title">Alert Configuration</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12" ng-init="EmailAlertlist()">
            <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
            <div class="panel panel-default panel-info" id="DMid">
                <form class="form-horizontal" role="form">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                        <tr>
                            <td width="5%">
                                <label>Search</label>
                            </td>
                            <td width="5%">
                                <div class="modernSearch">
                                    <input type="text" ng-model="searchquery" ng-change="filteralertList()" placeholder="" style="width: 200px" />
                                    <i class="fa fa-search"></i>
                                </div>
                            </td>
                            <td style="text-align:left" width="65%">
                                Active &nbsp;&nbsp;
                                <input toggle-checkbox ng-model="IsActive" type="checkbox" ng-change="EmailAlertlist();" title="Active / All">
                            </td>
                            <td>
                                <a href="javascript:" ng-click="AddEmailAlertPopUP();ClearPopup()" class="btn btn-autosize pull-right mb-15" title="Click to Add New Drug DB">Add New</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table st-table="emptydata" style="width: 100%" st-safe-src="rowCollectionFilter" class="table themeTable">
                <thead>
                    <tr style="text-align: center">
                        <th st-ratio="5">#</th>
                        <th st-ratio="12" st-sort="EventName">Event</th>
                        <th st-ratio="10" st-sort="EmailFlag">Send Email</th>
                        <th st-ratio="12" st-sort="EmailTemplate">Email Template</th>
                        <th st-ratio="10" st-sort="AppFlag">App Notification</th>
                        <th st-ratio="12" st-sort="AppTemplate">App Template</th>
                        <th st-ratio="10" st-sort="WebFlag">Web Notification</th>
                        <th st-ratio="11" st-sort="WebTemplate">Web Template</th>
                        <th st-ratio="10" st-sort="AlertDays">Event Duration</th>
                        <th st-ratio="8">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="rowCollectionFilter.length==0">
                        <td colspan="10" class="text-center">
                            No Data Available
                        </td>
                    </tr>
                    <tr ng-repeat="row in emptydata">
                        <td style="text-align: right">{{((current_page-1)*page_size)+$index+1}}</td>
                        <td style="text-align: left"><div class="textwrap">{{row.EventName}}</div></td>
                        <td style="text-align: center">{{row.EmailFlag==true?'Yes':'No'}}</td>
                        <td style="text-align: left">{{row.EmailTemplate}}</td>
                        <td style="text-align: center">{{row.AppFlag==true?'Yes':'No'}}</td>
                        <td style="text-align: left">{{row.AppTemplate}}</td>
                        <td style="text-align: center">{{row.WebFlag==true?'Yes':'No'}}</td>
                        <td style="text-align: left">{{row.WebTemplate}}</td>
                        <td style="text-align: left">{{row.AlertDays}}</td>
                        <td st-ratio="10">
                            <a href="javascript:" ng-click="ViewEmailAlertPopUP(row.Id)" title="View"><img src="../../Images/ViewIcon.png" /></a>

                            <a href="javascript:" ng-click="row.IsActive == 0 ||  EditEmailAlert(row.Id)" title="Edit">
                                <img src="../../Images/EditIcon.png" ng-if="row.IsActive==1" /><a href="javascript:" ng-click="ErrorFunction()" title="Edit">
                                    <img src="../../Images/EditIcon.png" ng-if="row.IsActive==0" />
                                </a>
                                <a href="javascript:" ng-click="DeleteEmailAlert(row.Id)" title="Active">
                                    <img src="../../Images/activeIcon1.png" ng-if="row.IsActive==1" /><a href="javascript:" ng-click="ActiveEmailAlert(row.Id)" title="InActive">
                                        <img src="../../Images/inactive.png" ng-if="row.IsActive==0" />
                                    </a>
                                </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="rowCollectionFilter.length >10">
                    <tr>
                        <td colspan="10" class="text-center">
                            <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="Masters/Views/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--Add&Edit Modal-->
<div id="EmailAlertModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Close" ng-click="CancelPopup()" style="color:#8B0000;">&times;</button>
                <h4 class="modal-title">Alert Configuration</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="font-size:small">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                        <tr>
                            <td style="width:20%">
                                <label>Event <sup><font class='mandatory-field'>*</font></sup></label>
                            </td>

                            <td colspan="3" style="width:80%">
                                <select class="" data-style="form-control" ng-model="Event" id="select1" data-live-search="true"
                                        data-selectpicker data-collection-name="AlertEvent" ng-change="DurationDisplayCheck();EventClear();EventBasedToList();EventToClearFunction();">
                                    <option value="0">Select</option>
                                    <option ng-repeat="sel in AlertEvent" ng-selected="Event==sel.Id" value="{{sel.Id}}">{{sel.EventName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%">
                                <label>Email</label>
                            </td>
                            <td style="width:10%">
                                <input type="checkbox" value="agree" ng-model="EmailFlag">
                            </td>
                            <td ng-show="EmailFlag==true" style="width:10%">
                                <label>Template</label>
                            </td>
                            <td ng-show="EmailFlag==true" style="width:40%">
                                <select class="" data-style="form-control" ng-model="EmailTemplate" id="select3" data-live-search="true" data-selectpicker data-collection-name="EmailTempalteTypeList">
                                    <option ng-repeat="sel in EmailTempalteTypeList" ng-selected="EmailTemplate==sel.Id" value="{{sel.Id}}">{{sel.TemplateName}}</option>
                                </select>
                            </td>
                            <td colspan="2" ng-show="EmailFlag==false" style="width:50%"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <label ng-show="EventTo.length>0"><b>To</b>:&nbsp;{{EventTo}}</label>
                                <label ng-show="EventCC.length>0"><b>CC</b>:&nbsp;{{EventCC}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>App Notification</label>
                            </td>
                            <td>
                                <input type="checkbox" value="agree" ng-model="AppFlag">
                            </td>

                            <td ng-show="AppFlag==true" style="width:10%">
                                <label>Template</label>
                            </td>
                            <td ng-show="AppFlag==true" style="width:40%">
                                <select class="" data-style="form-control" ng-model="AppTemplate" id="select4" data-live-search="true" data-selectpicker data-collection-name="AppTempalteTypeList">
                                    <option ng-repeat="sel in AppTempalteTypeList" ng-selected="AppTemplate==sel.Id" value="{{sel.Id}}">{{sel.TemplateName}}</option>
                                </select>
                            </td>

                            <td colspan="2" ng-show="AppFlag==false" style="width:50%"></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Web Notification</label>
                            </td>

                            <td>
                                <input type="checkbox" value="agree" ng-model="WebFlag">
                            </td>
                            <td ng-show="WebFlag==true" style="width:10%">
                                <label>Template</label>
                            </td>
                            <td ng-show="WebFlag==true" style="width:40%">
                                <select class="" data-style="form-control" ng-model="WebTemplate" id="select5" data-live-search="true" data-selectpicker data-collection-name="TempalteTypeList">
                                    <option ng-repeat="sel in TempalteTypeList" ng-selected="WebTempalte==sel.Id" value="{{sel.Id}}">{{sel.TemplateName}}</option>
                                </select>
                            </td>

                            <td colspan="2" ng-show="WebFlag==false" style="width:50%"></td>
                        </tr>
                        <tr ng-show="Eventtype==2">
                            <td>
                                <label>Duration</label>
                            </td>

                            <td>
                                <span style="display:flex;"><input type="text" class="form-control" ng-model="AlertDays" maxlength="6" />&nbsp;&nbsp;{{EventDurationUOM}}</span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn  btn-save" ng-click="EmailAlertAddEdit()" title="Click to Save">Save</button>
                <button type="button" class="btn  btn-save" ng-click="CancelPopUP()" title="Click to Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--View Modal-->
<div id="EmailAlertViewModal" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Close" ng-click="CancelPopup()" style="color:#8B0000;">&times;</button>
                <h4 class="modal-title">Alert Configuration</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="font-size:small">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="formControlGroup">
                        <tr>
                            <td width="2%">
                                <label>Event</label>
                            </td>

                            <td colspan="3" width="80%">
                                <span>{{ViewEvent}}</span>

                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%">
                                <label>Email</label>
                            </td>
                            <td style="width:10%">
                                <input type="checkbox" style="display: inline-block;" value="agree" ng-model="EmailFlag" ng-disabled="true">
                            </td>
                            <td style="width:15%" ng-show="EmailFlag==true">
                                <label>Template</label>
                            </td>
                            <td style="width:20%" ng-show="EmailFlag==true">
                                <span>{{ViewEmailTemplateName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <label ng-show="EventTo.length>0"><b>To</b>:&nbsp;{{EventTo}}</label>
                                <label ng-show="EventCC.length>0"><b>CC</b>:&nbsp;{{EventCC}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>App Notification</label>
                            </td>

                            <td>
                                <input type="checkbox" value="agree" ng-model="AppFlag" ng-disabled="true">
                            </td>
                            <td ng-show="AppFlag==true">
                                <label>Template</label>
                            </td>
                            <td ng-show="AppFlag==true">
                                <span>{{ViewAppTemplateName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Web Notification</label>
                            </td>

                            <td>
                                <input type="checkbox" value="agree" ng-model="WebFlag" ng-disabled="true">
                            </td>
                            <td ng-show="WebFlag==true">
                                <label>Template</label>
                            </td>
                            <td ng-show="WebFlag==true">
                                <span>{{ViewWebTemplateName}}</span>
                            </td>
                        </tr>

                        <tr ng-show="Eventtype== 2">
                            <td>
                                <label>Duration</label>
                            </td>

                            <td>
                                <span>{{AlertDays}}&nbsp;&nbsp;{{EventDurationUOM}}</span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn  btn-save" ng-click="CancelViewPopup()" title="Click to Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>



