  <script>
        $(document).ready(function () {
            $('.activeButton').removeClass('activeButton');
            var element = document.getElementById($('.secondaryMenuActive').data('menu'));
            $(element).addClass('activeButton');
        });
    </script>
<ul class="secondaryMenu">
    <li>
        <a href="Home/Index#/EmailTemplate/1">Email Template</a>
    </li>
    <li>
        <a class="secondaryMenuActive" href="Home/Index#/MessagingSend/1" data-menu="Bulk Email">Send Email</a>
    </li>
    <li>
        <a href="Home/Index#/MessagingUndelivered/1">Resend Email</a>
    </li>
    <li>
        <a href="Home/Index#/MessagingHistory/1">Email History</a>
    </li>
</ul>
<h1 class="page-title">Send Email</h1>
<div class="panel panel-default" id="Div4" ng-init="currentTab='1'">
    <form class="panel-body" role="form">
        <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000">
            <div></div>
            <div></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="inputGroups">
                    <label>Search</label>
                    <div class="modernSearch">
                        <input type="text" ng-model="searchquery" ng-change="ListFilter();" placeholder="" />
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="inputGroups">
                    <label>User Type</label>
                    <select ng-model="UserTypeId" multiple="multiple"
                        ng-options="row.Id as row.TypeName for row in Usertypelistdata" multiselect-dropdown>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="inputGroups">
                    <label>Template</label>
                    <select class="form-control" data-style="form-control" id="TemplateId" ng-model="Template_Id">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in SentEmailTemplateList" ng-selected="Template_Id==sel.Id"
                            ng-required="true" value="{{sel.Id}}">{{sel.TemplateName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="inputGroups">
                    <label for="">Advance Filter</label>
                    <a data-toggle="collapse" data-parent="#accordion" class="btn btn-link" href="#collapseMore"
                        ng-click="currentTab=='1'?currentTab='2':currentTab='1';SendEmailDropdownList()"
                        title="Click for Advance search">
                        <sub ng-show="currentTab=='1' ">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </sub>
                        <sub ng-show="currentTab=='2'">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </sub>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inputGroups">
                    <button type="button" ng-click="Get_SendEmail_UserList()" title="Click to List the Values"
                        class="theme-btn-1 pull-right mt-15">Go</button>
                    <button type="button" id="btnsave" ng-disabled="false" ng-click="SendEmail_Insert()" title="Click to Send the Email"
                        class="theme-btn-1 pull-right mr-10 mt-15">Send</button>
                </div>
            </div>
        </div>

    </form>
</div>
<div id="collapseMore" class="panel-collapse collapse panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="inputGroups">
                    <label for="Patient ID">Patient ID</label>
                    <input type="text" class="form-control" ng-model="Filter_PatientNo" maxlength="50"
                        ng-maxlength="100">
                </div>

                <div class="inputGroups">
                    <label>Nationality</label>
                    <select class="form-control" ng-model="filter_NationalityId" id="Select17" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in NationalityList" ng-selected="filter_NationalityId==sel.Id"
                            value="{{sel.Id}}">{{sel.Name}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>Home Phone Number</label>
                    <input type="text" class="form-control" id="Text13" ng-model="filter_HomePhoneNo" maxlength="50"
                        ng-maxlength="50" placeholder="">
                </div>
                <div class="inputGroups">
                    <label>Country</label>
                    <select class="form-control" data-style="form-control" data-live-search="true"
                        id="countryselectpicker" data-selectpicker data-collection-name="CountryNameList"
                        ng-model="filter_CountryId" ng-change="Filter_Country_onChange();">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in CountryNameList" ng-required="true" value="{{sel.Id}}">
                            {{sel.CountryName}}</option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>Blood Group</label>
                    <select class="form-control" ng-model="filter_BloodGroupId" id="Select19" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in BloodGroupList" ng-selected="filter_BloodGroupId==sel.Id"
                            value="{{sel.Id}}">{{sel.BloodGroup_Name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="inputGroups">
                    <label for="Insurance ID">Insurance ID</label>
                    <input type="text" class="form-control" ng-model="filter_InsuranceId" maxlength="50"
                        ng-maxlength="100">

                </div>
                <div class="inputGroups">
                    <label>Ethnic Group</label>
                    <select class="form-control" ng-model="filter_EthinicGroupId" id="Select20" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in EthnicGroupList" ng-selected="filter_EthinicGroupId==sel.Id"
                            value="{{sel.Id}}">{{sel.Name}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" ng-model="filter_Email" maxlength="100"
                        ng-maxlength="100" />
                </div>
                <div class="inputGroups">
                    <label>State</label>
                    <select class="form-control" data-style="form-control" id="stateselectpicker"
                        data-live-search="true" data-selectpicker data-collection-name="StateNameList"
                        ng-model="filter_StataId" ng-change="Filter_State_onChange()">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in StateNameList" ng-required="true" value="{{sel.Id}}">{{sel.StateName}}
                        </option>
                    </select>

                </div>
                <div class="inputGroups">
                    <label>Group</label>
                    <select ng-model="filter_GroupId" multiple="multiple"
                        ng-options="item1.Id as item1.GROUP_NAME for item1 in GroupTypeList" multiselect-dropdown
                        style="width: 230px;">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="inputGroups">
                    <label>Gender</label>
                    <select class="form-control" ng-model="Filter_GenderId" id="Select16" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in GenderList" ng-selected="Filter_GenderId==sel.Id" value="{{sel.Id}}">
                            {{sel.Gender_Name}}</option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>Mobile No.</label>
                    <input type="text" class="form-control" id="Text11" ng-model="filter_MOBILE_NO"
                        ng-init="MobileAreaCode=''" maxlength="20" ng-maxlength="20" placeholder="">
                </div>
                <div class="inputGroups">
                    <label>Marital Status</label>
                    <select class="form-control" ng-model="filter_MaritalStatus" id="Select18" ng-required="true">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in MaritalStatusList" ng-selected="filter_MaritalStatus==sel.Id"
                            value="{{sel.Id}}">{{sel.Name}}
                        </option>
                    </select>
                </div>
                <div class="inputGroups">
                    <label>City</label>
                    <select class="form-control" data-style="form-control" data-live-search="true" data-selectpicker
                        data-collection-name="CityNameList" ng-model="filter_CityId">
                        <option value="0">Select</option>
                        <option ng-repeat="sel in CityNameList | filter : {StateId : filter_StataId} "
                            ng-required="true" value="{{sel.Id}}">{{sel.LocationName}}</option>
                    </select>
                </div>
                <div class="inputGroups">
                    <a href="javascript:" ng-click="Get_SendEmail_UserList()" title="Click to Filter the Values"
                        class="theme-btn-1 mr-10 mt-15">Search</a>

                    <a href="javascript:" ng-click="ResetPatientFilter()" title="Click to Reset the Filter"
                        class="theme-btn-2 mt-15">Reset</a>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="tableFixedLayout">
    <table st-table="emptydata" style="width: 100%" st-safe-src="Filter_SendEmailUserList" class="table themeTable">
        <thead>
            <tr style="text-align: center">
                <th st-ratio="5" st-sort="Id">#</th>
                <th st-ratio="5">
                    <input type="checkbox" ng-model="SelectedAllUser" ng-click="checkAll()" />
                </th>
                <th st-ratio="25" st-sort="FullName">Name</th>
                <th st-ratio="25" st-sort="UserType">User Type</th>
                <th st-ratio="25" st-sort="EmailId">Email Id</th>
                <th st-ratio="9">Preview</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="flag==0 && Filter_SendEmailUserList.length==0">
                <td colspan="7" style="text-align: center">No Data Available
                </td>
            </tr>
            <tr ng-repeat="row in emptydata">
                <td class="textalign">{{((current_page-1)*page_size)+$index+1}}</td>
                <td style="text-align: center">
                    <input type="checkbox" ng-model="row.SelectedUser" />
                </td>
                <td style="text-align: left" title="{{row.FullName}}">
                    {{row.UserName}}
                </td>
                <td style="text-align: left" title="{{row.UserType}}">
                    {{row.UserType}}
                </td>
                <td style="text-align: left" title="{{row.EmailId}}">
                    {{row.EmailId}}
                </td>
                <td style="text-align: center">
                    <i class="fa fa-eye" aria-hidden="true" title="Click to View the Email Details"
                        ng-click="GenerateTemplate(row.Id, row.EmailId)"></i>
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="Filter_SendEmailUserList.length >10">
            <tr>
                <td colspan="7" style="text-align: center">
                    <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination=""
                        st-template="Masters/Views/pagination.custom.html">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>


<div id="Template_PreviewModel" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title=""
                    ng-click="CancelPopup()">&times;</button>
                <h4 class="modal-title">Template Preview</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputGroups">
                                <label>To</label>
                                <span>{{EmailId}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Email Subject</label>
                                <span>{{EmailSubject}}</span>
                            </div>
                            <div class="inputGroups">
                                <label>Email Body</label>
                                <span ng-bind-html="Generated_Template"></span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="theme-btn-2" title="Click to Cancel"
                    ng-click="CancelPreview_PopUp()">Cancel</button>
            </div>
        </div>
    </div>
</div>