<h1 class="page-title">Notification Count({{UnreadCount}})</h1>
<div class="panel panel-default" id="Div4" ng-init="NotificationList()">
    <div class="lds-ripple" id="chatLoaderPV" style="display: none;z-index:10000"><div></div><div></div></div>
    <form class="panel-body" role="form">
        <div class="overlay" show-on-load>
            <div id="loading-img"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="inputGroups">
                    <label>Search</label>
                    <div class="modernSearch">
                        <input type="text" ng-model="searchquery" ng-change="ListFilter()"  style="width: 100px"/>
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                
            </div>
        </div>
    
    </form>
</div>
<table st-table="emptydata" style="width: 100%" st-safe-src="UserNotificationList_Filter" class="table themeTable">
    <thead>
        <tr style="text-align: center">
            <th st-ratio="5" st-sort="Id">#</th>
            <th st-ratio="25" st-sort="MessageSubject">Title</th>
            <th st-ratio="47" st-sort="MessageBody">Message</th>
            <th st-ratio="15" st-sort="SentDate">Sent On</th>
            <th st-ratio="8">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="flag==0 && UserNotificationList_Filter.length==0">
            <td colspan="8" style="text-align: center">
                No Data Available
            </td>
        </tr>
        <tr ng-repeat="row in emptydata">
            <td id="id{{((current_page-1)*page_size)+$index+1}}" style="text-align: right" ng-class="{tdBackColor: row.ReadFlag==1}">{{((current_page-1)*page_size)+$index+1}}</td>
            <td id="msubj{{((current_page-1)*page_size)+$index+1}}" style="text-align: left" ng-class="{tdBackColor: row.ReadFlag==1}">
                <div class="textwrap">{{row.MessageSubject}}</div>
            </td>
            <td id="mbody{{((current_page-1)*page_size)+$index+1}}" style="text-align: left" ng-class="{tdBackColor: row.ReadFlag==1}">
                <div class="textwrap">
                    {{ row.MessageBody.length > 100 ? row.MessageBody.substring(0,100)+"..." : row.MessageBody}}
                </div>
            </td>
            <td id="msend{{((current_page-1)*page_size)+$index+1}}" ng-class="{tdBackColor: row.ReadFlag==1}" style="text-align: left">
                {{row.SentDate| date :'dd-MMM-yyyy hh:mm a'}}
            </td>
            <td id="viewid{{((current_page-1)*page_size)+$index+1}}" style="text-align: center" ng-class="{tdBackColor: row.ReadFlag==1}">
                <a href="javascript:" ng-click="NotificationUpdate(((current_page-1)*page_size)+$index+1, row.Id, row.MessageSubject, row.MessageBody, row.ReadFlag)" title="Click to Read Notification">
                    <img src="../../Images/ViewIcon.png" />
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot ng-show="UserNotificationList_Filter.length >10">
        <tr>
            <td colspan="7" style="text-align: center">
                <div st-items-by-page="10" st-page-change="rembemberCurrentPage(newPage)" st-pagination=""
                     st-template="Masters/Views/pagination.custom.html">
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<div style="text-align:center;">
    <button type="button" class="theme-btn-2" title="Click to Cancel"
            ng-click="closeNotification()">
        Cancel
    </button>
    <button type="button" class="theme-btn-2" title="Click to Clear"
            ng-click="clearAllNotification()">
        Clear All
    </button>
</div>

<div style="text-align:left;">    <b>Note: </b>Unread notificiations are highlighted in BOLD
</div>
<div id="NotificationViewModel" class="modal fade-scale" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title=""
                    >&times;</button>
                <h4 class="modal-title">Notification</h4>
            </div>
            <div class="modal-body">
                <form  role="form">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Title</label>
                                <span>{{MessageSubject}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="inputGroups">
                                <label>Message</label>
                                <span ng-bind-html="MessageContent"></span>
                            </div>
                        </div>
                    </div>
             
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="theme-btn-2" title="Click to Cancel"
                    ng-click="CancelModel()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<style>
        .tdBackColor {
        font-weight:bold
    }
</style>